<!-- IF 0 -->

bootlike configuation file

$DARK_MODE_SWITCHER			- Title of the switcher between light and dark mode
$USER_PANEL_TITLE			- Title of the user section in the hidden sidebar
$HIDE_USER_IP				- Only Administrator can see user IP 1 = yes
$FORUM_WIDTH_XXL			- 100% wide until 1320px (currently 1140px) breakpoint is reached 1 = yes
$FORUM_WIDTH_FULL			- Spanning the entire width of the viewport 1 = yes
$CLICKABLE_HEADER			- Makes the entire header clickable 1 = yes
$HEADER_CAROUSEL			- Displays slideshow (images or slides of text) in the header bar 1 = yes
$BANNER_HEIGHT				- Defines the height of the banner (default value 160px)
$STICKY_NAVBAR				- Navbar is positioned with respect to its container (navbar on top must be enabled) 1 = yes
$PROFILE_ON_RIGHT			- Displays poster profile on the right side 1 = yes
$PROFILE_POPUP				- Displays poster profile popup window (does not apply to timeline post view) 1 = yes
$CLASSIC_POST_VIEW			- Enables an old view of post on viewtopic 1 = yes
$SIGNATURE_IN_POST			- Displays signature at the bottom of post 1 = yes
$LOGIN_POPUP				- Displays login popup window 1 = yes
$FORUM_ROW					- Displays forums in rows 1 = yes
$SUBFORUM_COLUMNS			- Displays subforums in columns 1 = yes
$SUBFORUM_COLUMNS_NUMBER	- Nnmber of subforum columns - [3 columns] 3 - [2 columns] 2 -->
$ATTACHMENT_COLUMNS			- Displays attachments in columns - [3 columns] 3 - [2 columns] 2 -->
$MEMBERLIST_CONTACT_BTN		- Displays members contact profile fields as buttons 1 = yes
$CPMENU_ON_LEFT				- Displays UCP and MCP menu on the left side 1 = yes
$LEFT_SIDEBAR				- Enables left sidebar 1 = yes
$RIGHT_SIDEBAR				- Enables right sidebar (default) 1 = yes

--- MAKE CHANGES BELOW ---
<!-- ENDIF -->

<!-- DEFINE $DARK_MODE_SWITCHER = 'Theme' -->
<!-- DEFINE $USER_PANEL_TITLE = 'User Panel' -->
<!-- DEFINE $HIDE_USER_IP = 0 -->
<!-- DEFINE $FORUM_WIDTH_XXL = 0 -->
<!-- DEFINE $FORUM_WIDTH_FULL = 0 -->
<!-- DEFINE $CLICKABLE_HEADER = 0 -->
<!-- DEFINE $HEADER_CAROUSEL = 0 -->
<!-- DEFINE $BANNER_HEIGHT = 200 -->
<!-- DEFINE $STICKY_NAVBAR = 1 -->
<!-- DEFINE $PROFILE_ON_RIGHT = 0 -->
<!-- DEFINE $PROFILE_POPUP = 1 -->
<!-- DEFINE $CLASSIC_POST_VIEW = 0 -->
<!-- DEFINE $SIGNATURE_IN_POST = 0 -->
<!-- DEFINE $LOGIN_POPUP = 1 -->
<!-- DEFINE $FORUM_ROW = 0 -->
<!-- DEFINE $SUBFORUM_COLUMNS = 0 -->
<!-- DEFINE $SUBFORUM_COLUMNS_NUMBER = 3 -->
<!-- DEFINE $ATTACHMENT_COLUMNS = 3 -->
<!-- DEFINE $MEMBERLIST_CONTACT_BTN = 1 -->
<!-- DEFINE $CPMENU_ON_LEFT	 = 0 -->
<!-- DEFINE $LEFT_SIDEBAR = 1 -->
<!-- DEFINE $RIGHT_SIDEBAR = 1 -->