<!-- IF 0 -->

bootlike configuation file

$CLICKABLE_HEADER			- Makes the entire header clickable 1 = yes
$SIDEBAR_ON_LEFT			- Displays sidebar on the left side 1 = yes
$PROFILES_ON_LEFT			- Displays poster profile on the left side 1 = yes
$LOGIN_POPUP_OFF			- Disable login popup window (traditional login method will be used) 1 = yes
$PROFILE_POPUP_OFF			- Disable poster profile popup window 1 = yes
$FORUM_ROW					- Display forums in rows 1 = yes
$SUBFORUM_COLUMNS			- Display subforums in columns 1 = yes
$SUBFORUM_COLUMNS_NUMBER	- Nnmber of subforum columns - [3 columns] '3' - [2 columns] '2' -->
$ATTACHMENT_COLUMNS			- Display attachments in columns - [3 columns] 'row-cols-lg-3 row-cols-md-2 row-cols-1' - [2 columns] 'row-cols-lg-2 row-cols-1' -->

--- MAKE CHANGES BELOW ---
<!-- ENDIF -->

<!-- DEFINE $CLICKABLE_HEADER = 0 -->
<!-- DEFINE $SIDEBAR_ON_LEFT = 0 -->
<!-- DEFINE $PROFILES_ON_LEFT = 0 -->
<!-- DEFINE $LOGIN_POPUP_OFF = 0 -->
<!-- DEFINE $PROFILE_POPUP_OFF = 0 -->
<!-- DEFINE $FORUM_ROW = 0 -->
<!-- DEFINE $SUBFORUM_COLUMNS = 0 -->
<!-- DEFINE $SUBFORUM_COLUMNS_NUMBER = '3' -->
<!-- DEFINE $ATTACHMENT_COLUMNS = 'row-cols-lg-3 row-cols-md-2 row-cols-1' -->