<!-- IF 0 -->

bootlike configuation file

$HIDE_USER_IP				- Only Administrator can see user IP 1 = yes
$FORUM_WIDTH_XXL			- 100% wide until 1320px (currently 1140px) breakpoint is reached 1 = yes
$FORUM_WIDTH_FULL			- Spanning the entire width of the viewport 1 = yes
$CLICKABLE_HEADER			- Makes the entire header clickable 1 = yes
$BANNER_HEIGHT				- Define the height of the banner (default value 160px)
$NAVBAR_ON_TOP				- Displays navbar above the header 1 = yes
$STICKY_NAVBAR				- Navbar is positioned with respect to its container (navbar on top must be enabled) 1 = yes
$PROFILE_ON_RIGHT			- Displays poster profile on the right side 1 = yes
$PROFILE_POPUP_OFF			- Disable poster profile popup window 1 = yes
$LOGIN_POPUP_OFF			- Disable login popup window (traditional login method will be used) 1 = yes
$FORUM_ROW					- Display forums in rows 1 = yes
$SUBFORUM_COLUMNS			- Display subforums in columns 1 = yes
$SUBFORUM_COLUMNS_NUMBER	- Nnmber of subforum columns - [3 columns] 3 - [2 columns] 2 -->
$ATTACHMENT_COLUMNS			- Display attachments in columns - [3 columns] 3 - [2 columns] 2 -->

--- MAKE CHANGES BELOW ---
<!-- ENDIF -->

<!-- DEFINE $HIDE_USER_IP = 0 -->
<!-- DEFINE $FORUM_WIDTH_XXL = 0 -->
<!-- DEFINE $FORUM_WIDTH_FULL = 0 -->
<!-- DEFINE $CLICKABLE_HEADER = 0 -->
<!-- DEFINE $BANNER_HEIGHT = 160 -->
<!-- DEFINE $NAVBAR_ON_TOP = 0 -->
<!-- DEFINE $STICKY_NAVBAR = 0 -->
<!-- DEFINE $PROFILE_ON_RIGHT = 0 -->
<!-- DEFINE $PROFILE_POPUP_OFF = 0 -->
<!-- DEFINE $LOGIN_POPUP_OFF = 0 -->
<!-- DEFINE $FORUM_ROW = 0 -->
<!-- DEFINE $SUBFORUM_COLUMNS = 0 -->
<!-- DEFINE $SUBFORUM_COLUMNS_NUMBER = 3 -->
<!-- DEFINE $ATTACHMENT_COLUMNS = 3 -->