<!-- IF S_TYPE == 1 -->
<div class="card mb-3 col-12 col-lg-10 offset-lg-1">
	<div class="card-header">
		{L_CONFIRMATION}
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-md-6">
				<label class="col-form-label d-block pt-0 mb-1" for="answer" class="col-form-label"><strong>{QA_CONFIRM_QUESTION}{L_COLON}</strong></label>
				<input class="form-control w-100" type="text" tabindex="{$CAPTCHA_TAB_INDEX}" name="qa_answer" id="answer" size="25" title="{L_ANSWER}" />
				<input type="hidden" name="qa_confirm_id" id="qa_confirm_id" value="{QA_CONFIRM_ID}" />
			</div>

			<div class="col-12 col-md-6 order-first order-md-2">
				<p>{L_CONFIRM_QUESTION_EXPLAIN}</p>
			</div>
		</div>
	</div>
</div>
<!-- ELSE -->
	<dl class="row">
		<dt class="col-lg-3 col-md-4 col-12">
			<label class="form-check-label" for="answer" class="col-form-label">{QA_CONFIRM_QUESTION}{L_COLON}</label>
			<div class="small text-muted fw-normal mb-1">{L_CONFIRM_QUESTION_EXPLAIN}</div>
		</dt>
		<dd class="col-lg-9 col-md-8 col-12">
			<input class="form-control" type="text" tabindex="{$CAPTCHA_TAB_INDEX}" name="qa_answer" id="answer" size="25" title="{L_ANSWER}" />
			<input type="hidden" name="qa_confirm_id" id="qa_confirm_id" value="{QA_CONFIRM_ID}" />
		</dd>
	</dl>
<!-- ENDIF -->
