<!-- IF S_TYPE == 1 -->
<div class="col-12 col-lg-10 offset-lg-1">
	<div class="card mb-3">
		<div class="card-header bg-secondary text-white">
			{L_CONFIRMATION}
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-md-6">
					<label class="col-form-label d-block pt-0" for="confirm_code"><strong>{L_CONFIRM_CODE}{L_COLON}</strong></label>
					<img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}">

					<div class="input-group mt-3">
						<input class="form-control" type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" title="{L_CONFIRM_CODE}" />
						<!-- IF S_CONFIRM_REFRESH -->
						<button class="btn btn-secondary" type="submit" name="refresh_vc" id="refresh_vc" value="{L_VC_REFRESH}" title="{L_VC_REFRESH}"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i></button>
						<!-- ENDIF -->
						<button class="btn btn-outline-info" type="button" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{L_CONFIRM_CODE_EXPLAIN}"><i class="fa fa-info fa-fw" aria-hidden="true"></i></button>
					</div>
					<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" />
				</div>

				<div class="col-12 col-md-6 order-first order-md-2">
					<p>{L_CONFIRM_EXPLAIN}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ELSE -->
<dl class="row mb-2">
	<dt class="col-lg-3 col-md-4 col-12"><label class="col-form-label" for="confirm_code">{L_CONFIRM_CODE}{L_COLON}</label></dt>
	<dd class="col-lg-9 col-md-8 col-12 form-inline"><img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}" /></dd>
</dl>
<dl class="row mb-0">
	<dt class="col-lg-3 col-md-4 col-12 d-none d-md-block">&nbsp;</dt>
	<dd class="col-lg-9 col-md-8 col-12 w-auto">
		<div class="input-group">
			<input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="form-control" title="{L_CONFIRM_CODE}" />
			<button class="btn btn-outline-info" type="button" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{L_CONFIRM_CODE_EXPLAIN}"><i class="fa fa-info fa-fw" aria-hidden="true"></i></button>
		</div>
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" />
	</dd>
</dl>
<!-- ENDIF -->
