<!-- IF S_AJAX_REQUEST -->
<form action="{S_CONFIRM_ACTION}" method="post">
	<div class="bg-white border rounded-3">
		<div class="modal-header p-3 d-flex justify-content-between border-bottom">
			<h5>{MESSAGE_TITLE}</h5>
			<a href="#" class="alert_close btn-close" title="{L_CLOSE_WINDOW}"></a>
		</div>
		<p class="p-3">{MESSAGE_TEXT}</p>
		<div class="p-3 border-top">
			<input class="btn btn-success w-100" type="button" name="confirm" value="{L_YES}" />
		</div>
	</div>
</form>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
	<div class="card mb-3">
		<div class="card-header">
			{MESSAGE_TITLE}
		</div>
		<div class="card-body">
			<p>{MESSAGE_TEXT}</p>
		</div>

		<div class="card-footer">
			{S_HIDDEN_FIELDS}
			<div class="row">
				<div class="d-grid col-4 mx-auto">
					<button class="btn btn-secondary" type="submit" name="cancel" value="{L_NO}"><i class="fa fa-minus fa-fw" aria-hidden="true"></i> {L_NO}</button>
				</div>
				<div class="d-grid col-4 mx-auto">
					<button class="btn btn-success" type="submit" name="confirm" value="{L_YES}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> {L_YES}</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->

<!-- ENDIF -->
