
<!-- IF .draftrow -->
<div class="alert alert-info">
	<strong>{L_LOAD_DRAFT}</strong><br>
	{L_LOAD_DRAFT_EXPLAIN}
</div>

<div class="card mb-3 pb-1">
	<div class="card-header">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-12">{L_LOAD_DRAFT}</div>
			<div class="col-lg-3 col-md-4 d-none d-md-block">{L_SAVE_DATE}</div>
		</div>
	</div>

	<!-- BEGIN draftrow -->
	<div class="container-fluid row-item p-0">
		<div class="row m-0 mt-1 p-1 align-items-center bg1">
			<div class="col-lg-9 col-md-8 col-12">
				<a class="topictitle" href="{draftrow.U_INSERT}#postform" title="{L_LOAD_DRAFT}">{draftrow.DRAFT_SUBJECT}</a><br>
				<!-- IF not S_PRIVMSGS --><!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
				<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
				<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF --><!-- ENDIF -->
				<div class="d-md-none">
					{L_SAVE_DATE}{L_COLON} {draftrow.DATE}
				</div>
			</div>
		
			<div class="col-lg-3 col-md-4 d-none d-md-block">{draftrow.DATE}</div>
		</div>
	</div>
	<!-- END draftrow -->
</div>

<!-- ENDIF -->
