<!-- INCLUDE overall_header.html -->

<h5 class="card-title mb-0 text-capitalize">{L_FAQ_TITLE}</h5>

<div class="container-fluid">
	<div class="row">
	
		<div class="col-lg-3 col-md-4 col-12 mb-3">
			<ul id="faq_links" class="nav nav-pills my-3">
			<!-- BEGIN faq_block -->
				<li class="nav-item dropdown w-100<!-- IF not faq_block.S_LAST_ROW --> border-bottom<!-- ENDIF -->"><a class="nav-link dropdown-toggle text-wrap rounded-0" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{faq_block.BLOCK_TITLE}</a>
					<ul class="dropdown-menu dropdown-menu-start">
					<!-- BEGIN faq_row -->
						<li><a class="dropdown-item" href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></li>
					<!-- END faq_row -->
					</ul>
				</li>
				<!-- END faq_block -->
			</ul>
		</div>
	
		<div class="col-lg-9 col-md-8 col-12 position-relative mb-3 px-1 px-md-3 overflow-auto" style="height: 450px;" data-bs-spy="scroll" data-bs-target="#faq_links" data-bs-offset="0" tabindex="0">
		<!-- BEGIN faq_block -->
			<p class="text-bg-primary mt-3 p-2 px-3 rounded-0">{faq_block.BLOCK_TITLE}</p>
			<!-- BEGIN faq_row -->
				<p id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}" class="mb-1"><strong>{faq_block.faq_row.FAQ_QUESTION}</strong></p>
				<p class="m-0">{faq_block.faq_row.FAQ_ANSWER}</p>
			<!-- IF not faq_block.faq_row.S_LAST_ROW -->
				<hr class="fancyhr">
			<!-- ENDIF -->
			<!-- END faq_row -->
		<!-- END faq_block -->
		</div>
	
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
