<!-- BEGIN forumrow -->
	<!-- IF forumrow.FORUM_IMAGE -->
	<div id="forum-image-popup-{forumrow.FORUM_ID}" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">{L_FORUM} <span class="text-lowercase">{L_IMAGE}</span></h5>
				</div>

				<div class="modal-body">{forumrow.FORUM_IMAGE}</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">{L_CLOSE_WINDOW}</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ENDIF -->
<!-- END forumrow -->