<ul class="dropdown-menu dropdown-menu-start dropdown-contents">
<!-- BEGIN jumpbox_forums -->
	<!-- IF jumpbox_forums.FORUM_ID neq -1 -->
		<li class="jumpbox"><a class="dropdown-item<!-- IF jumpbox_forums.S_IS_CAT --> active<!-- ENDIF --> text-truncate" href="{jumpbox_forums.LINK}"><!-- BEGIN level -->&nbsp; &nbsp;<!-- END level --><!-- IF jumpbox_forums.level --><!-- IF S_CONTENT_DIRECTION eq 'rtl' -->&#8626;<!-- ELSE -->&#8627;<!-- ENDIF --> &nbsp;<!-- ENDIF -->{jumpbox_forums.FORUM_NAME}</a></li>
		<!-- IF not jumpbox_forums.S_LAST_ROW -->
		<li class="dropdown-divider m-0"></li>
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- END jumpbox_forums -->
</ul>