<!-- INCLUDE overall_header.html -->

<!-- IF FORUM_NAME -->
<h3 class="mb-3"><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h3>
<!-- ENDIF -->

<form id="login_forum" method="post" action="{S_LOGIN_ACTION}">
	{S_FORM_TOKEN}
	<div class="col-md-12 col-lg-10 offset-lg-1 mb-3">
		<div class="card">
			<div class="card-header">{L_LOGIN}</div>
	
			<div class="card-body">
				<p>{L_LOGIN_FORUM}</p>
	
				<!-- IF LOGIN_ERROR -->
				<div class="alert alert-danger">{LOGIN_ERROR}</div>
				<!-- ENDIF -->
	
				<div class="form-floating mb-3">
					<input class="form-control w-50" type="password" tabindex="1" id="password" name="password" size="25" placeholder="{L_PASSWORD}" autocomplete="off" />
					<label for="password">{L_PASSWORD}</label>
				</div>
				{S_LOGIN_REDIRECT}
				{S_FORM_TOKEN_LOGIN}
			</div>
	
			<div class="card-footer">
				{S_HIDDEN_FIELDS}
				<button class="btn btn-success w-50" type="submit" name="login" id="login" value="{L_LOGIN}" tabindex="2"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i> {L_LOGIN}</button>
			</div>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->
