<!-- INCLUDE simple_header.html -->

<form action="{S_LOGIN_ACTION}" method="post" id="login" data-focus="<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->">

	<div class="container-fluid d-flex align-items-center vh-100">
		<div class="col-12<!-- IF S_ADMIN_AUTH --> col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1<!-- ELSE --> col-xl-8 offset-xl-2 col-lg-10 offset-lg-1<!-- ENDIF -->">

			<div class="row align-items-center<!-- IF not S_ADMIN_AUTH --> text-bg-dark pe-md-4 rounded-4 shadow<!-- ENDIF -->">

			<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
				<div class="col-12 col-lg-7 col-md-7 p-4">
					<p class="d-none d-md-block">{L_LOGIN_INFO}</p>
					<div class="row mb-3 mb-md-2">
						<div class="d-grid col-6">
							<a href="{U_INDEX}" class="btn btn-secondary"><i class="fa fa-home fa-fw" aria-hidden="true"></i> {L_HOME}</a>
						</div>
						<div class="d-grid col-6">
							<a href="{U_REGISTER}" class="btn btn-primary"><i class="fa fa-pencil-square-o  fa-fw" aria-hidden="true"></i> {L_REGISTER}</a>
						</div>
					</div>
					<div class="small d-none d-md-block text-center">{CREDIT_LINE}</div>
				</div>
			<!-- ENDIF -->

				<div class="col-12 col-lg-5 col-md-5<!-- IF S_ADMIN_AUTH --> w-100<!-- ENDIF --> p-4 simple-login text-bg-light rounded-4 shadow" style="margin-top: -1.5rem !important; margin-bottom: -1.5rem !important;">
					<h4 class="card-title mb-3 pb-1 lh-sm"><span><!-- IF LOGIN_EXPLAIN -->{LOGIN_EXPLAIN}<!-- ELSE -->{L_LOGIN}<!-- ENDIF --></span></h4>

				<!-- IF LOGIN_ERROR -->
					<div class="alert alert-danger">{LOGIN_ERROR}</div>
				<!-- ENDIF -->

					<div class="form-floating mb-3">
						<input class="form-control w-100" type="text" id="{USERNAME_CREDENTIAL}" name="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" autocomplete="username" placeholder="{L_USERNAME}" tabindex="1" />
						<label for="{USERNAME_CREDENTIAL}">{L_USERNAME}</label>
					</div>

					<div class="form-floating mb-3">
						<input class="form-control w-100" type="password" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" autocomplete="current-password" placeholder="{L_PASSWORD}" tabindex="2" />
						<label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}</label>
					</div>

				<!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
					<!-- IF U_SEND_PASSWORD -->
					<div class="mb-2"><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a></div>
					<!-- ENDIF -->
					<!-- IF U_RESEND_ACTIVATION -->
					<div class="mb-2"><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a></div>
					<!-- ENDIF -->
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_FULL_LOGIN -->
					<div class="mb-2">
					<!-- IF S_AUTOLOGIN_ENABLED -->
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" name="autologin" id="autologin" tabindex="4" />
							<label class="form-check-label" for="autologin">{L_LOG_ME_IN}</label>
						</div>
					<!-- ENDIF -->
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" name="viewonline" id="viewonline" tabindex="5" />
							<label class="form-check-label" for="viewonline">{L_HIDE_ME}</label>
						</div>
					</div>
				<!-- ENDIF -->

					{S_LOGIN_REDIRECT}
					{S_FORM_TOKEN_LOGIN}
					{S_HIDDEN_FIELDS}

					<div class="row">
					<!-- IF S_ADMIN_AUTH -->
						<div class="d-grid col-6 mx-auto">
							<a class="btn btn-secondary" href="{U_INDEX}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <span class="text-nowrap">{L_HOME}</span></a>
						</div>
					<!-- ENDIF -->
						<div class="d-grid<!-- IF S_ADMIN_AUTH --> col-6<!-- ELSE --> col-12<!-- ENDIF --> mx-auto">
							<button class="btn btn-success w-100" type="submit" name="login" tabindex="5" value="{L_LOGIN}"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i> {L_LOGIN}</button>
						</div>
					</div>
				</div>

			</div>

			<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
				<!-- DEFINE $CAPTCHA_TAB_INDEX = 6 -->
			<hr class="mt-5 mb-2">
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->

			<!-- IF not S_ADMIN_AUTH and PROVIDER_TEMPLATE_FILE -->
			<hr class="mt-5 mb-2">
				<!-- INCLUDE {PROVIDER_TEMPLATE_FILE} -->
			<!-- ENDIF -->			

		</div>
	</div>

</form>

<!-- INCLUDE simple_footer.html -->