<!-- INCLUDE mcp_header.html -->

<!-- EVENT mcp_front_latest_unapproved_before -->

<!-- IF S_SHOW_UNAPPROVED -->

	<form id="mcp_queue" method="post" action="{S_MCP_QUEUE_ACTION}">

		<h5 class="card-title pb-1 lh-sm text-capitalize"><span>{L_LATEST_UNAPPROVED}</span></h5>
		<p>{L_UNAPPROVED_TOTAL}</p>

		<!-- IF .unapproved -->
		<div class="card mb-3">
		<div class="card-header mb-1 border-bottom-0">
			<div class="row">
				<div class="col-md-6 col-sm-10 col-9">{L_VIEW_DETAILS}</div>
				<div class="col-md-4 d-none d-md-block">{L_TOPIC} &amp; {L_FORUM}</div>
				<div class="col-sm-2 col-3 text-center">{{ lang('MARK') }}</div>
			</div>
		</div>

			<!-- BEGIN unapproved -->
			<div class="container-fluid row-item p-0">
				<div class="row m-1 mt-0 p-1 align-items-center bg1">
					<div class="col-md-6 col-sm-10 col-9">
						<a class="topic-title" href="{unapproved.U_POST_DETAILS}">{unapproved.SUBJECT}</a><br>
						<!-- IF unapproved.ATTACH_ICON_IMG --><i class="fa fa-paperclip" title="{L_TOTAL_ATTACHMENTS}" aria-hidden="true"></i><span class="visually-hidden">{L_TOTAL_ATTACHMENTS}</span><!-- ENDIF -->
						{L_POSTED} {L_POST_BY_AUTHOR} {unapproved.AUTHOR_FULL} &raquo; {unapproved.POST_TIME}
				
						<div class="d-md-none">
							{L_TOPIC}{L_COLON} <a href="{unapproved.U_TOPIC}">{unapproved.TOPIC_TITLE}</a> [<a href="{unapproved.U_MCP_TOPIC}">{L_MODERATE}</a>]<br>
							{L_FORUM}{L_COLON} <!-- IF unapproved.U_FORUM --><a href="{unapproved.U_FORUM}">{unapproved.FORUM_NAME}</a><!-- ELSE -->{unapproved.FORUM_NAME}<!-- ENDIF --><!-- IF unapproved.U_MCP_FORUM --> [<a href="{unapproved.U_MCP_FORUM}">{L_MODERATE}</a>]<!-- ENDIF -->
						</div>
					</div>
				
					<div class="col-md-4 d-none d-md-block">
						{L_TOPIC}{L_COLON} <a href="{unapproved.U_TOPIC}">{unapproved.TOPIC_TITLE}</a> [<a href="{unapproved.U_MCP_TOPIC}">{L_MODERATE}</a>]<br>
						{L_FORUM}{L_COLON} <!-- IF unapproved.U_FORUM --><a href="{unapproved.U_FORUM}">{unapproved.FORUM_NAME}</a><!-- ELSE -->{unapproved.FORUM_NAME}<!-- ENDIF --><!-- IF unapproved.U_MCP_FORUM --> [<a href="{unapproved.U_MCP_FORUM}">{L_MODERATE}</a>]<!-- ENDIF -->
					</div>
					<div class="col-sm-2 col-3 text-center"><div class="form-switch mx-auto"><input class="form-check-input" type="checkbox" name="post_id_list[]" value="{unapproved.POST_ID}" /></div></div>
				</div>
			</div>
			<!-- END unapproved -->
		</div>
		<!-- ENDIF -->

	{S_FORM_TOKEN}

	<!-- IF .unapproved -->
	<div class="card mb-3">
		<div class="action-bar d-sm-flex justify-content-end bg1">
			{S_HIDDEN_FIELDS}
			<button class="btn btn-lg rounded-0 border-0" type="submit" name="action[disapprove]" value="{L_DISAPPROVE}" title="{L_DISAPPROVE}"><i class="fa fa-thumbs-o-down fa-fw" aria-hidden="true"></i></button>
			<button class="btn btn-lg rounded-0 border-0" type="submit" name="action[approve]" value="{L_APPROVE}" title="{L_APPROVE}"><i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i></button>
			<a href="#" onclick="marklist('mcp_queue', 'post_id_list', false); return false;" class="btn btn-lg rounded-0 border-0" title="{L_UNMARK_ALL}"><i class="fa fa-toggle-off fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_UNMARK_ALL}</span></a>
			<a href="#" onclick="marklist('mcp_queue', 'post_id_list', true); return false;" class="btn btn-lg rounded-0 border-0" title="{L_MARK_ALL}"><i class="fa fa-toggle-on fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_MARK_ALL}</span></a>
		</div>
	</div>
	<!-- ENDIF -->
		</form>
<!-- ENDIF -->

<!-- EVENT mcp_front_latest_reported_before -->

<!-- IF S_SHOW_REPORTS -->

		<h5 class="card-title pb-1 lh-sm text-capitalize"><span>{L_LATEST_REPORTED}</span></h5>
		<p>{L_REPORTS_TOTAL}</p>

		<!-- IF .report -->
		<div class="card mb-3">
			<div class="card-header mb-1 border-bottom-0">
				<div class="row">
					<div class="col-lg-8 col-md-7 col-12">{L_VIEW_DETAILS}</div>
					<div class="col-lg-4 col-md-5 d-none d-md-block">{L_REPORTER} &amp; {L_FORUM}</div>
				</div>
			</div>

			<!-- BEGIN report -->
			<div class="container-fluid row-item p-0">
				<div class="row m-1 mt-0 p-1 align-items-center bg1">
					<div class="col-lg-8 col-md-7 col-12">
						<a class="topic-title" href="{report.U_POST_DETAILS}#reports">{report.SUBJECT}</a><br>
						<!-- IF report.ATTACH_ICON_IMG --><i class="fa fa-paperclip" title="{L_TOTAL_ATTACHMENTS}" aria-hidden="true"></i><!-- ENDIF -->
						{L_POSTED} {L_POST_BY_AUTHOR} {report.AUTHOR_FULL} &raquo; {report.POST_TIME}
				
						<div class="d-md-none">
							{L_REPORTED} {L_POST_BY_AUTHOR} {report.REPORTER_FULL} {L_REPORTED_ON_DATE} {{ report.REPORT_TIME }}<br>
							{L_FORUM}{L_COLON} <a href="{report.U_FORUM}">{report.FORUM_NAME}</a>
						</div>
					</div>
				
					<div class="col-lg-4 col-md-5 d-none d-md-block">
						{L_REPORTED} {L_POST_BY_AUTHOR} {report.REPORTER_FULL} {L_REPORTED_ON_DATE} {report.REPORT_TIME}<br>
						{L_FORUM}{L_COLON} <a href="{report.U_FORUM}">{report.FORUM_NAME}</a>
					</div>
				</div>
			</div>
			<!-- END report -->
		</div>
		<!-- ENDIF -->
<!-- ENDIF -->

<!-- EVENT mcp_front_latest_reported_pms_before -->

<!-- IF S_SHOW_PM_REPORTS -->

		<h5 class="card-title pb-1 lh-sm text-capitalize"><span>{L_LATEST_REPORTED_PMS}</span></h5>
		<p>{L_PM_REPORTS_TOTAL}</p>

		<!-- IF .pm_report -->
		<div class="card mb-3">
			<div class="card-header mb-1 border-bottom-0">
				<div class="row align-items-center">
					<div class="col-lg-8 col-md-7 col-12">{L_VIEW_DETAILS}</div>
					<div class="col-lg-4 col-md-5 d-none d-md-block">{L_REPORTER}</div>
				</div>
			</div>

			<!-- BEGIN pm_report -->
			<div class="container-fluid row-item p-0">
				<div class="row m-1 mt-0 p-1 align-items-center bg1">
					<div class="col-lg-8 col-md-7 col-12">
						<a class="topic-title" href="{pm_report.U_PM_DETAILS}">{pm_report.PM_SUBJECT}</a><br>
						<!-- IF pm_report.ATTACH_ICON_IMG --><i class="fa fa-paperclip" title="{L_TOTAL_ATTACHMENTS}" aria-hidden="true"></i><!-- ENDIF -->
						{L_MESSAGE_BY_AUTHOR} {pm_report.PM_AUTHOR_FULL} &raquo; {pm_report.PM_TIME}<br>
						{L_MESSAGE_TO} {pm_report.RECIPIENTS}
				
						<div class="d-md-none">
							{L_REPORTED} {L_POST_BY_AUTHOR} {pm_report.REPORTER_FULL} {L_REPORTED_ON_DATE} {pm_report.REPORT_TIME}
						</div>
					</div>
				
					<div class="col-lg-4 col-md-5 d-none d-md-block">
						{L_REPORTED} {L_POST_BY_AUTHOR} {pm_report.REPORTER_FULL} {L_REPORTED_ON_DATE} {pm_report.REPORT_TIME}
					</div>
				</div>
			</div>
			<!-- END pm_report -->
		</div>
		<!-- ENDIF -->
<!-- ENDIF -->

<!-- EVENT mcp_front_latest_logs_before -->

<!-- IF S_SHOW_LOGS -->

	<h5 class="card-title pb-1 lh-sm text-capitalize"><span>{L_LATEST_LOGS}</span></h5>

	<div class="card mb-3">
		<div class="card-header mb-1 border-bottom-0">
			<div class="row">
				<div class="col-12 col-md-6">{L_ACTION}</div>
				<div class="col-12 col-md-6 d-none d-md-block">
					<div class="row align-items-center">
						<div class="col-12 col-md-4 text-center">{L_MCP_NOTES_USER}</div>
						<div class="col-12 col-md-4">{L_TOPIC}/<span class="text-lowercase">{L_LOGS}</span></div>
						<div class="col-12 col-md-4">{L_TIME}</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BEGIN log -->
		<div class="container-fluid row-item p-0">
			<div class="row m-1 mt-0 p-1 align-items-center bg1">
				<div class="col-12 col-md-6 py-1">
					<a class="btn btn-secondary float-end ms-3 mt-2 py-0 d-md-none toggle-plus" href="#collapse_log_actions_{log.S_ROW_COUNT}" title="{L_EXPAND_VIEW}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse_log_actions"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></a>
					{log.ACTION}
				</div>
				<div class="col-12 col-md-6">
					<div id="collapse_log_actions_{log.S_ROW_COUNT}" class="row align-items-center collapse d-md-flex">
						<div class="col-12 col-md-4 py-1 text-md-center">
							<span class="fw-semibold d-md-none">{L_MCP_NOTES_USER}{L_COLON}</span> {log.USERNAME}
							<!-- IF not $HIDE_USER_IP or U_ACP --><br class="d-none d-md-block">{log.IP}<!-- ENDIF -->
						</div>
						<div class="col-12 col-md-4 py-1">
							<span class="fw-semibold d-md-none">{L_TOPIC}/<span class="text-lowercase">{L_LOGS}</span>{L_COLON}</span>
							<!-- IF log.U_VIEW_TOPIC -->
								<a href="{log.U_VIEW_TOPIC}" title="{L_VIEW_TOPIC}">{L_VIEW_TOPIC}</a><br class="d-none d-md-block">
							<!-- ENDIF -->
							<!-- IF log.U_VIEWLOGS -->
								<a href="{log.U_VIEWLOGS}">{L_VIEW_TOPIC_LOGS}</a>
							<!-- ENDIF -->
						</div>
						<div class="col-12 col-md-4 py-1"><span class="fw-semibold d-md-none">{L_TIME}{L_COLON}</span> {log.TIME}</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BEGINELSE -->
		<div class="container-fluid p-0">
			<div class="m-1 mt-md-0 px-3 py-2 text-center bg1">{L_NO_ENTRIES}</div>
		</div>
		<!-- END log -->
	</div>
<!-- ENDIF -->

<!-- EVENT mcp_front_latest_logs_after -->

<!-- INCLUDE mcp_footer.html -->
