<!-- INCLUDE overall_header.html -->

<h3 class="cp-title mb-3">
	{L_MCP}
	<small>
	<!-- BEGIN l_block1 -->
		<!-- BEGIN l_block2 -->
		<!-- IF l_block1.l_block2.S_SELECTED -->- {l_block1.l_block2.L_TITLE}<!-- IF U_VIEW_FORUM -->{L_COLON} <a href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- ENDIF --><!-- IF U_VIEW_TOPIC -->{L_COLON} <a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- ENDIF --> {POST_SUBJECT}<!-- ENDIF -->
		<!-- END l_block2 -->
	<!-- END l_block1 -->
	</small>
</h3>

<!-- IF U_MCP -->
	<ul class="breadcrumb" role="menubar">
	<!-- IF U_ACP -->
		<li class="breadcrumb-item"><a href="{U_ACP}" data-responsive-text="{L_ACP_SHORT}">{L_ACP}</a></li>
	<!-- ENDIF -->
		<li class="breadcrumb-item"><a href="{U_MCP}" data-responsive-text="{L_MCP_SHORT}">{L_MCP}</a></li>
	<!-- IF U_MCP_FORUM -->
		<li class="breadcrumb-item"><a href="{U_MCP_FORUM}">{L_MODERATE_FORUM}</a></li>
	<!-- ENDIF -->
	<!-- IF U_MCP_TOPIC -->
		<li class="breadcrumb-item"><a href="{U_MCP_TOPIC}">{L_MODERATE_TOPIC}</a>
	<!-- ENDIF -->
	<!-- IF U_MCP_POST -->
		<li class="breadcrumb-item"><a href="{U_MCP_POST}">{L_MODERATE_POST}</a></li>
	<!-- ENDIF -->
	</ul>
<!-- ENDIF -->

<div class="container-fluid p-0">
	<div class="row">

	<div id="cp-menu" class="cp-menu col-lg-3<!-- IF not $CPMENU_ON_LEFT --> order-lg-2<!-- ENDIF -->">

		<div id="navigation" role="navigation">
			<div class="list-group mb-3 rounded-0">
		<!-- BEGIN l_block1 -->
			<!-- IF l_block1.S_SELECTED -->
				<a class="list-group-item list-group-item-action active" href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a>
			<!-- ENDIF -->
		<!-- END l_block1 -->

		<!-- BEGIN l_block1 -->
			<!-- IF l_block1.S_SELECTED -->
				<!-- BEGIN l_block2 -->
				<a class="list-group-item list-group-item-action<!-- IF l_block1.l_block2.S_SELECTED --> pe-none<!-- ENDIF -->" href="{l_block1.l_block2.U_TITLE}"><!-- IF l_block1.l_block2.S_SELECTED --><i class="fa<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> fa-level-down<!-- ELSE --> fa-level-up<!-- ENDIF --> fa-rotate-90" aria-hidden="true"></i> &nbsp; <!-- ENDIF -->{l_block1.l_block2.L_TITLE}<!-- IF l_block1.l_block2.ADD_ITEM --> ({l_block1.l_block2.ADD_ITEM})<!-- ENDIF --></a>
				<!-- END l_block2 -->
			<!-- ENDIF -->
		<!-- END l_block1 -->
			</div>
		</div>

		<div class="list-group mb-3 rounded-0">
	<!-- BEGIN l_block1 -->
		<!-- IF not l_block1.S_SELECTED -->
			<a class="list-group-item list-group-item-action" href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a>
			<!-- ENDIF -->
	<!-- END l_block1 -->
		</div>

	</div>

	<div id="cp-main" class="col-lg-9">

	<!-- IF MESSAGE -->
		<div class="card mb-3">
			<div class="card-header">
				{L_MESSAGE}
			</div>
			<div class="card-body">
				<p class="alert alert-danger<!-- IF not return_links --> mb-0<!-- ENDIF -->">{MESSAGE}</p>
			<!-- BEGIN return_links -->{return_links.MESSAGE_LINK}<!-- END return_links -->
			</div>
		</div>
	<!-- ENDIF -->
