<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

	<div class="card mb-3">
		<div class="action-bar d-sm-flex justify-content-between bg1">
			<div class="d-flex">
				<!-- INCLUDE display_options.html -->

				<div>
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_SEARCH}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
					<div class="dropdown-menu dropdown-menu-start" role="search">
						<div class="input-group px-2">
							<input type="search" class="form-control" name="keywords" value="{S_KEYWORDS}" placeholder="{L_SEARCH_KEYWORDS}" />
							<button type="submit" name="filter" class="btn btn-secondary" title="{L_SEARCH}"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
						</div>
					</div>
				</div>
			</div>

			<div class="btn btn-lg d-none d-lg-block disabled fs-6 mt-1 text-nowrap border-0">
				{TOTAL} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>

			<div class="d-flex">
			<!-- IF .pagination --> 
				<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
				<div class="dropdown-menu dropdown-menu-end">
					<div class="input-group px-2">
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ELSE -->
				&nbsp;
			<!-- ENDIF -->
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header mb-1 border-bottom-0">
			<div class="row">
				<div class="col-12<!-- IF S_CLEAR_ALLOWED --> col-md-6<!-- ELSE --> col-md-8<!-- ENDIF -->">{L_ACTION}</div>
				<div class="col-12 col-md-2 text-center d-none d-md-block">{L_MCP_NOTES_USER}</div>
				<div class="col-12 col-md-2 d-none d-md-block">{L_TIME}</div>
			<!-- IF S_CLEAR_ALLOWED -->
				<div class="col-12 col-md-2 text-md-center d-none d-md-block">{L_MARK}</div>
			<!-- ENDIF -->
			</div>
		</div>
	<!-- IF S_LOGS -->
		<!-- BEGIN log -->
		<div class="container-fluid p-0">
			<div class="row m-1 mt-0 p-1 align-items-center bg1">
				<div class="col-12 col-md-6 py-1">
					<a class="btn btn-secondary float-end ms-3 mt-2 py-0 d-md-none toggle-plus" href="#collapse_log_actions_{log.S_ROW_COUNT}" title="{L_EXPAND_VIEW}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse_log_actions"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></a>
					{log.ACTION}<br>{log.DATA}
				</div>
				<div class="col-12 col-md-6">
					<div id="collapse_log_actions_{log.S_ROW_COUNT}" class="row align-items-center collapse d-md-flex">
						<div class="col-12 col-md-4 py-1 text-md-center">
							<span class="fw-semibold d-md-none">{L_MCP_NOTES_USER}{L_COLON}</span> {log.USERNAME}
						<!-- IF not $HIDE_USER_IP or U_ACP -->
							<br class="d-none d-md-block" />{log.IP}
						<!-- ENDIF -->
						</div>
						<div class="col-12 col-md-4 py-1">
							<span class="fw-semibold d-md-none">{L_TIME}{L_COLON}</span> {log.DATE}
						</div>
					<!-- IF S_CLEAR_ALLOWED -->
						<div class="col-12 col-md-4 d-sm-flex py-1 text-md-center">
							<span class="fw-semibold d-md-none me-1">{L_MARK}{L_COLON}</span>
							<div class="form-switch mx-md-auto"><input class="form-check-input" type="checkbox" name="mark[]" value="{log.ID}" /></div>
						</div>
					<!-- ENDIF -->
					</div>
				</div>
			</div>
		</div>
		<!-- END log -->
	<!-- ELSE -->
		<div class="container-fluid p-0">
			<div class="m-1 mt-0 px-3 py-2 text-center bg1">{L_NO_ENTRIES}</div>
		</div>
	<!-- ENDIF -->
	</div>

	<!-- IF .log -->
		{S_FORM_TOKEN}
		<!-- IF S_CLEAR_ALLOWED -->
		<div class="card mb-3">
			<div class="action-bar d-sm-flex justify-content-end bg1">
				<input class="btn btn-lg rounded-0 border-0" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />
				<input class="btn btn-lg rounded-0 border-0" type="submit" value="{L_DELETE_MARKED}" name="action[del_marked]" />
				<a href="#" onclick="marklist('mcp', 'mark', false); return false;" class="btn btn-lg rounded-0 border-0" title="{L_UNMARK_ALL}"><i class="fa fa-toggle-off fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_UNMARK_ALL}</span></a>
				<a href="#" onclick="marklist('mcp', 'mark', true); return false;" class="btn btn-lg rounded-0 border-0" title="{L_MARK_ALL}"><i class="fa fa-toggle-on fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_MARK_ALL}</span></a>
			</div>
		</div>
		<!-- ENDIF -->

	<!-- ELSE -->
			{S_FORM_TOKEN}
	<!-- ENDIF -->

</form>

<!-- INCLUDE mcp_footer.html -->
