<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

	<h4 class="mb-3">{L_MCP_WARN_POST}</h4>

	<div class="card mb-3">
		<div class="card-header">
			<!-- IF USER_COLOR --><span style="color: #{USER_COLOR}">{USERNAME}</span><!-- ELSE -->{USERNAME}<!-- ENDIF -->
		</div>

		<div class="card-body p-0">
			<div class="row m-0">

			<!-- IF AVATAR_IMG -->
				<div class="postprofile col-lg-3 col-md-4<!-- IF not $PROFILES_ON_LEFT --> order-first order-md-2<!-- ENDIF --> bg2">
					<div class="text-center p-3">{AVATAR_IMG}</div>
				</div>
			<!-- ENDIF -->
				<div class="postbody<!-- IF AVATAR_IMG --> col-lg-9 col-md-8<!-- ELSE --> col-12<!-- ENDIF --> p-0<!-- IF not $PROFILES_ON_LEFT and AVATAR_IMG --> border-end<!-- ELSEIF AVATAR_IMG --> border-start<!-- ENDIF --> bg-light">
				<hr class="d-md-none m-0">

					<div class="px-3 py-2">
						<dl class="row mb-0">
						<!-- IF RANK_TITLE -->
							<dt class="col-lg-4 col-md-5 col-12">{L_RANK}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{RANK_TITLE}</dd>
						<!-- ENDIF -->
						<!-- IF RANK_IMG -->
							<dt class="col-lg-4 col-md-5 col-12"><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}{L_COLON}<!-- ENDIF --></dt>
							<dd class="col-lg-8 col-md-7 col-12">{RANK_IMG}</dd>
						<!-- ENDIF -->
							<dt class="col-lg-4 col-md-5 col-12">{L_JOINED}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{JOINED}</dd>
							<dt class="col-lg-4 col-md-5 col-12">{L_TOTAL_POSTS}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{POSTS}</dd>
							<dt class="col-lg-4 col-md-5 col-12">{L_WARNINGS}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{WARNINGS}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header">
			{L_POST_DETAILS}
		</div>
		<div class="card-body bg-light">
			<div class="postbody">
				<div class="content">{POST}</div>
			</div>
		</div>
	</div>

	<!-- EVENT mcp_warn_post_add_warning_field_before -->

	<div class="card mb-3">
		<div class="card-header">
			{L_ADD_WARNING}
		</div>
		<div class="card-body">
			<div class="alert alert-info">{L_ADD_WARNING_EXPLAIN}</div>

			<textarea name="warning" id="warning" class="form-control" cols="40" rows="3">{L_WARNING_POST_DEFAULT}</textarea>
			<!-- IF S_CAN_NOTIFY -->
			<div class="form-switch">
				<label class="col-form-label"><input class="form-check-input" type="checkbox" name="notify_user" checked="checked" /> {L_NOTIFY_USER_WARN}</label>
			</div>
			<!-- ENDIF -->
		</div>
	</div>

	<!-- EVENT mcp_warn_post_add_warning_field_after -->


	<div class="d-grid col-4 mx-auto mb-3">
		<button class="btn btn-success" type="submit" name="action[add_warning]" value="{L_SUBMIT}"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i> {L_SUBMIT}</button>
		{S_FORM_TOKEN}
	</div>

</form>

<!-- INCLUDE mcp_footer.html -->
