<!-- IF S_AJAX_REQUEST -->

	<h3>{MESSAGE_TITLE}</h3>
	<p>{MESSAGE_TEXT}</p>

	<!-- IF ADDITIONAL_MSG --><div class="alert alert-info">{ADDITIONAL_MSG}</div><!-- ENDIF -->

	<label class="col-form-label">
		<strong>{L_SELECT_DESTINATION_FORUM}{L_COLON}</strong>
		<select class="form-select" name="to_forum_id">{S_FORUM_SELECT}</select>
	</label>

	<!-- IF S_CAN_LEAVE_SHADOW -->
		<label class="form-check-label" for="move_leave_shadow">
			<input class="form-check-input" type="checkbox" name="move_leave_shadow" id="move_leave_shadow" /> {L_LEAVE_SHADOW}
		</label>
	<!-- ENDIF -->

	<!-- IF S_CAN_LOCK_TOPIC -->
		<label class="form-check-label" for="move_lock_topics">
			<input class="form-check-input" type="checkbox" name="move_lock_topics" id="move_lock_topics" /> {L_LOCK_TOPIC}
		</label>
	<!-- ENDIF -->

	<div class="text-center">
		<input class="btn btn-danger me-1" type="button" name="cancel" value="{L_NO}" />
		<input class="btn btn-success" type="button" name="confirm" value="{YES_VALUE}" />
	</div>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<!-- EVENT mcp_move_before -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">

	<div class="col-md-12 col-lg-10 offset-lg-1">
		<div class="card mb-3">
			<div class="card-header bg-secondary text-white">
				{MESSAGE_TITLE}
			</div>
			<div class="card-body pb-0">
			<!-- IF ADDITIONAL_MSG -->
				<div class="alert alert-info">{ADDITIONAL_MSG}</div>
			<!-- ENDIF -->

				{% EVENT mcp_move_destination_forum_before %}
				<dl class="row">
					<dt class="col-lg-3 col-md-4 col-12"><label class="col-form-label">{L_SELECT_DESTINATION_FORUM}{L_COLON}</label></dt>
					<dd class="col-lg-9 col-md-8 col-12"><select class="form-select" name="to_forum_id">{S_FORUM_SELECT}</select></dd>
				</dl>
				<!-- IF S_CAN_LEAVE_SHADOW or S_CAN_LOCK_TOPIC -->
				<dl class="row">
					<dt class="col-lg-3 col-md-4 col-12 d-none d-md-block">&nbsp;</dt>
					<dd class="col-lg-9 col-md-8 col-12">
				<!-- IF S_CAN_LEAVE_SHADOW -->
					<div class="form-check form-switch">
						<label class="form-check-label" for="move_leave_shadow"><input class="form-check-input" type="checkbox" name="move_leave_shadow" id="move_leave_shadow" /> {L_LEAVE_SHADOW}</label>
					</div>
				<!-- ENDIF -->
				<!-- IF S_CAN_LOCK_TOPIC -->
					<div class="form-check form-switch">
						<label class="form-check-label" for="move_lock_topics"><input class="form-check-input" type="checkbox" name="move_lock_topics" id="move_lock_topics" /> {L_LOCK_TOPIC}</label>
					</div>
				<!-- ENDIF -->
					</dd>
				</dl>
				<!-- ENDIF -->
				{% EVENT mcp_move_destination_forum_after %}
				<dl class="row">
					<dt class="col-lg-3 col-md-4 col-12 d-none d-md-block">&nbsp;</dt>
					<dd class="col-lg-9 col-md-8 col-12"><strong>{MESSAGE_TEXT}</strong></dd>
				</dl>
			</div>

			<div class="card-footer text-center">
			{S_HIDDEN_FIELDS}
				<input type="submit" name="confirm" value="{YES_VALUE}" class="btn btn-success" />&nbsp; 
				<input type="submit" name="cancel" value="{L_NO}" class="btn btn-danger" />
			{S_FORM_TOKEN}
			</div>
		</div>
	</div>

</form>

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
