<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

	<h4 class="cp-page-title mb-3">{L_TITLE}</h4>

	<div class="card mb-3">
		<div class="card-header">{USERNAME_FULL}</div>

		<div class="card-body p-0">
			<div class="row m-0">

			<!-- IF AVATAR_IMG -->
				<div class="postprofile col-lg-3 col-md-4<!-- IF $PROFILE_ON_RIGHT --> order-first order-md-2<!-- ENDIF --> bg2">
					<div class="text-center p-3">{AVATAR_IMG}</div>
				</div>
			<!-- ENDIF -->

				<div class="postbody<!-- IF AVATAR_IMG --> col-lg-9 col-md-8<!-- ELSE --> col-12<!-- ENDIF --> p-0<!-- IF $PROFILE_ON_RIGHT and AVATAR_IMG --> border-end<!-- ELSEIF AVATAR_IMG --> border-start<!-- ENDIF --> bg1">
				<div class="opacity-50 d-md-none"><hr class="m-0"></div>

					<div class="px-3 py-2">
						<dl class="row mb-0">
						<!-- IF RANK_TITLE -->
							<dt class="col-lg-4 col-md-5 col-12">{L_RANK}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{RANK_TITLE}</dd>
						<!-- ENDIF -->
						<!-- IF RANK_IMG -->
							<dt class="col-lg-4 col-md-5 col-12"><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}{L_COLON}<!-- ENDIF --></dt>
							<dd class="col-lg-8 col-md-7 col-12">{RANK_IMG}</dd>
						<!-- ENDIF -->
							<dt class="col-lg-4 col-md-5 col-12">{L_JOINED}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{JOINED}</dd>
							<dt class="col-lg-4 col-md-5 col-12">{L_TOTAL_POSTS}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{POSTS}</dd>
							<dt class="col-lg-4 col-md-5 col-12">{L_WARNINGS}{L_COLON}</dt>
							<dd class="col-lg-8 col-md-7 col-12">{WARNINGS}</dd>
						</dl>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header">
			{L_ADD_FEEDBACK}
		</div>
		<div class="card-body">
			<p>{L_ADD_FEEDBACK_EXPLAIN}</p>
			<textarea name="usernote" id="usernote" class="form-control" cols="40" rows="3"></textarea>
		</div>

		<div class="card-footer">
			{S_HIDDEN_FIELDS}
			<div class="d-grid col-4 mx-auto">
				<button class="btn btn-success" type="submit" name="action[add_feedback]" value="{L_SUBMIT}"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i> {L_SUBMIT}</button>
			</div>
			{S_FORM_TOKEN}
		</div>
	</div>

	<div class="card mb-3">
		<div class="action-bar d-sm-flex justify-content-between bg1">
			<div class="d-flex">
				<!-- INCLUDE display_options.html -->

				<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_SEARCH}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
				<div class="dropdown-menu dropdown-menu-start" role="search">
					<div class="input-group px-2">
						<input type="search" class="form-control" name="keywords" value="{S_KEYWORDS}" placeholder="{L_SEARCH_KEYWORDS}" />
						<button type="submit" name="filter" class="btn btn-secondary" title="{L_SEARCH}"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
					</div>
				</div>
			</div>

			<div class="btn btn-lg d-none d-lg-block disabled fs-6 mt-1 text-nowrap border-0">
				{TOTAL_REPORTS} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>

			<div class="d-flex">
			<!-- IF .pagination -->
				<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
				<div class="dropdown-menu dropdown-menu-end">
					<div class="input-group px-2">
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ELSE -->
				&nbsp;
			<!-- ENDIF -->
			</div> 
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header mb-1 d-none d-md-block border-bottom-0">
			<div class="row">
				<div class="col-12<!-- IF S_CLEAR_ALLOWED --> col-md-6<!-- ELSE --> col-md-8<!-- ENDIF -->">{L_ACTION_NOTE}</div>
				<div class="col-12 col-md-2 text-center">{L_MCP_NOTES_USER}</div>
				<div class="col-12 col-md-2 text-center">{L_TIME}</div>
			<!-- IF S_CLEAR_ALLOWED -->
				<div class="col-12 col-md-2 text-center">{L_MARK}</div>
			<!-- ENDIF -->
			</div>
		</div>
	<!-- BEGIN usernotes -->
		<div class="container-fluid p-0">
			<div class="row m-1 mt-0 p-1 align-items-center bg1">
				<div class="col-12 col-md-6 py-2"><span class="badge bg-secondary d-md-none">{L_ACTION_NOTE}{L_COLON}</span> {usernotes.ACTION}</div>
				<div class="col-12 col-md-2 py-2 text-md-center"><span class="badge bg-secondary d-md-none">{L_MCP_NOTES_USER}{L_COLON}</span> {usernotes.REPORT_BY}<!-- IF not $HIDE_USER_IP or U_ACP --> <br class="d-none d-md-block" />{usernotes.IP}<!-- ENDIF --></div>
				<div class="col-12 col-md-2 py-2 text-md-center"><span class="badge bg-secondary d-md-none">{L_TIME}{L_COLON}</span> {usernotes.REPORT_AT}</div>
			<!-- IF S_CLEAR_ALLOWED -->
				<div class="col-12 col-md-2 d-sm-flex py-2 text-center">
					<span class="badge bg-secondary d-md-none me-1">{L_MARK}{L_COLON}</span>
					<div class="form-switch mx-md-auto"><input class="form-check-input" type="checkbox" name="marknote[]" id="note-{usernotes.ID}" value="{usernotes.ID}" /></div>
				</div>
			<!-- ENDIF -->
			</div>
		</div>
	<!-- BEGINELSE -->
		<div class="container-fluid p-0">
			<div class="m-1 mt-0 px-3 py-2 text-center bg1">{L_NO_ENTRIES}</div>
		</div>
	<!-- END usernotes -->
	</div>

	<!-- IF S_CLEAR_ALLOWED -->
	<div class="card mb-3">
		<div class="action-bar d-sm-flex justify-content-end bg1">
			<input class="btn btn-lg rounded-0 border-0" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />
			<input class="btn btn-lg rounded-0 border-0" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" />
			<a href="#" onclick="marklist('mcp', 'marknote', false); return false;" class="btn btn-lg rounded-0 border-0" title="{L_UNMARK_ALL}"><i class="fa fa-toggle-off fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_UNMARK_ALL}</span></a>
			<a href="#" onclick="marklist('mcp', 'marknote', true); return false;" class="btn btn-lg rounded-0 border-0" title="{L_MARK_ALL}"><i class="fa fa-toggle-on fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_MARK_ALL}</span></a>
		</div>
	</div>
	<!-- ENDIF -->

</form>

<!-- INCLUDE mcp_footer.html -->
