<!-- INCLUDE overall_header.html -->

<!-- EVENT memberlist_email_before -->

<form method="post" action="{S_POST_ACTION}" id="post">
	<div class="col-md-12 col-lg-10 offset-lg-1">
		<div class="card mb-3">
			<div class="card-header">
				<!-- IF S_CONTACT_ADMIN-->{L_CONTACT_ADMIN}<!-- ELSEIF S_SEND_USER -->{L_SEND_EMAIL_USER}<!-- ELSE -->{L_EMAIL_TOPIC}<!-- ENDIF -->
			</div>
			<div class="card-body pt-2">

				<!-- IF CONTACT_INFO -->
				<div class="alert alert-info small">{CONTACT_INFO}</div>
				<!-- ENDIF -->

				<!-- IF ERROR_MESSAGE -->
				<div class="alert alert-danger">{ERROR_MESSAGE}</div>
				<!-- ENDIF -->

				<div class="row">

					<div class="col-lg-4 col-md-5 col-12">
					<!-- IF S_SEND_USER -->
						<label class="col-form-label"><strong>{L_RECIPIENT}</strong></label> - {USERNAME_FULL}

						<label class="col-form-label d-block" for="subject"><strong>{L_SUBJECT}</strong></label>
						<input class="form-control w-100" type="text" name="subject" id="subject" tabindex="1" value="{SUBJECT}" />
					<!-- ELSEIF S_CONTACT_ADMIN-->
						<label class="col-form-label"><strong>{L_RECIPIENT}</strong></label> - {L_ADMINISTRATOR}

						<!-- IF not S_IS_REGISTERED -->
						<label class="col-form-label d-block" for="email"><strong>{L_SENDER_EMAIL_ADDRESS}</strong></label>
						<input class="form-control w-100" type="text" name="email" id="email" maxlength="100" tabindex="1" value="{EMAIL}" />

						<label class="col-form-label d-block" for="name"><strong>{L_SENDER_NAME}</strong></label>
						<input class="form-control w-100" type="text" name="name" id="name" tabindex="2" value="{NAME}" />
						<!-- ENDIF -->
						<label class="col-form-label d-block" for="subject"><strong>{L_SUBJECT}</strong></label>
						<input class="form-control w-100" type="text" name="subject" id="subject" tabindex="3" value="{SUBJECT}" />
					<!-- ELSE -->
						<label class="col-form-label d-block" for="email"><strong>{L_EMAIL_ADDRESS}</strong></label>
						<input class="form-control w-100" type="email" name="email" id="email" maxlength="100" tabindex="2" value="{EMAIL}" />

						<label class="col-form-label d-block" for="name"><strong>{L_REAL_NAME}</strong></label>
						<input class="form-control w-100" type="text" name="name" id="name" tabindex="3" value="{NAME}" />

						<label class="col-form-label" for="lang"><strong>{L_DEST_LANG}</strong></label>
						<div class="small text-muted mb-1 fw-normal">{L_DEST_LANG_EXPLAIN}</div>
						<select class="form-select" name="lang">{S_LANG_OPTIONS}</select>
					<!-- ENDIF -->

					<!-- IF S_REGISTERED_USER -->
						<div class="form-check form-switch mt-3">
							<label class="form-check-label" for="cc_sender"><input class="form-check-input" type="checkbox" name="cc_sender" id="cc_sender" value="1" checked="checked" tabindex="5" /> {L_CC_SENDER}</label>
						</div>
					<!-- ENDIF -->
					</div>

					<div class="col-lg-8 col-md-7 col-12">
						<label class="col-form-label d-block" for="message"><strong>{L_MESSAGE}</strong></label>
						<textarea class="form-control" name="message" id="message" rows="10" cols="76" tabindex="4" placeholder="{L_EMAIL_BODY_EXPLAIN}">{MESSAGE}</textarea>
					</div>

				</div>

			</div>

			<div class="card-footer">
				<div class="d-grid col-4 mx-auto">
					<button class="btn btn-success" type="submit" tabindex="6" name="submit" value="{L_SEND_EMAIL}"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i> {L_SEND_EMAIL}</button>
				</div>
				{S_FORM_TOKEN}
			</div>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->
