<!-- INCLUDE overall_header.html -->

<h3 class="page-title mb-3">{PAGE_TITLE}</h3>

<form method="post" action="{S_MODE_ACTION}">

<!-- BEGIN group -->
<div id="team" class="card mb-3">
	<div class="card-header mb-1 border-bottom-0">
		<div class="row">
			<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-5<!-- ELSE --> col-md-6<!-- ENDIF -->" data-dfn="{L_RANK}{L_COMMA_SEPARATOR}{L_USERNAME}"><!-- IF group.U_GROUP --><a href="{group.U_GROUP}">{group.GROUP_NAME}</a><!-- ELSE -->{group.GROUP_NAME}<!-- ENDIF --><span class="d-none d-md-inline float-md-end">{L_RANK}&nbsp;</span></div>
			<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-7<!-- ELSE --> col-md-6<!-- ENDIF --> d-none d-md-block">
				<div class="row align-items-center">
					<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-6<!-- ELSE --> col-md-12<!-- ENDIF -->">{L_PRIMARY_GROUP}</div>
					<!-- IF S_DISPLAY_MODERATOR_FORUMS -->
					<div class="col-12 col-md-6">{L_MODERATOR}</div>
					<!-- ENDIF -->
				</div>
			</div>
		</div>
	</div>

<!-- BEGIN user -->
	<div class="container-fluid p-0">
		<div class="row m-1 mt-0 p-1 align-items-center bg1<!-- IF group.user.S_INACTIVE --> text-muted<!-- ENDIF -->">
			<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-5<!-- ELSE --> col-md-6<!-- ENDIF --> py-1<!-- IF not group.user.RANK_IMG --> d-md-flex justify-content-md-between<!-- ENDIF -->">
				<a class="btn btn-secondary float-end mt-1 py-0 d-md-none toggle-plus" href="#collapse_team_info_{user.S_ROW_COUNT}" title="{L_EXPAND_VIEW}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse_team_info"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></a>
				
				<div class="float-md-start me-2">
				<!-- EVENT memberlist_team_username_prepend -->
					{group.user.USERNAME_FULL}<!-- IF group.user.S_INACTIVE --> <span class="badge text-bg-info">({L_INACTIVE})</span><!-- ENDIF -->
				<!-- EVENT memberlist_team_username_append -->
				</div>
				<div class="float-md-end mt-2 mt-md-0">
					<span class="fw-semibold d-md-none">{L_RANK}{L_COLON}</span>
				<!-- IF group.user.RANK_IMG -->
					{group.user.RANK_IMG}
				<!-- ELSE -->
					{group.user.RANK_TITLE}
				<!-- ENDIF -->
				</div>
			</div>
			<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-7<!-- ELSE --> col-md-6<!-- ENDIF -->">
				<div id="collapse_team_info_{user.S_ROW_COUNT}" class="row align-items-center collapse d-md-flex">
					<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-6<!-- ELSE --> col-md-12<!-- ENDIF --> py-1">
						<span class="fw-semibold d-md-none">{L_PRIMARY_GROUP}{L_COLON}</span>
					<!-- IF group.user.U_GROUP -->
						<a<!-- IF group.user.GROUP_COLOR --> style="font-weight: bold; color: #{group.user.GROUP_COLOR}"<!-- ENDIF --> href="{group.user.U_GROUP}">{group.user.GROUP_NAME}</a>
					<!-- ELSE -->
						{group.user.GROUP_NAME}
					<!-- ENDIF -->
					</div>
					<!-- IF S_DISPLAY_MODERATOR_FORUMS -->
					<div class="col-12 col-md-6 py-1">
						<span class="fw-semibold d-md-none">{L_MODERATOR}{L_COLON}</span>
					<!-- IF group.user.FORUM_OPTIONS -->
						<select class="form-select">{group.user.FORUMS}</select><!-- ELSEIF group.user.FORUMS -->{group.user.FORUMS}
					<!-- ELSE -->-<!-- ENDIF -->
					</div>
					<!-- ENDIF -->
				</div>
			</div>
		</div>
	</div>
<!-- BEGINELSE -->
	<div class="container-fluid p-0">
		<div class="m-1 mt-md-0 px-3 py-2 text-center bg1">{L_NO_MEMBERS}</div>
	</div>
<!-- END user -->
</div>
<!-- END group -->

</form>

<!-- INCLUDE overall_footer.html -->
