<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_header.html -->
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" id="results" action="{S_MODE_ACTION}" onsubmit="insert_marked_users('#results', this.user); return false;" data-form-name="{S_FORM_NAME}" data-field-name="{S_FIELD_NAME}">

<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
	<div id="memberlist_search"<!-- IF not S_SEARCH_USER --> style="display: none;"<!-- ENDIF -->>
	<!-- INCLUDE memberlist_search.html -->
	</div>
	<form method="post" action="{S_MODE_ACTION}">

<!-- ENDIF -->

{% EVENT memberlist_body_page_header_after %}

<!-- IF S_SHOW_GROUP -->
	<!-- IF U_MANAGE -->
	<div class="float-end"><a href="{U_MANAGE}" class="btn btn-info"><i class="fa fa-wrench  fa-fw" aria-hidden="true"></i> {L_MANAGE_GROUP}</a></div>
	<!-- ENDIF -->
	{% EVENT memberlist_body_group_name_before %}
	<h3 class="page-title mb-3"<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR};"<!-- ENDIF -->>{GROUP_NAME}</h3>
	{% EVENT memberlist_body_group_name_after %}
	<div class="card mt-3 mb-3">
		<div class="card-body">
			<div class="row">
			<!-- IF AVATAR_IMG or RANK_IMG or GROUP_RANK -->
				<div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
					<!-- IF AVATAR_IMG --><div class="d-none d-md-block">{AVATAR_IMG}</div><!-- ENDIF -->
					{% EVENT memberlist_body_group_rank_before %}
					{% if RANK_IMG %}<div class="mt-2">{{ RANK_IMG }}</div>{% endif %}
					{% if GROUP_RANK %}
					<div class="mt-2">
						{% if not RANK_IMG %}
							{{ lang('GROUP_RANK') ~ lang('COLON') }}
						{% endif %}
						{{ GROUP_RANK }}
					</div>
					{% endif %}
					{% EVENT memberlist_body_group_rank_after %}
				</div>

				<div class="col-lg-9 col-md-8 col-12">
					{GROUP_DESC} {GROUP_TYPE}
				</div>
				{% EVENT memberlist_body_group_desc_after %}
			<!-- ELSE -->
				<div class="col">
					{GROUP_DESC} {GROUP_TYPE}
					{% EVENT memberlist_body_group_desc_after %}
				</div>
			<!-- ENDIF -->
			</div>
		</div>
	</div>
<!-- ELSE -->
		{% EVENT memberlist_body_page_title_before %}
		<h3 class="page-title mb-3">{PAGE_TITLE}<!-- IF SEARCH_WORDS -->{L_COLON} <a href="{U_SEARCH_WORDS}">{SEARCH_WORDS}</a><!-- ENDIF --></h3>

		<div class="card mb-3">
			<div class="card-body p-0 bg2">
				<div class="d-lg-flex">
				<!-- IF U_FIND_MEMBER and not S_SEARCH_USER -->
					<a class="btn btn-outline-secondary border-0 btn-sm rounded-0" href="{U_FIND_MEMBER}">{L_FIND_USERNAME}</a><!-- ELSEIF S_SEARCH_USER and U_HIDE_FIND_MEMBER and not S_IN_SEARCH_POPUP --><a class="btn btn-outline-secondary border-0 btn-sm rounded-0" href="{U_HIDE_FIND_MEMBER}">{L_HIDE_MEMBER_SEARCH}</a>
				<!-- ENDIF -->
				<!-- BEGIN first_char -->
					<a href="{first_char.U_SORT}" class="btn btn-outline-secondary border-0 btn-sm rounded-0 flex-fill">{first_char.DESC}</a>
				<!-- END first_char -->
				</div>
			</div>
		</div>

	<!-- IF TOTAL_PAGES > 1 -->
		<div class="action-bar d-sm-flex justify-content-between bg1 shadow-sm">
			<div class="d-flex">&nbsp;</div>

			<div class="btn btn-lg disabled fs-6 mt-1 text-nowrap border-0">
				{TOTAL_USERS} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>

			<div class="d-flex">
			<!-- IF .pagination -->
				<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
				<div class="dropdown-menu dropdown-menu-end">
					<div class="input-group px-2">
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ELSE -->
				&nbsp;
			<!-- ENDIF -->
			</div>
		</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_LEADERS_SET or not S_SHOW_GROUP or not .memberrow -->
<div id="memberlist" class="card mb-3">
	<div class="card-header mb-1 border-bottom-0">
		<div class="row align-items-center">
			<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-4<!-- ELSE --> col-md-5<!-- ENDIF -->"><a href="{U_SORT_USERNAME}"><!-- IF S_SHOW_GROUP and .memberrow -->{L_GROUP_LEADER}<!-- ELSE -->{L_USERNAME}<!-- ENDIF --></a> &nbsp; <span class="float-md-end"><a href="{U_SORT_RANK}">{L_RANK}</a></span></div>
			<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-8<!-- ELSE --> col-md-7<!-- ENDIF --> d-none d-md-block">
				<div class="row align-items-center">
					<div class="col-12 col-md-3 text-center"><a href="{U_SORT_POSTS}#memberlist">{L_POSTS}</a></div>
					<div class="col-12 col-md-3 text-center">{L_CONTACT}</div>
					<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-3<!-- ELSE --> col-md-4<!-- ENDIF -->"><a href="{U_SORT_JOINED}#memberlist">{L_JOINED}</a></div>
				<!-- IF U_SORT_ACTIVE -->
					<div class="col-12 col-md-3"><a href="{U_SORT_ACTIVE}#memberlist">{L_LAST_ACTIVE}</a></div>
				<!-- ENDIF -->
					{% EVENT memberlist_body_memberlist_after %}
				</div>
			</div>
		</div>
	</div>
<!-- ENDIF -->
		<!-- BEGIN memberrow -->
			<!-- IF S_SHOW_GROUP -->
				<!-- IF not memberrow.S_GROUP_LEADER and not $S_MEMBER_HEADER -->
				<!-- IF S_LEADERS_SET and memberrow.S_FIRST_ROW -->
					<div class="container-fluid p-0">
						<div class="m-1 mt-0 px-3 py-2 bg-1">&nbsp;</div>
					</div>
				<!-- ENDIF -->
<!-- IF S_LEADERS_SET -->
	</div>
<!-- ENDIF -->

<div class="card mb-3">
	<div class="card-header mb-1 border-bottom-0">
		<div class="row align-items-center">
		<!-- IF not S_LEADERS_SET -->
			<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-4<!-- ELSE --> col-md-5<!-- ENDIF -->"><a href="{U_SORT_USERNAME}"><!-- IF S_SHOW_GROUP -->{L_GROUP_MEMBERS}<!-- ELSE -->{L_USERNAME}<!-- ENDIF --></a> &nbsp; <span class="float-md-end"><a href="{U_SORT_RANK}">{L_RANK}</a></span></div>
			<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-8<!-- ELSE --> col-md-7<!-- ENDIF --> d-none d-md-block">
				<div class="row align-items-center">
					<div class="col-12 col-md-3 text-center"><a href="{U_SORT_POSTS}#memberlist">{L_POSTS}</a></div>
					<div class="col-12 col-md-3 text-center">{L_CONTACT}</div>
					<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-3<!-- ELSE --> col-md-4<!-- ENDIF -->"><a href="{U_SORT_JOINED}#memberlist">{L_JOINED}</a></div>
				<!-- IF U_SORT_ACTIVE -->
					<div class="col-12 col-md-3"><a href="{U_SORT_ACTIVE}#memberlist">{L_LAST_ACTIVE}</a></div>
				<!-- ENDIF -->
					{% EVENT memberlist_body_leaders_set_after %}
				</div>
			</div>
		<!-- ELSEIF S_SHOW_GROUP -->
			<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-4<!-- ELSE --> col-md-5<!-- ENDIF -->">{L_GROUP_MEMBERS} &nbsp; <span class="d-none d-md-block float-md-end">{L_RANK}</span></div>
			<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-8<!-- ELSE --> col-md-7<!-- ENDIF --> d-none d-md-block">
				<div class="row align-items-center">
					<div class="col-12 col-md-3 text-center">{L_POSTS}</div>
					<div class="col-12 col-md-3 text-center">{L_CONTACT}</div>
					<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-3<!-- ELSE --> col-md-4<!-- ENDIF -->">{L_JOINED}</div>
				<!-- IF U_SORT_ACTIVE -->
					<div class="col-12 col-md-3">{L_LAST_ACTIVE}</div>
				<!-- ENDIF -->
					{% EVENT memberlist_body_show_group_after %}
				</div>
			</div>
		<!-- ENDIF -->
		</div>
	</div>
					<!-- DEFINE $S_MEMBER_HEADER = 1 -->
				<!-- ENDIF -->
			<!-- ENDIF -->
		<div class="container-fluid p-0">
			<div class="row m-1 mt-0 py-1 align-items-center bg1<!-- IF memberrow.S_INACTIVE --> text-muted<!-- ENDIF -->">
				<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-4<!-- ELSE --> col-md-5<!-- ENDIF --> py-1<!-- IF not memberrow.RANK_IMG --> d-md-flex justify-content-md-between<!-- ENDIF -->">
					<a class="btn btn-secondary float-end mt-1 py-0 d-md-none toggle-plus" href="#collapse_member_info_{memberrow.S_ROW_COUNT}" title="{L_EXPAND_VIEW}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse_member_info"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></a>

					<div class="float-md-start me-2">
					<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE -->
						<input class="form-check-input" type="checkbox" name="user" value="{memberrow.USERNAME}" />
					<!-- ENDIF -->
					<!-- EVENT memberlist_body_username_prepend -->
						{memberrow.USERNAME_FULL}<!-- IF memberrow.S_INACTIVE --> <span class="badge text-bg-info">{L_INACTIVE}</span><!-- ENDIF -->
						<!-- EVENT memberlist_body_username_append -->
					<!-- IF S_IN_SEARCH_POPUP -->
						<br><a class="btn btn-primary btn-sm py-0" href="#" onclick="insert_single_user('#results', '{memberrow.A_USERNAME}'); return false;">{L_SELECT}</a>
					<!-- ENDIF -->
					</div>
					<div class="float-md-end mt-2 mt-md-0">
					<!-- EVENT memberlist_body_rank_prepend -->
				<!-- IF memberrow.RANK_IMG or memberrow.RANK_TITLE -->
					<!-- IF memberrow.RANK_IMG -->
						<div class="d-inline text-md-end">{memberrow.RANK_IMG}</div>
					<!-- ELSE -->
						{memberrow.RANK_TITLE}
					<!-- ENDIF -->
				<!-- ENDIF -->
					<!-- EVENT memberlist_body_rank_append -->
					</div>
				</div>

				<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-8<!-- ELSE --> col-md-7<!-- ENDIF -->">
					<div id="collapse_member_info_{memberrow.S_ROW_COUNT}" class="row align-items-center collapse d-md-flex">
						<div class="col-12 col-md-3 py-1 text-md-center">
							<span class="fw-semibold d-md-none">{L_POSTS}{L_COLON}</span>
						<!-- IF memberrow.POSTS and S_DISPLAY_SEARCH -->
							<a href="{memberrow.U_SEARCH_USER}" title="{L_SEARCH_USER_POSTS}">{memberrow.POSTS}</a><!-- ELSE -->{memberrow.POSTS}
						<!-- ENDIF -->
						</div>
						<div class="col-12 col-md-3 py-1<!-- IF not memberrow.custom_fields --> d-none d-md-block<!-- ENDIF --> text-md-center">
						<!-- IF memberrow.custom_fields -->
							<span class="fw-semibold d-md-none">{L_CONTACT}{L_COLON}</span>
							<button class="btn btn-secondary dropdown-toggle py-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="{L_CONTACT} {memberrow.USERNAME}"></button>
							<ul class="dropdown-menu dropdown-form px-2"<!-- IF $STICKY_NAVBAR --> style="z-index: 1021;"<!-- ENDIF -->>
							{%- for field in memberrow.custom_fields -%}
								{% if field.S_PROFILE_CONTACT %}
							<!-- IF $MEMBERLIST_CONTACT_BTN -->
								<li class="px-1">
									<a class="contact-button float-start m-1 text-decoration-none" href="{{ field.PROFILE_FIELD_CONTACT }}" title="{{ field.PROFILE_FIELD_NAME }}">
										<div class="p-1 rounded-circle alert alert-primary mb-0 shadow-sm">
											<div class="alert alert-primary mb-0 d-flex align-items-center justify-content-center rounded-circle border border-4 border-white fs-5" style="width: 48px; height: 48px;">
												<i class="fa fa-{% if field.PROFILE_FIELD_NAME eq 'Website' %}globe{% elseif field.PROFILE_FIELD_NAME eq 'ICQ' %}asterisk{% elseif field.PROFILE_FIELD_NAME eq 'Yahoo Messenger' %}yahoo{% elseif field.PROFILE_FIELD_NAME eq 'Facebook' %}facebook{% elseif field.PROFILE_FIELD_NAME eq 'Twitter' %}twitter{% elseif field.PROFILE_FIELD_NAME eq 'Skype' %}skype{% elseif field.PROFILE_FIELD_NAME eq 'YouTube' %}youtube{% else %}comments{% endif %} fa-fw"></i>
											</div>
										</div>
									</a>
								</li>
							<!-- ELSEIF not $MEMBERLIST_CONTACT_BTN  -->
								<li class="d-flex justify-content-between px-2">
									<span>{{ field.PROFILE_FIELD_NAME }}{L_COLON}&nbsp;</span><a href="{{ field.PROFILE_FIELD_CONTACT }}">{{ field.PROFILE_FIELD_VALUE }}</a>
								</li>
								{% if not loop.last %}
								<li class="dropdown-divider my-1"></li>
								{% endif %}
							<!-- ENDIF -->
								{% endif %}
							{%- endfor -%}
							</ul>
						<!-- ELSE -->
							&nbsp;
						<!-- ENDIF -->
						</div>
						<div class="col-12<!-- IF U_SORT_ACTIVE --> col-md-3<!-- ELSE --> col-md-4<!-- ENDIF --> py-1"><span class="fw-semibold d-md-none">{L_JOINED}{L_COLON}</span> {memberrow.JOINED}</div>
					<!-- IF S_VIEWONLINE -->
						<div class="col-12 col-md-3 py-1"><span class="fw-semibold d-md-none">{L_LAST_ACTIVE}{L_COLON}</span> {memberrow.LAST_ACTIVE}&nbsp;</div>
					<!-- ENDIF -->
						{% EVENT memberlist_body_memberrow_after %}
					</div>
				</div>
			</div>
		</div>
		<!-- BEGINELSE -->
		<div class="container-fluid p-0">
			<div class="m-1 mt-0 px-3 py-2 text-center bg1">{L_NO_MEMBERS}</div>
		</div>
		<!-- END memberrow -->
</div>

<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE -->
<div class="card mb-3">
	<div class="action-bar d-sm-flex bg1">
		<a href="#" onclick="marklist('results', 'user', true); return false;" class="btn btn-lg rounded-0 border-0" title="{L_MARK_ALL}"><i class="fa fa-toggle-on fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_MARK_ALL}</span></a>
		<a href="#" onclick="marklist('results', 'user', false); return false;" class="btn btn-lg rounded-0 border-0" title="{L_UNMARK_ALL}"><i class="fa fa-toggle-off fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_UNMARK_ALL}</span></a>
		<input class="btn btn-lg rounded-0 border-0" type="submit" name="submit" value="{L_SELECT_MARKED}" />
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP -->
</form>

<form method="post" id="sort-results" action="{S_MODE_ACTION}">
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP and not S_SEARCH_USER -->
<div class="text-center mb-3">
	<div class="d-inline-block me-2">
		<div class="input-group">
			<span class="input-group-text">
				<label class="form-check-label" for="sk">{L_SELECT_SORT_METHOD}</label>
			</span>
			<select class="form-select" name="sk" id="sk">{S_MODE_SELECT}</select>
		</div>
	</div>

	<div class="d-inline-block mt-sm-1">
		<div class="input-group">
			<span class="input-group-text">
				<label class="form-check-label" for="sd">{L_ORDER}</label>
			</span>
			<select class="form-select" name="sd" id="sd">{S_ORDER_SELECT}</select>
			<button class="btn btn-success" type="submit" name="sort" value="{L_SUBMIT}" value="{L_SUBMIT}"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i></button>
		</div>
	</div>
</div>
<!-- ENDIF -->

</form>

{% EVENT memberlist_body_page_footer_before %}

<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
