<!-- INCLUDE overall_header.html -->

<h3>{PAGE_TITLE}</h3>

<form method="post" action="{S_MODE_ACTION}">

<!-- BEGIN group -->
<div id="team" class="card mb-3 pb-1">
	<div class="card-header d-none d-md-block">
		<div class="row">
			<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-4<!-- ELSE --> col-md-6<!-- ENDIF -->" data-dfn="{L_RANK}{L_COMMA_SEPARATOR}{L_USERNAME}"><span class="rank-img hidden-xs pull-{S_CONTENT_FLOW_END}">{L_RANK}&nbsp;</span><!-- IF group.U_GROUP --><a href="{group.U_GROUP}">{group.GROUP_NAME}</a><!-- ELSE -->{group.GROUP_NAME}<!-- ENDIF --></div>
			<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-4<!-- ELSE --> col-md-6<!-- ENDIF -->">{L_PRIMARY_GROUP}</div>
			<!-- IF S_DISPLAY_MODERATOR_FORUMS -->
			<div class="col-12 col-md-4">{L_MODERATOR}</div>
			<!-- ENDIF -->
		</div>
	</div>

<!-- BEGIN user -->
	<div class="row m-0 mt-1 p-1 align-items-center bg1<!-- IF group.user.S_INACTIVE --> fst-italic<!-- ENDIF -->">
		<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-4<!-- ELSE --> col-md-6<!-- ENDIF --> py-2 d-md-flex justify-content-md-between">
			<div>
				<!-- EVENT memberlist_team_username_prepend -->
				<span class="badge bg-secondary d-md-none">{L_USERNAME}{L_COLON}</span> {group.user.USERNAME_FULL}<!-- IF group.user.S_INACTIVE --> ({L_INACTIVE})<!-- ENDIF -->
				<!-- EVENT memberlist_team_username_append -->
			</div>
		</div>
		<div class="col-12<!-- IF S_DISPLAY_MODERATOR_FORUMS --> col-md-4<!-- ELSE --> col-md-6<!-- ENDIF --> py-2">
			<span class="badge bg-secondary d-md-none">{L_PRIMARY_GROUP}{L_COLON}</span>
		<!-- IF group.user.U_GROUP -->
			<a<!-- IF group.user.GROUP_COLOR --> style="font-weight: bold; color: #{group.user.GROUP_COLOR}"<!-- ENDIF --> href="{group.user.U_GROUP}">{group.user.GROUP_NAME}</a>
		<!-- ELSE -->
			{group.user.GROUP_NAME}
		<!-- ENDIF -->
		</div>
		<!-- IF S_DISPLAY_MODERATOR_FORUMS -->
		<div class="col-12 col-md-4 py-2">
			<span class="badge bg-secondary d-md-none">{L_MODERATOR}{L_COLON}</span>
		<!-- IF group.user.FORUM_OPTIONS -->
			<select class="form-select">{group.user.FORUMS}</select><!-- ELSEIF group.user.FORUMS -->{group.user.FORUMS}<!-- ELSE -->-<!-- ENDIF -->
		</div>
		<!-- ENDIF -->
	</div>
<!-- BEGINELSE -->
	<div class="mt-1 px-3 py-2 text-center bg1">{L_NO_MEMBERS}</div>
<!-- END user -->
</div>
<!-- END group -->

</form>

<!-- INCLUDE overall_footer.html -->
