<nav class="navbar navbar-expand-md footer-links shadow-sm" role="navigation">
	<div class="container-fluid">
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-footer"><span class="navbar-toggler-icon"></span></button>
		<div id="navbar-collapse-footer" class="collapse navbar-collapse justify-content-lg-between">
			<div class="container-fluid py-3">
				<div class="row">

					<div class="col-lg-3 d-none d-lg-flex align-items-center">
						<div>
							<h2 class="fw-semibold"><!-- IF SITENAME -->{SITENAME}<!-- ELSE -->{BOARD_URL}<!-- ENDIF --></h2>
							<!-- IF SITE_DESCRIPTION --><h4>{SITE_DESCRIPTION}</h4><!-- ENDIF -->
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><a href="{{ U_PRIVACY }}" role="menuitem"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {{ lang('PRIVACY') }}</a></li>
							<li class="list-group-item"><a href="{{ U_TERMS_USE }}" role="menuitem"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {{ lang('TERMS_USE') }}</a></li>
						<!-- IF not S_IS_BOT -->
							<li class="list-group-item"><a href="{U_DELETE_COOKIES}" data-ajax="true" data-refresh="true" role="menuitem"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_DELETE_COOKIES}</a></li>
						<!-- ENDIF -->
							<li class="dropdown-divider"></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6">
						<ul class="list-group list-group-flush">
						<!-- IF U_SITE_HOME -->
							{% apply spaceless %}
							<li class="list-group-item"><a href="{U_SITE_HOME}" data-navbar-reference="home"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_SITE_HOME}</a></li>
							{% endapply %}
						<!-- ENDIF -->
						<!-- EVENT overall_footer_breadcrumb_prepend -->
							{% apply spaceless %}
							<li class="list-group-item"><a href="{U_INDEX}" data-navbar-reference="index"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_INDEX}</a></li>
							{% endapply %}
						<!-- EVENT overall_footer_breadcrumb_append -->
						<!-- IF U_ACP -->
							 <li class="list-group-item"><a href="{{ U_ACP }}"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {{ lang('ACP') }}</a></li>	
						<!-- ENDIF -->
						<!-- IF S_DISPLAY_JUMPBOX -->
							<li class="list-group-item dropdown dropup"><a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_JUMP_TO}</a>
								<!-- INCLUDE jumpbox.html -->
							</li>
						<!-- ENDIF -->
							<li class="dropdown-divider"></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6">
						<ul class="list-group list-group-flush">
					<!-- IF U_CONTACT_US -->
							<li class="list-group-item"><a href="{U_CONTACT_US}" role="menuitem"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_CONTACT_US}</a></li>
					<!-- ENDIF -->
					<!-- IF U_VIEWONLINE -->
							<li class="list-group-item"><a href="{U_VIEWONLINE}"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_WHO_IS_ONLINE}</a></li>
					<!-- ENDIF -->
					<!-- IF S_DISPLAY_MEMBERLIST -->
							<li class="list-group-item"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" role="menuitem"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_MEMBERLIST}</a></li>
					<!-- ENDIF -->
					<!-- EVENT overall_footer_teamlink_before -->
					<!-- IF U_TEAM -->
							<li class="list-group-item"><a href="{U_TEAM}" role="menuitem"><i class="fa fa-angle-{S_CONTENT_FLOW_END}" aria-hidden="true"></i> {L_THE_TEAM}</a></li>
					<!-- ENDIF -->
					<!-- EVENT overall_footer_teamlink_after -->
							<li class="dropdown-divider"></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</nav>
