<nav class="navbar navbar-expand-md">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_collapse_header" aria-controls="navbar-collapse-header" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div id="navbar_collapse_header" class="collapse navbar-collapse justify-content-between">

			<ul class="navbar-nav fw-semibold" role="menubar">
				<li class="nav-item">
					<a class="nav-link light-mode" href="javascript:;" data-bs-theme-value="light" role="switch">
						<i class="fa fa-moon-o fa-fw" aria-hidden="true"></i> {$DARK_MODE}
					</a>
					<a class="nav-link dark-mode" href="javascript:;" data-bs-theme-value="dark" role="switch">
						<i class="fa fa-sun-o fa-fw" aria-hidden="true"></i> {$LIGHT_MODE}
					</a>
				</li>

				<!-- EVENT navbar_header_quick_links_before -->
				<!-- EVENT overall_header_searchbox_before -->
				<!-- EVENT overall_header_navigation_prepend -->
				<!-- EVENT overall_header_navigation_append -->
			</ul>

			<ul class="navbar-nav fw-semibold" role="menubar">

				<!-- IF S_DISPLAY_SEARCH -->
				<li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#navbar-collapse-search" aria-controls="navbar-collapse-search" role="button" aria-expanded="false">{L_SEARCH}</a></li>
				<!-- ENDIF -->

				<!-- EVENT overall_header_searchbox_after -->
				<!-- EVENT navbar_header_quick_links_after -->

				<li class="nav-item"><a class="nav-link" href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">{L_FAQ}</a></li>

			<!-- IF S_REGISTERED_USER -->
				<!-- IF S_NOTIFICATIONS_DISPLAY and NOTIFICATIONS_COUNT -->
				<li class="nav-item" title="{L_NEW_MESSAGE}">
					<a class="nav-link ps-4 pe-none">
						<i class="fa fa-bell fa-fw position-relative" aria-hidden="true"><strong class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger<!-- IF not NOTIFICATIONS_COUNT --> d-none<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong><span class="visually-hidden">{NOTIFICATIONS_COUNT}</span></i>
					</a>
				</li>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_PM and PRIVATE_MESSAGE_COUNT -->
				<li class="nav-item" title="{L_BUTTON_PM_NEW}">
					<a class="nav-link ps-4 pe-none">
						<i class="fa fa-inbox fa-fw position-relative" aria-hidden="true"><strong class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger<!-- IF not PRIVATE_MESSAGE_COUNT --> d-none<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong><span class="visually-hidden">{L_UNREAD_MESSAGES}</span></i>
					</a>
				</li>
				<!-- ENDIF -->

				<li class="nav-item">
					<a class="nav-link" href="#offcanvas_right" data-bs-toggle="offcanvas" aria-controls="offcanvas_right" role="button">
						<i class="fa fa-bars fa-fw" aria-hidden="true"></i> {CURRENT_USERNAME_SIMPLE}
					</a>
				</li>

				<!-- EVENT navbar_header_username_append -->
				<!-- EVENT navbar_header_user_profile_append -->
			<!-- ELSE IF not S_IS_BOT -->
				<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
				<li class="nav-item"><a class="nav-link" href="{U_REGISTER}" role="menuitem">{L_REGISTER}</a></li>
				<!-- ENDIF -->
				<li class="nav-item"><a class="nav-link"<!-- IF $LOGIN_POPUP --> href="#" data-bs-toggle="modal" data-bs-target="#login-popup"<!-- ELSE --> href="{U_LOGIN_LOGOUT}"<!-- ENDIF --> accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
			<!-- EVENT navbar_header_logged_out_content -->
		<!-- ENDIF -->
			</ul>

		</div>
	</div>
</nav>

<!-- IF S_DISPLAY_SEARCH -->
<div id="navbar-collapse-search" class="offcanvas offcanvas-top" tabindex="-1" style="height: 19vh;">
	<div class="offcanvas-header bg2">
		<div class="offcanvas-title">
			<form action="{U_SEARCH}" method="get" id="search">
				<div class="input-group">
					<input class="form-control rounded-0" name="keywords" id="keywords" type="search" maxlength="128" size="40" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_KEYWORDS}" />
					<button class="btn btn-secondary border-end-0 rounded-0" type="submit" title="{L_GO}"><i class="fa fa-check fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
				</div>
				{S_SEARCH_HIDDEN_FIELDS}
			</form>
		</div>
		<button class="btn-close" type="button" title="{L_CLOSE_WINDOW}" data-bs-dismiss="offcanvas" aria-label="{L_CLOSE_WINDOW}"></button>
	</div>

	<div class="offcanvas-body py-1">
		<ul class="breadcrumb fw-semibold" style="--bs-breadcrumb-divider: '|';" role="menubar">
		<!-- IF not S_IN_SEARCH -->
			<li class="breadcrumb-item"><a href="{U_SEARCH}" class="text-decoration-none" role="menuitem">{L_SEARCH_ADV}</a></li>
		<!-- ENDIF -->
		<!-- IF S_REGISTERED_USER -->
			<li class="breadcrumb-item"><a href="{U_SEARCH_SELF}" class="text-decoration-none" role="menuitem">{L_SEARCH_SELF}</a></li>
		<!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN -->
			<li class="breadcrumb-item"><a href="{U_SEARCH_NEW}" class="text-decoration-none" role="menuitem">{L_SEARCH_NEW}</a></li>
		<!-- ENDIF -->
		<!-- IF S_LOAD_UNREADS -->
			<li class="breadcrumb-item"><a href="{U_SEARCH_UNREAD}" class="text-decoration-none" role="menuitem">{L_SEARCH_UNREAD}</a></li>
		<!-- ENDIF -->
			<li class="breadcrumb-item"><a href="{U_SEARCH_UNANSWERED}" class="text-decoration-none" role="menuitem">{L_SEARCH_UNANSWERED}</a></li>
			<li class="breadcrumb-item"><a href="{U_SEARCH_ACTIVE_TOPICS}" class="text-decoration-none" role="menuitem">{L_SEARCH_ACTIVE_TOPICS}</a></li>
		</ul>
	</div>
</div>
<!-- ENDIF -->