<ul id="notification_list" class="list-group mb-3 rounded-0 shadow">
	<li class="list-group-item list-group-item-action p-0 text-center"><a href="{U_NOTIFICATION_SETTINGS}" class="dropdown-item p-2">{L_SETTINGS}</a></li>
	<!-- IF not .notifications -->
	<li class="list-group-item notification-text p-2 text-center">{L_NO_NOTIFICATIONS}</li>
	<!-- ENDIF -->

	<!-- BEGIN notifications -->
	<li class="list-group-item<!-- IF notifications.URL --> list-group-item-action<!-- ENDIF --> p-0 dropdown notification-block<!-- IF notifications.UNREAD --> bg-info<!-- ENDIF -->">
		<!-- IF notifications.URL -->
		<a class="dropdown-item p-2" href="<!-- IF notifications.UNREAD -->{notifications.U_MARK_READ}" data-real-url="{notifications.URL}<!-- ELSE -->{notifications.URL}<!-- ENDIF -->">
		<!-- ENDIF -->
		<div class="row align-items-center">
			<div class="col-md-3 pe-0 justify-content-center d-none d-md-flex">
				<!-- IF notifications.AVATAR -->{notifications.AVATAR}<!-- ELSE --><img src="{ROOT_PATH}styles/bootlike/theme/images/no_avatar.gif" class="img-thumbnail" alt="{L_IMAGE}" /><!-- ENDIF -->
			</div>
			<div class="col-md-9 col-12">
				<div class="notification-text">
					<div class="notification-title text-wrap<!-- IF notifications.STYLING eq 'notification-reported' or notifications.STYLING eq 'notification-disapproved' --> text-danger<!-- ENDIF -->">{notifications.FORMATTED_TITLE}</div>
					<!-- IF notifications.REFERENCE --><div class="text-truncate">{notifications.REFERENCE}</div><!-- ENDIF -->
					<!-- IF notifications.FORUM --><div class="text-truncate">{notifications.FORUM}</div><!-- ENDIF -->
					<!-- IF notifications.REASON --><div class="text-truncate">{notifications.REASON}</div><!-- ENDIF -->
					<div class="small text-end"><small>{notifications.TIME}</small></div>
				</div>
			</div>
		</div>
		<!-- IF notifications.URL -->
		</a>
		<!-- ENDIF -->
		<!-- IF notifications.UNREAD -->
		<a class="btn btn-light text-secondary mark_read" href="{notifications.U_MARK_READ}" data-ajax="notification.mark_read" title="{L_MARK_READ}"><i class="fa fa-check fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_MARK_READ}</span></a>
		<!-- ENDIF -->
	</li>
	<!-- END notifications -->

	{% EVENT notification_dropdown_footer_before %}
	<li class="list-group-item list-group-item-action p-0 text-center"><a class="dropdown-item p-2" href="{U_VIEW_ALL_NOTIFICATIONS}">{L_SEE_ALL}</a></li>
	<!-- IF NOTIFICATIONS_COUNT -->
	<li id="mark_all_notifications" class="list-group-item list-group-item-action p-0 text-center"><a class="dropdown-item p-2 bg-info text-dark" href="{U_MARK_ALL_NOTIFICATIONS}" data-ajax="notification.mark_all_read"><i class="fa fa-check fa-fw" aria-hidden="true"></i> {L_MARK_ALL_READ}</a></li>
	<!-- ENDIF -->
	{% EVENT notification_dropdown_footer_after %}
</ul>
