		<!-- EVENT overall_footer_content_after -->
		</div><!-- end end page-body-->
		</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->

<!-- EVENT overall_footer_page_body_after -->

<!-- EVENT overall_footer_copyright_prepend -->

	<div id="page-footer" class="page-footer border-top" role="contentinfo">
		<!-- INCLUDE navbar_footer.html -->

		<div class="<!-- IF $FORUM_WIDTH_FULL or ($LEFT_SIDEBAR or $RIGHT_SIDEBAR) or $HEADER_FOOTER_FULL -->container-fluid<!-- ELSEIF $FORUM_WIDTH_XXL -->container-xxl<!-- ELSE -->container-xl<!-- ENDIF -->">
			<div class="p-3 d-md-flex justify-content-md-between">
				<div>
					<p class="mb-0">{{ CREDIT_LINE }}</p>
					<!-- IF TRANSLATION_INFO -->
					<p class="mb-0">{{ TRANSLATION_INFO }}</p>
					<!-- ENDIF -->
					<!-- EVENT overall_footer_copyright_append -->
				</div>

				<div class="mt-2 mt-md-0 text-md-end">
					<!-- IF S_USER_LOGGED_IN -->
					<p class="mb-0">{CURRENT_TIME}</p>
					<p class="mb-0">{LAST_VISIT_DATE}</p>
					<!-- ENDIF -->
					<!-- EVENT overall_footer_timezone_before -->
					<p class="mb-0">{S_TIMEZONE}</p>
					<!-- EVENT overall_footer_timezone_after -->
					<!-- IF DEBUG_OUTPUT -->
					<p class="mb-0">{{ DEBUG_OUTPUT }}</p>
					<!-- ENDIF -->
					<!-- EVENT overall_footer_copyright_append -->
				</div>
			</div>
		</div>
	</div>

	<div>
		<a id="bottom" class="d-block" accesskey="z"></a>
		{% if not S_IS_BOT %}{{ RUN_CRON_TASK }}{% endif %}
	</div>

	<div id="darkenwrapper" class="darkenwrapper position-relative" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken" class="darken position-fixed start-0 top-0 w-100 h-100 bg-dark">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert position-fixed start-0 end-0 mx-auto top-50 translate-middle-y" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<div class="bg-white border rounded-3">
			<div class="modal-header p-3 d-flex justify-content-between border-bottom">
				<h5 class="alert_title modal-title">&nbsp;</h5>
				<a href="#" class="alert_close btn-close" title="{L_CLOSE_WINDOW}"></a>
			</div>
			<p class="alert_text p-3"></p>
		</div>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert position-fixed start-0 end-0 mx-auto top-50 translate-middle-y">
		<p class="alert_text"></p>
	</div>

	<!-- INCLUDE login_popup.html -->
<!-- IF not $FORUM_ROW -->
	<!-- INCLUDE forum_image_popup.html -->
<!-- ENDIF -->
	<!-- INCLUDE hidden_sidebar.html -->

<script src="{T_JQUERY_LINK}"></script>
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<script src="{T_TEMPLATE_PATH}/bootstrap.bundle.min.js"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->

<!-- IF S_COOKIE_NOTICE -->
<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
<script>
	if (typeof window.cookieconsent === "object") {
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#0F538A"
					},
					"button": {
						"background": "#E5E5E5"
					}
				},
				"theme": "classic",
				"content": {
					"message": "{LA_COOKIE_CONSENT_MSG}",
					"dismiss": "{LA_COOKIE_CONSENT_OK}",
					"link": "{LA_COOKIE_CONSENT_INFO}",
					"href": "{UA_PRIVACY}"
				}
			});
		});
	}
</script>
<!-- ENDIF -->

<script>
//Get the button:
goTopButton = document.getElementById("gototop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		gototop.style.display = "block";
	} else {
		gototop.style.display = "none";
	}
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
	document.body.scrollTop = 0; // For Safari
	document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

<script>
	function resize() {
		if ($(window).width() < 975) {
			$('.hidden-friends-list').removeClass('show');
			$('.hidden-friends-list').addClass('collapse');
		}
		else {
			$('.hidden-friends-list').removeClass('collapse');
			$('.hidden-friends-list').addClass('show');
		}
	}

	$(document).ready( function() {
		$(window).resize(resize);
		resize();
	});

	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	})

	var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
	var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
		return new bootstrap.Popover(popoverTriggerEl)
	})

	var loginModal = document.getElementById('login_popup')
	var loginInput = document.getElementById('username')

	loginModal.addEventListener('shown.bs.modal', function () {
		loginInput.focus()
	})

	$(document).ready(function(){
		$('.progress_value > span').each(function(){
			$(this).prop('Counter',0).animate({
				Counter: $(this).text()
			},{
				duration: 1500,
				easing: 'swing',
				step: function (now){
				$(this).text(Math.ceil(now));
			}
		});
		});
	});

	$('.toggle-plus').click(function() {
		$(this).toggleClass('toggle-minus');
	});

	$('.toggle-plus').attr('title', '{L_EXPAND_VIEW}').click(function() {
		$(this).toggleClass('toggle-plus');
		var title = '{L_EXPAND_VIEW}' ;
		if( $(this).hasClass('toggle-minus')){
			title = '{L_COLLAPSE_VIEW}';
		}
		$(this).attr('title', title);
	});

	function showTheme() {
	  // Check Local Storage then apply dark theme if it's active
	}
	function showContent() {
		document.body.style.visibility = 'visible';
		document.body.style.opacity = 1;
	}
	window.addEventListener('DOMContentLoaded', function () {
		showTheme();
		showContent();
	});

</script>

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->

</body>
</html>
