		<!-- EVENT overall_footer_content_after -->
	</div><!-- end page-body -->

<!-- EVENT overall_footer_page_body_after -->

<!-- INCLUDE navbar_footer.html -->

<!-- EVENT overall_footer_copyright_prepend -->

	<div id="page-footer" class="page-footer mb-3 px-3 d-md-flex justify-content-md-between" role="contentinfo">
		<div>
		<p class="mb-0">{{ CREDIT_LINE }}</p>
		<p class="mb-0" role="menu"><a href="{{ U_PRIVACY }}" role="menuitem">{{ lang('PRIVACY') }}</a> | <a href="{{ U_TERMS_USE }}" role="menuitem">{{ lang('TERMS_USE') }}</a></p>
		<!-- IF TRANSLATION_INFO -->
		<p class="mb-0">{{ TRANSLATION_INFO }}</p>
		<!-- ENDIF -->
		<!-- EVENT overall_footer_copyright_append -->
		<!-- IF U_ACP -->
		<p class="mb-0"><strong><a href="{{ U_ACP }}">{{ lang('ACP') }}</a></strong></p>
		<!-- ENDIF -->
		</div>

		<div class="mt-2 mt-md-0 text-md-end">
		<!-- IF S_USER_LOGGED_IN -->
		<p class="mb-0">{CURRENT_TIME}</p>
		<p class="mb-0">{LAST_VISIT_DATE}</p>
		<!-- ENDIF -->
		<!-- EVENT overall_footer_timezone_before -->
		<p class="mb-0">{S_TIMEZONE}</p>
		<!-- EVENT overall_footer_timezone_after -->
		<!-- IF DEBUG_OUTPUT -->
		<p class="mb-0">{{ DEBUG_OUTPUT }}</p>
		<!-- ENDIF -->
		</div>
	</div>

<!-- EVENT overall_footer_copyright_append -->

	<div>
		<a id="bottom" class="d-block" accesskey="z"></a>
		{% if not S_IS_BOT %}{{ RUN_CRON_TASK }}{% endif %}
	</div>

	<div id="darkenwrapper" class="darkenwrapper position-relative" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken" class="darken position-fixed start-0 top-0 w-100 h-100 bg-dark">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert modal" tabindex="-1" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="alert_title modal-title">&nbsp;</h5>
					<button type="button" class="alert_close btn-close" title="{L_CLOSE_WINDOW}" data-bs-dismiss="modal" aria-label="{L_CLOSE_WINDOW}"></button>
				</div>
				<div class="modal-body">
					<p class="alert_text"></p>
				</div>
			</div>
		</div>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="alert_text "></div>
			</div>
		</div>
	</div>

<!-- IF not $LOGIN_POPUP_OFF -->
	<!-- INCLUDE login_popup.html -->
<!-- ENDIF -->
	<!-- INCLUDE forum_image_popup.html -->
	<!-- INCLUDE hidden_sidebar.html -->

</div><!-- end container -->

<script src="{T_JQUERY_LINK}"></script>
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<script src="{T_TEMPLATE_PATH}/bootstrap.bundle.min.js"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->

<!-- IF S_COOKIE_NOTICE -->
<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
<script>
	if (typeof window.cookieconsent === "object") {
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#0F538A"
					},
					"button": {
						"background": "#E5E5E5"
					}
				},
				"theme": "classic",
				"content": {
					"message": "{LA_COOKIE_CONSENT_MSG}",
					"dismiss": "{LA_COOKIE_CONSENT_OK}",
					"link": "{LA_COOKIE_CONSENT_INFO}",
					"href": "{UA_PRIVACY}"
				}
			});
		});
	}
</script>
<!-- ENDIF -->

<script>
//Get the button:
mybutton = document.getElementById("gototop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		gototop.style.display = "block";
	} else {
		gototop.style.display = "none";
	}
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
	document.body.scrollTop = 0; // For Safari
	document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

<script>
	var toHide = document.getElementsByClassName('user-panel');
		for (var i=0; i<toHide.length; ++i) {
			hideSecondWord(toHide[i]);
	}

	function hideSecondWord(elem) {
		elem.innerHTML = elem.textContent.replace(/\w+ (\w+)/, function(s, c) {
			return s.replace(c, '<span class="d-none">'+c+'</span>');
		});
	}

	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	})

	var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
	var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
		return new bootstrap.Popover(popoverTriggerEl)
	})

	var loginModal = document.getElementById('login-popup')
	var loginInput = document.getElementById('username')

	loginModal.addEventListener('shown.bs.modal', function () {
		loginInput.focus()
	})

	$(document).ready(function(){
		$('.progress-value > span').each(function(){
			$(this).prop('Counter',0).animate({
				Counter: $(this).text()
			},{
				duration: 1500,
				easing: 'swing',
				step: function (now){
				$(this).text(Math.ceil(now));
			}
		});
		});
	});
</script>

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->

</body>
</html>
