	</div>

	<p class="text-center mb-0 pb-3" role="contentinfo">
		{CREDIT_LINE}
		{% if TRANSLATION_INFO %}<br>{TRANSLATION_INFO}{% endif %}
		{% if DEBUG_OUTPUT %}<br>{DEBUG_OUTPUT}{% endif %}
	</p>

</div>

<script src="{T_JQUERY_LINK}"></script>
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<script src="{T_TEMPLATE_PATH}/bootstrap.bundle.min.js"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->
<script>
	$('.toggle-plus').click(function() {
		$(this).toggleClass('toggle-minus');
	});

	$('.toggle-plus').attr('title', '{L_EXPAND_VIEW}').click(function() {
		$(this).toggleClass('toggle-plus');
		var title = '{L_EXPAND_VIEW}' ;
		if( $(this).hasClass('toggle-minus')){
			title = '{L_COLLAPSE_VIEW}';
		}
		$(this).attr('title', title);
	});
</script>

<!-- EVENT simple_footer_after -->

{$SCRIPTS}

{% EVENT simple_footer_body_after %}

</body>
</html>
