
	</div><!-- end page-body -->
</div><!-- end container -->

<script src="{T_JQUERY_LINK}"></script>
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<script src="{T_TEMPLATE_PATH}/bootstrap.bundle.min.js"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->

<script>
	var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
	var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
		return new bootstrap.Popover(popoverTriggerEl)
	})

	$('.toggle-plus').click(function() {
		$(this).toggleClass('toggle-minus');
	});

	$('.toggle-plus').attr('title', '{L_EXPAND_VIEW}').click(function() {
		$(this).toggleClass('toggle-plus');
		var title = '{L_EXPAND_VIEW}' ;
		if( $(this).hasClass('toggle-minus')){
			title = '{L_COLLAPSE_VIEW}';
		}
		$(this).attr('title', title);
	});

</script>

<!-- EVENT simple_footer_after -->

{$SCRIPTS}

{% EVENT simple_footer_body_after %}

</body>
</html>
