<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="card mb-3">
	<div class="card-header">
		{L_TITLE}
	</div>
	<div class="card-body pb-0">

	<div class="alert alert-info">{L_FOES_EXPLAIN}</div>

	<!-- IF ERROR -->
		<div class="alert alert-danger">{ERROR}</div>
	<!-- ENDIF -->

	<dl class="row">
		<dt class="col-lg-4 col-md-5 col-12">
			<label class="col-form-label"<!-- IF S_USERNAME_OPTIONS --> for="usernames"<!-- ENDIF -->>{L_YOUR_FOES}{L_COLON}</label>
			<span class="small text-muted fw-normal d-block mb-1">{L_YOUR_FOES_EXPLAIN}</span>
		</dt>
		<dd class="col-lg-8 col-md-7 col-12">
			<!-- IF S_USERNAME_OPTIONS -->
				<select class="form-select" name="usernames[]" id="usernames" multiple="multiple" size="5">{S_USERNAME_OPTIONS}</select>
			<!-- ELSE -->
					<label class="col-form-label">{L_NO_FOES}</label>
			<!-- ENDIF -->
		</dd>
	</dl>
	<dl class="row">
		<dt class="col-lg-4 col-md-5 col-12">
			<label class="col-form-label" for="add">{L_ADD_FOES}{L_COLON}</label>
			<span class="small text-muted fw-normal d-block mb-1">{L_ADD_FOES_EXPLAIN}</span>
		</dt>
		<dd class="col-lg-8 col-md-7 col-12">
			<div class="row">
				<div class="col-md-7 col-12">
					<textarea class="form-control" name="add" id="add" rows="3" cols="30">{USERNAMES}</textarea>
				</div>
				<div class="col-md-5 col-12 mt-2 mt-md-0">
					<a class="btn btn-secondary" href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;" title="{L_FIND_USERNAME}"><i class="fa fa-search fa-fw" aria-hidden="true"></i></a>
				</div>
			</div>
		</dd>
	</dl>

	</div>

	<div class="card-footer">
		{S_HIDDEN_FIELDS}
		<div class="d-grid col-4 mx-auto">
			<button class="btn btn-success" type="submit" name="submit" value="{L_SUBMIT}"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i> {L_SUBMIT}</button>
		</div>
		{S_FORM_TOKEN}
	</div>
</div>

</form>

<!-- INCLUDE ucp_footer.html -->
