<!-- INCLUDE ucp_header.html -->

<!-- INCLUDE ucp_pm_message_header.html -->

<!-- IF S_DISPLAY_HISTORY and (U_VIEW_PREVIOUS_HISTORY or U_VIEW_NEXT_HISTORY) -->
<div class="clearfix mb-3">
	<!-- IF U_VIEW_PREVIOUS_HISTORY -->
	<a class="btn btn-outline-secondary float-start" href="{U_VIEW_PREVIOUS_HISTORY}" title="{L_VIEW_PREVIOUS_HISTORY}"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i> {L_VIEW_PREVIOUS_HISTORY}</a>
	<!-- ENDIF -->
	<!-- IF U_VIEW_NEXT_HISTORY -->
	<a class="btn btn-outline-secondary float-end" href="{U_VIEW_NEXT_HISTORY}" title="{L_VIEW_NEXT_HISTORY}">{L_VIEW_NEXT_HISTORY} <i class="fa fa-chevron-{S_CONTENT_FLOW_END} fa-fw" aria-hidden="true"></i></a>
	<!-- ENDIF -->
</div>
<!-- ENDIF -->

<div class="card mb-3 shadow-sm">
	<div id="post-{MESSAGE_ID}" class="card-body p-0">
		<div class="row m-0">

			<div id="profile{MESSAGE_ID}" class="postprofile col-lg-3 col-md-4<!-- IF $PROFILE_ON_RIGHT --> order-first order-md-2<!-- ENDIF --> px-3 pb-3 bg2">
				<!-- IF S_ONLINE -->
					<span class="badge bg-success text-uppercase online d-none d-md-block mx-auto rounded-0 rounded-bottom"><i class="fa fa-signal fa-fw" aria-hidden="true"></i> {L_ONLINE} <i class="fa fa-signal fa-flip-horizontal fa-fw" aria-hidden="true"></i></span>
				<!-- ENDIF -->

				<div class="text-center mb-2">
					<!-- EVENT ucp_pm_viewmessage_avatar_before -->
					<!-- IF AUTHOR_AVATAR -->
					<div class="mt-3 me-3 me-md-0 float-start float-md-none">
						<a class="avatar" href="{U_MESSAGE_AUTHOR}">{AUTHOR_AVATAR}</a>
					</div>
					<!-- ENDIF -->
					<!-- EVENT ucp_pm_viewmessage_avatar_after -->

					<!-- IF not $PROFILE_POPUP_OFF and U_MESSAGE_AUTHOR -->
					<button class="btn btn-primary btn-sm position-relative d-block mx-auto mt-3 mb-1 float-end float-md-none" type="button" data-bs-toggle="modal" data-bs-target="#modal_message_{MESSAGE_ID}">
						<i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> {L_READ_PROFILE} <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill d-none d-md-inline-block" fill="#0d6efd" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
					</button>
					<!-- ENDIF -->

					<div class="mt-1 float-start float-md-none">
					{% EVENT ucp_pm_viewmessage_author_full_before %}
						{MESSAGE_AUTHOR_FULL}<!-- IF S_ONLINE --> <i class="fa fa-circle text-success d-sm d-md-none" title="{L_ONLINE}" aria-hidden="true"></i><span class="visually-hidden">{L_ONLINE}</span><!-- ENDIF --><br>
					{% EVENT ucp_pm_viewmessage_author_full_after %}
		
					<!-- EVENT ucp_pm_viewmessage_rank_before -->
					<!-- IF RANK_TITLE or RANK_IMG --><strong>{RANK_TITLE}</strong><!-- IF RANK_TITLE and RANK_IMG --><br><!-- ENDIF -->{RANK_IMG}<!-- ENDIF -->
					<!-- EVENT ucp_pm_viewmessage_rank_after -->
					</div>
				</div>

			<!-- IF $PROFILE_POPUP_OFF -->
				<div><strong>{L_POSTS}{L_COLON}</strong> <!-- IF U_AUTHOR_POSTS != '' --><a href="{U_AUTHOR_POSTS}">{AUTHOR_POSTS}</a><!-- ELSE -->{AUTHOR_POSTS}<!-- ENDIF --></div>
				<!-- IF AUTHOR_JOINED --><div class="d-none d-md-block"><strong>{L_JOINED}{L_COLON}</strong> {AUTHOR_JOINED}</div><!-- ENDIF -->
		
				<!-- EVENT ucp_pm_viewmessage_custom_fields_before -->
				<!-- BEGIN custom_fields -->
					<!-- IF not custom_fields.S_PROFILE_CONTACT -->
						<div class="profile-{custom_fields.PROFILE_FIELD_IDENT} d-none d-md-block"><strong>{custom_fields.PROFILE_FIELD_NAME}{L_COLON}</strong> {custom_fields.PROFILE_FIELD_VALUE}</div>
					<!-- ENDIF -->
				<!-- END custom_fields -->
				<!-- EVENT ucp_pm_viewmessage_custom_fields_after -->
		
				<!-- EVENT ucp_pm_viewmessage_contact_fields_before -->
				<!-- IF .contact -->
				<div class="btn-group dropdown float-end float-md-none mt-2">
					<button type="button" class="btn btn-secondary dropdown-toggle" title="{CONTACT_USER}" data-bs-toggle="dropdown" aria-expanded="false">{L_CONTACT}</button>
					<ul class="dropdown-menu dropdown-menu-<!-- IF $PROFILES_ON_RIGHT -->end<!-- ELSE -->start<!-- ENDIF --> dropdown-contents">
					<!-- BEGIN contact -->
						<li>
							<a href="<!-- IF contact.U_CONTACT -->{contact.U_CONTACT}<!-- ELSE -->{contact.U_PROFILE_AUTHOR}<!-- ENDIF -->" class="dropdown-item" title="{contact.NAME}"<!-- IF contact.ID eq 'jabber' --> onclick="popup(this.href, 750, 320); return false;"<!-- ENDIF -->>
								<span class="{contact.ID}-icon"><i class="fa fa-<!-- IF contact.ID eq 'pm' -->user<!-- ELSEIF contact.ID eq 'email' -->envelope<!-- ELSEIF contact.ID eq 'phpbb_website' -->globe<!-- ELSEIF contact.ID eq 'icon_contact_jabber' -->lightbulb-o<!-- ELSEIF contact.ID eq 'phpbb_yahoo' -->yahoo<!-- ELSEIF contact.ID eq 'phpbb_facebook' -->facebook-square<!-- ELSEIF contact.ID eq 'phpbb_twitter' -->twitter<!-- ELSEIF contact.ID eq 'phpbb_skype' -->skype<!-- ELSEIF contact.ID eq 'phpbb_youtube' -->youtube-play<!-- ELSEIF contact.ID eq 'phpbb_googleplus' -->google-plus<!-- ELSE -->comments<!-- ENDIF --> fa-fw"></i> {contact.NAME}</span>
							</a>
						</li>
					<!-- END contact -->
					</ul>
				</div>
				<!-- ENDIF -->
				<!-- EVENT ucp_pm_viewmessage_contact_fields_after -->
			<!-- ENDIF -->
			</div>

			<div class="postbody col-lg-9 col-md-8 p-0<!-- IF SIGNATURE --> bg2<!-- ELSE --> bg1<!-- ENDIF --><!-- IF $PROFILE_ON_RIGHT --> border-end<!-- ELSE --> border-start<!-- ENDIF -->">
			<div class="opacity-50 d-md-none"><hr class="m-0"></div>

				<div class="postbody-before d-flex px-3 py-2 border-bottom justify-content-between align-items-center bg2">
					<div>
						{SUBJECT}<br>
						<strong>{L_SENT_AT}{L_COLON}</strong> {SENT_DATE}
					</div>
	
					<!-- DEFINE $SHOW_PM_POST_BUTTONS = (U_EDIT or U_DELETE or U_REPORT or U_QUOTE) -->
					<!-- EVENT ucp_pm_viewmessage_post_buttons_list_before -->
					<!-- IF $SHOW_PM_POST_BUTTONS -->
					<div class="ms-2">
						<div class="btn-group">
						<!-- EVENT ucp_pm_viewmessage_post_buttons_before -->
						<!-- IF U_EDIT -->
							<a class="btn btn-secondary" href="{U_EDIT}" title="{L_POST_EDIT_PM}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_EDIT}</span></a>
						<!-- ENDIF -->
						<!-- IF U_DELETE -->
							<a class="btn btn-danger" href="{U_DELETE}" title="{L_DELETE_MESSAGE}"><i class="fa fa-times  fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_DELETE}</span></a>
						<!-- ENDIF -->
						<!-- IF U_REPORT -->
							<a class="btn btn-secondary" href="{U_REPORT}" title="{L_REPORT_PM}"><i class="fa fa-exclamation fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_REPORT}</span></a>
						<!-- ENDIF -->
						<!-- IF U_QUOTE -->
							<a class="btn btn-secondary" href="{U_QUOTE}" title="{L_POST_QUOTE_PM}"><i class="fa fa-quote-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_QUOTE}</span></a>
						<!-- ENDIF -->
						<!-- EVENT ucp_pm_viewmessage_post_buttons_after -->
						</div>
					</div>
					<!-- ENDIF -->
					<!-- EVENT ucp_pm_viewmessage_post_buttons_list_after -->
				</div>

				<div class="px-3 py-2 bg1">
					<p class="author">
						<strong>{L_PM_FROM}{L_COLON}</strong> {MESSAGE_AUTHOR_FULL}
						<!-- IF S_TO_RECIPIENT --><br><strong>{L_TO}{L_COLON}</strong> <!-- BEGIN to_recipient --><!-- IF to_recipient.NAME_FULL -->{to_recipient.NAME_FULL}<!-- ELSE --><a href="{to_recipient.U_VIEW}"<!-- IF to_recipient.COLOUR --> style="color:{to_recipient.COLOUR};"<!-- ENDIF -->>{to_recipient.NAME}</a><!-- ENDIF -->&nbsp;<!-- END to_recipient --><!-- ENDIF -->
						<!-- IF S_BCC_RECIPIENT --><br><strong>{L_BCC}{L_COLON}</strong> <!-- BEGIN bcc_recipient --><!-- IF bcc_recipient.NAME_FULL -->{bcc_recipient.NAME_FULL}<!-- ELSE --><a href="{bcc_recipient.U_VIEW}"<!-- IF bcc_recipient.COLOUR --> style="color:{bcc_recipient.COLOUR};"<!-- ENDIF -->>{bcc_recipient.NAME}</a><!-- ENDIF -->&nbsp;<!-- END bcc_recipient --><!-- ENDIF -->
					</p>

					<div class="content">{MESSAGE}</div>

				<!-- IF S_HAS_ATTACHMENTS -->
					<div class="my-1 text-uppercase">{L_ATTACHMENTS}</div>
					<div class="row<!-- IF $ATTACHMENT_COLUMNS eq 3 --> row-cols-lg-3 row-cols-md-2 row-cols-1<!-- ELSEIF $ATTACHMENT_COLUMNS eq 2 --> row-cols-lg-2 row-cols-1<!-- ELSE --> flex-column<!-- ENDIF -->">
					<!-- BEGIN attachment -->
						<div class="col d-flex">
							<div class="card mb-3<!-- IF $ATTACHMENT_COLUMNS --> w-100<!-- ENDIF -->">
								<div class="card-body p-2">
									{attachment.DISPLAY_ATTACHMENT}
								</div>
							</div>
						</div>
					<!-- END attachment -->
					</div>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_NOTICE -->
					<div class="alert alert-warning">{L_DOWNLOAD_NOTICE}</div>
				<!-- ENDIF -->

				<!-- IF EDITED_MESSAGE or EDIT_REASON -->
					<div class="alert alert-info">
						{EDITED_MESSAGE}
						<!-- IF EDIT_REASON --><br><strong>{L_REASON}{L_COLON}</strong> <em>{EDIT_REASON}</em><!-- ENDIF -->
					</div>
				<!-- ENDIF -->
				</div>

			<!-- IF SIGNATURE -->
				<div id="sig{MESSAGE_ID}" class="postbody-after d-none d-md-block px-3 py-2 border-top small">{SIGNATURE}</div>
			<!-- ENDIF -->
			</div>
		</div>

	</div>
</div>

<!-- EVENT ucp_pm_viewmessage_options_before -->

<!-- IF not S_UNREAD and not S_SPECIAL_FOLDER or S_MARK_OPTIONS -->
<div class="d-md-flex justify-content-between mb-3">
	<!-- IF not S_UNREAD and not S_SPECIAL_FOLDER -->
	<div>
		<div class="input-group">
			<span class="input-group-text"><!-- IF S_VIEW_MESSAGE -->{L_MOVE_TO_FOLDER}{L_COLON} <!-- ELSE -->{L_MOVE_MARKED_TO_FOLDER}<!-- ENDIF --></span>
			<select class="form-select" name="dest_folder" id="dest_folder">{S_TO_FOLDER_OPTIONS}</select>
			<input type="submit" name="move_pm" value="{L_GO}" class="btn btn-secondary" />
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_MARK_OPTIONS -->
	<div>
		<div class="input-group">
			<select class="form-select" name="mark_option" id="mark_option">{S_MARK_OPTIONS}</select>
			<input type="submit" name="submit_mark" value="{L_GO}" class="btn btn-secondary" />
		</div>
	</div>
	<!-- ENDIF -->

	<input type="hidden" name="marked_msg_id[]" value="{MSG_ID}" />
	<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
	<input type="hidden" name="p" value="{MSG_ID}" />
</div>
<!-- ENDIF -->

<!-- INCLUDE ucp_pm_message_footer.html -->

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- IF not ($PROFILE_POPUP_OFF) -->
	<div id="modal_message_{MESSAGE_ID}" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{L_READ_PROFILE} - {MESSAGE_AUTHOR}</h5>
					<button type="button" class="btn-close" title="{L_CLOSE_WINDOW}" data-bs-dismiss="modal" aria-label="{L_CLOSE_WINDOW}"></button>
				</div>

				<div class="modal-body bg1<!-- IF not .contact --> rounded-bottom<!-- ENDIF -->">
					<div class="row d-flex align-items-center">
						<div class="col-4 d-flex align-items-center justify-content-center">
						<!-- IF AUTHOR_AVATAR -->{AUTHOR_AVATAR}<!-- ELSE --><img class="img-thumbnail rounded-circle" src="{ROOT_PATH}styles/bootlike/theme/images/no_avatar.gif" alt="{L_IMAGE}" /><!-- ENDIF -->
						</div>
						<div class="col-8">
						<div><strong>{L_POSTS}{L_COLON}</strong> <!-- IF U_AUTHOR_POSTS != '' --><a href="{U_AUTHOR_POSTS}">{AUTHOR_POSTS}</a><!-- ELSE -->{AUTHOR_POSTS}<!-- ENDIF --></div>
						<!-- IF AUTHOR_JOINED --><div><strong>{L_JOINED}{L_COLON}</strong> {AUTHOR_JOINED}</div><!-- ENDIF -->

						<!-- EVENT ucp_pm_viewmessage_custom_fields_before -->
						<!-- BEGIN custom_fields -->
							<!-- IF not custom_fields.S_PROFILE_CONTACT -->
								<div class="profile-custom-field profile-{custom_fields.PROFILE_FIELD_IDENT} d-none d-md-block"><strong>{custom_fields.PROFILE_FIELD_NAME}{L_COLON}</strong> {custom_fields.PROFILE_FIELD_VALUE}</div>
							<!-- ENDIF -->
						<!-- END custom_fields -->
						<!-- EVENT ucp_pm_viewmessage_custom_fields_after -->
						</div>
					</div>
				</div>
				
				<!-- IF .contact -->
				<div class="modal-footer py-2 justify-content-center">
				<!-- EVENT ucp_pm_viewmessage_contact_fields_before -->
					<!-- BEGIN contact -->
					{% EVENT viewtopic_body_contact_icon_prepend %}
					<a class="text-decoration-none" href="<!-- IF contact.U_CONTACT -->{contact.U_CONTACT}<!-- ELSE -->{postrow.U_POST_AUTHOR}<!-- ENDIF -->"<!-- IF contact.ID eq 'jabber' --> onclick="popup(this.href, 750, 320); return false;"<!-- ENDIF --> title="{contact.NAME}">
						<div class="p-1 rounded-circle alert-primary shadow-sm">
							<div class="contact-button d-flex align-items-center justify-content-center rounded-circle border border-4 border-white fs-5 alert-primary" style="width: 48px; height: 48px;">
								<i class="fa fa-<!-- IF contact.ID eq 'pm' -->user<!-- ELSEIF contact.ID eq 'email' -->envelope<!-- ELSEIF contact.ID eq 'phpbb_website' -->globe<!-- ELSEIF contact.ID eq 'icon_contact_jabber' -->lightbulb-o<!-- ELSEIF contact.ID eq 'phpbb_yahoo' -->yahoo<!-- ELSEIF contact.ID eq 'phpbb_facebook' -->facebook<!-- ELSEIF contact.ID eq 'phpbb_twitter' -->twitter<!-- ELSEIF contact.ID eq 'phpbb_skype' -->skype<!-- ELSEIF contact.ID eq 'phpbb_youtube' -->youtube<!-- ELSEIF contact.ID eq 'phpbb_googleplus' -->google-plus<!-- ELSEIF contact.ID eq 'phpbb_icq' -->asterisk<!-- ELSE -->comments<!-- ENDIF --> fa-fw"></i>
							</div>
						</div>
					</a>
					{% EVENT viewtopic_body_contact_icon_append %}
					<!-- END contact -->
				<!-- EVENT ucp_pm_viewmessage_contact_fields_after -->
				</div>
				<!-- ENDIF -->

			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
