<!-- INCLUDE overall_header.html -->

<form action="{{ U_RESET_PASSWORD_ACTION }}" method="post" id="reset_password">
	<div class="col-md-12 col-lg-8 offset-lg-2">
		<div class="card mb-3">
			<div class="card-header">
				{{ lang('RESET_PASSWORD') }}
			</div>

			<div class="card-body pb-0">
				{% if S_IS_PASSWORD_RESET %}
					{% if PASSWORD_RESET_ERRORS %}
						<div class="alert alert-info">{{ PASSWORD_RESET_ERRORS | join('<br>') }}</div>
					{% endif %}

				<dl class="row">
					<dt class="col-lg-3 col-md-4 col-12">
						<label class="col-form-label" for="new_password">{{ lang('NEW_PASSWORD') ~ lang('COLON') }}</label>
					</dt>
					<dd class="col-lg-9 col-md-8 col-12 w-auto">
						<div class="input-group">
							<input class="form-control" type="password" name="new_password" id="new_password" size="25" maxlength="255" title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off" />
							<button class="btn btn-outline-info" type="button" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{{ lang('CHANGE_PASSWORD_EXPLAIN') }}"><i class="fa fa-info fa-fw" aria-hidden="true"></i></button>
						</div>
					</dd>
				</dl>

				<dl class="row">
					<dt class="col-lg-3 col-md-4 col-12">
						<label class="col-form-label" for="new_password_confirm">{{ lang('CONFIRM_PASSWORD') ~ lang('COLON') }}</label>
					</dt>
					<dd class="col-lg-9 col-md-8 col-12">
						<input class="form-control" type="password" name="new_password_confirm" id="new_password_confirm" size="25" maxlength="255" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off" />
					</dd>
				</dl>
				{% else %}
					{% if USERNAME_REQUIRED %}
						<div class="alert alert-info">{{ lang('EMAIL_NOT_UNIQUE') }}</div>
					{% endif %}
				<dl class="row">
					<dt class="col-lg-3 col-md-4 col-12">
						<label class="col-form-label" for="email">{{ lang('EMAIL_ADDRESS') ~ lang('COLON') }}</label>
					</dt>
					<dd class="col-lg-9 col-md-8 col-12 w-auto">
						<div class="input-group">
							<input class="form-control" type="email" name="email" id="email" size="25" maxlength="100" value="{{ EMAIL }}" autofocus />
							<button class="btn btn-outline-info" type="button" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{{ lang('EMAIL_REMIND') }}"><i class="fa fa-info fa-fw" aria-hidden="true"></i></button>
						</div>
					</dd>
				</dl>
					{% if USERNAME_REQUIRED %}
				<dl class="row">
					<dt class="col-lg-3 col-md-4 col-12">
						<label class="d-block mb-2" for="username">{{ lang('USERNAME') ~ lang('COLON') }}</label>
					</dt>
					<dd class="col-lg-9 col-md-8 col-12">
						<input class="form-control" type="text" name="username" id="username" size="25" />
					</dd>
				</dl>
					{% endif %}
				{% endif %}
			</div>

			<div class="card-footer">
				{{ S_HIDDEN_FIELDS }}
				<div class="d-grid col-4 mx-auto">
					<button class="btn btn-success" type="submit" name="submit" id="submit" value="{{ lang('SUBMIT') }}" tabindex="2"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i> {{ lang('SUBMIT') }}</button>
				</div>
				{{ S_FORM_TOKEN }}
			</div>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->
