<!-- INCLUDE ucp_header.html -->

{% EVENT ucp_notifications_form_before %}

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

{% EVENT ucp_notifications_content_before %}

	<div class="alert alert-info">{TITLE_EXPLAIN}</div>

<!-- IF MODE == 'notification_options' -->
	<div class="card mb-3">
		<div class="card-header mb-1 d-none d-md-block border-bottom-0">
			<div class="row">
				<div class="col-12 col-md-8">{L_NOTIFICATION_TYPE}</div>
				<!-- BEGIN notification_methods -->
					<div class="col-12 col-md-2 text-center">{notification_methods.NAME}</div>
				<!-- END notification_methods -->
			</div>
		</div>

	<!-- BEGIN notification_types -->
		<!-- IF notification_types.GROUP_NAME -->
			<div class="container-fluid p-0">
				<div class="row m-1 mt-0 p-2 align-items-center bg2">
					<div class="col-12"><strong>{notification_types.GROUP_NAME}</strong></div>
				</div>
			</div>
		<!-- ELSE -->
			<div class="container-fluid p-0">
				<div class="row m-1 mt-0 p-2 align-items-center bg1">
					<div class="col-12 col-md-8">
						<span class="badge bg-secondary d-md-none me-1">{L_NOTIFICATION_TYPE}{L_COLON}</span> {notification_types.NAME}
						<!-- IF notification_types.EXPLAIN --><div class="small text-muted mt-1">{notification_types.EXPLAIN}</div><!-- ENDIF -->
					</div>
					<!-- BEGIN notification_methods -->
						<div class="col-12 col-md-2 text-md-center">
							<span class="badge bg-secondary d-md-none me-1">{notification_methods.NAME}{L_COLON}</span>
							<div class="form-switch mx-md-auto d-inline-block d-md-block"><input class="form-check-input" type="checkbox" name="{notification_types.TYPE}_{notification_types.notification_methods.METHOD}"<!-- IF notification_types.notification_methods.SUBSCRIBED --> checked="checked"<!-- ENDIF --><!-- IF not notification_types.notification_methods.AVAILABLE --> disabled="disabled"<!-- ENDIF --> /></div>
						</div>
					<!-- END notification_methods -->
				</div>
			</div>
		<!-- ENDIF -->
	<!-- END notification_types -->
	</div>
<!-- ELSE -->
	<!-- IF .notification_list -->
	<div class="card mb-3">
		<div class="action-bar d-sm-flex justify-content-between bg1">
			<div class="d-flex">&nbsp;</div>

			<div class="btn btn-lg disabled fs-6 mt-1 text-nowrap border-0">
				{L_NOTIFICATIONS} {TOTAL_COUNT} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>

			<div class="d-flex">
			<!-- IF .pagination -->
				<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
				<div class="dropdown-menu dropdown-menu-end">
					<div class="input-group px-2">
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ELSE -->
				&nbsp;
			<!-- ENDIF -->

			<!-- IF U_MARK_ALL -->
				<a href="{U_MARK_ALL}" class="btn btn-lg rounded-0 border-0" title="{L_NOTIFICATIONS_MARK_ALL_READ}"><i class="fa fa-check fa-fw" aria-hidden="true"></i></a>
			<!-- ENDIF -->
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header mb-1 border-bottom-0">
			<div class="row">
				<div class="col-md-10 col-sm-9 col-9">{L_NOTIFICATIONS}</div>
				<div class="col-md-2 col-sm-3 col-3 text-center">{L_MARK_READ}</div>
			</div>
		</div>

		<!-- BEGIN notification_list -->
		<div class="container-fluid p-0 notification-text">
			<div class="m-1 mt-0<!-- IF notification_list.UNREAD --> text-bg-info<!-- ELSE --> bg1<!-- ENDIF --><!-- IF notification_list.STYLING --> {notification_list.STYLING}<!-- ENDIF -->">
				<div class="row px-3 py-2 align-items-center">
					<div class="col-md-10 col-sm-9 col-9">
						<div class="float-start me-2">
							<!-- IF notification_list.AVATAR -->{notification_list.AVATAR}<!-- ELSE --><img src="{ROOT_PATH}styles/bootlike/theme/images/no_avatar.gif" class="img-thumbnail" alt="{L_IMAGE}" /><!-- ENDIF -->
						</div>
						<!-- IF notification_list.URL --><a<!-- IF notification_list.UNREAD --> class="alert-link"<!-- ENDIF --> href="<!-- IF notification_list.UNREAD -->{notification_list.U_MARK_READ}<!-- ELSE -->{notification_list.URL}<!-- ENDIF -->"><!-- ENDIF -->
						{notification_list.FORMATTED_TITLE}<!-- IF notification_list.REFERENCE --> {notification_list.REFERENCE}<!-- ENDIF --><br>
						<!-- IF notification_list.URL --></a><!-- ENDIF -->
						<!-- IF notification_list.FORUM -->{notification_list.FORUM}<br><!-- ENDIF -->
						<!-- IF notification_list.REASON -->{notification_list.REASON}<br><!-- ENDIF -->
						{notification_list.TIME}
					</div>
					<div class="col-md-2 col-sm-3 col-3 text-center">
						<div class="form-switch mx-auto"><input class="form-check-input" type="checkbox" name="mark[]" value="{notification_list.NOTIFICATION_ID}"<!-- IF not notification_list.UNREAD --> disabled="disabled"<!-- ENDIF --> /></div>
					</div>
				</div>
			</div>
		</div>
		<!-- END notification_list -->
	</div>

	<!-- ELSE -->
		<div class="alert alert-info">
			{L_NO_NOTIFICATIONS}
		</div>
	<!-- ENDIF -->

<!-- ENDIF -->

{% EVENT ucp_notifications_content_after %}

<!-- IF .notification_types or .notification_list -->
	<div class="card mb-3">
		<div class="action-bar d-sm-flex justify-content-end bg1">
			<input type="hidden" name="form_time" value="{FORM_TIME}" />
			{S_HIDDEN_FIELDS}
			<input class="btn btn-lg rounded-0 border-0" type="submit" name="submit" title="<!-- IF MODE == 'notification_options' -->{L_SUBMIT}<!-- ELSE -->{L_MARK_READ}<!-- ENDIF -->" value="<!-- IF MODE == 'notification_options' -->{L_SUBMIT}<!-- ELSE -->{L_MARK_READ}<!-- ENDIF -->" />
			<a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;" class="btn btn-lg rounded-0 border-0" title="{L_UNMARK_ALL}"><i class="fa fa-toggle-off fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_UNMARK_ALL}</span></a>
			<a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;" class="btn btn-lg rounded-0 border-0" title="{L_MARK_ALL}"><i class="fa fa-toggle-on fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_MARK_ALL}</span></a>
			{S_FORM_TOKEN}
		</div>
	</div>
<!-- ENDIF -->

</form>

{% EVENT ucp_notifications_form_after %}

<!-- INCLUDE ucp_footer.html -->
