<!-- IF .avatar_local_cats -->
<dl class="row">
	<dt class="col-lg-4 col-md-5 col-12"><label class="col-form-label" for="category">{L_AVATAR_CATEGORY}{L_COLON}</label></dt>
	<dd class="col-lg-8 col-md-7 col-12 w-auto">
		<div class="input-group">
			<select class="form-select" name="avatar_local_cat" id="category">
				<!-- BEGIN avatar_local_cats -->
				<option value="{avatar_local_cats.NAME}"<!-- IF avatar_local_cats.SELECTED --> selected="selected"<!-- ENDIF -->>{avatar_local_cats.NAME}</option>
				<!-- END avatar_local_cats -->
			</select>
			<input type="submit" value="{L_GO}" name="avatar_local_go" class="btn btn-secondary" />
		</div>
	</dd>
</dl>

<div id="gallery" class="text-center mb-2">
<!-- BEGIN avatar_local_row -->
<!-- BEGIN avatar_local_col -->
	<label class="form-check-label m-1" for="av-{avatar_local_row.S_ROW_COUNT}-{avatar_local_row.avatar_local_col.S_ROW_COUNT}" class="img-thumbnail custom-bg-light text-center">
		<img src="{avatar_local_row.avatar_local_col.AVATAR_IMAGE}" alt="{L_IMAGE}"><br>
		<input class="form-check-input" type="radio" name="avatar_local_file" id="av-{avatar_local_row.S_ROW_COUNT}-{avatar_local_row.avatar_local_col.S_ROW_COUNT}" value="{avatar_local_row.avatar_local_col.AVATAR_FILE}"<!-- IF avatar_local_row.avatar_local_col.CHECKED --> checked="checked"<!-- ENDIF --> />
	</label>
<!-- END avatar_local_col -->
<!-- END avatar_local_row -->
</div>
<!-- ELSE -->
<p><strong>{L_NO_AVATARS}</strong></p>
<!-- ENDIF -->
