<!-- INCLUDE simple_header.html -->

<form action="{S_PROFILE_ACTION}" method="post" id="resend">
	<div class="container-fluid d-flex align-items-center vh-100">
		<div class="col-12 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 bg1">
	
			<div class="card shadow">
				<div class="card-body">
	
					<h4 class="card-title mb-3">{L_UCP_RESEND}</h4>

					<div class="row">
						<dt class="col-lg-3 col-md-4 col-12"><label class="col-form-label" for="username">{L_USERNAME}{L_COLON}</label></dt>
						<dd class="col-lg-9 col-md-8 col-12"><input class="form-control" type="text" name="username" id="username" size="25" /></dd>
					</div>
				
					<div class="row">
						<dt class="col-lg-3 col-md-4 col-12">
							<label class="col-form-label" for="email">{L_EMAIL_ADDRESS}{L_COLON}</label>
							<div class="small text-muted fw-normal mb-1">{L_EMAIL_REMIND}</div>
						</dt>
						<dd class="col-lg-9 col-md-8 col-12">
							<input class="form-control" type="email" name="email" id="email" size="25" maxlength="100" />
						</dd>
					</div>

				</div>
				
				<div class="card-footer">
					{S_HIDDEN_FIELDS}
					<div class="row">
						<div class="col-12 col-md-6">
							<a class="btn btn-secondary w-100 my-1" href="{U_INDEX}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> {L_HOME}</a>
						</div>
						<div class="col-12 col-md-6">
							<button class="btn btn-success w-100 my-1" type="submit" name="submit" id="submit" value="{L_SUBMIT}" tabindex="2"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i> {L_SUBMIT}</button>
						</div>
					</div>
					{S_FORM_TOKEN}
				</div>

			</div>
		</div>
	</div>
</form>

	</div><!-- end page-body -->
</div><!-- end container -->

</body>
</html>
