<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

	<h4 class="mb-3">{L_USERGROUPS}</h4>

	<div class="alert alert-info">{L_GROUPS_EXPLAIN}</div>

	<!-- DEFINE $SHOW_BUTTONS = 0 -->
	<!-- IF .leader -->
	<div class="card mb-3 pb-1">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-10 col-9">{L_GROUP_LEADER}</div>
				<div class="col-sm-2 col-3 text-center">{L_SELECT}</div>
			</div>
		</div>

		<!-- BEGIN leader -->
		<!-- IF not leader.GROUP_SPECIAL -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->
		<div class="container-fluid row-item p-0">
			<div class="row m-0 mt-1 p-1 align-items-center bg1">
				<div class="col-md-10 col-sm-10 col-9">
					<!-- IF S_CHANGE_DEFAULT --><input class="form-check-input" type="radio" title="{L_CHANGE_DEFAULT_GROUP}" name="default"<!-- IF leader.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{leader.GROUP_ID}" /> <!-- ENDIF -->
					<a href="{leader.U_VIEW_GROUP}" class="forumtitle"<!-- IF leader.GROUP_COLOUR --> style="color:#{leader.GROUP_COLOUR}"<!-- ENDIF -->>{leader.GROUP_NAME}</a>
					<!-- IF leader.GROUP_DESC --><br>{leader.GROUP_DESC}<!-- ENDIF -->
					<!-- IF not leader.GROUP_SPECIAL --><br><i>{leader.GROUP_STATUS}</i><!-- ENDIF -->
				</div>
			
				<div class="col-sm-2 col-3 text-center"><input class="form-check-input" type="radio" name="selected" value="{leader.GROUP_ID}" <!-- IF leader.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></div>
			</div>
		</div>
		<!-- END leader -->
	</div>
	<!-- ENDIF -->

	<!-- IF .member -->
	<div class="card mb-3 pb-1">
		<div class="card-header">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-9">{L_GROUP_MEMBER}</div>
				<div class="col-sm-2 col-3 text-center">{L_SELECT}</div>
			</div>
		</div>

		<!-- BEGIN member -->
		<!-- IF not member.GROUP_SPECIAL -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->		
		<div class="container-fluid row-item p-0">
			<div class="row m-0 mt-1 p-1 align-items-center bg1">
				<div class="col-sm-10 col-9">
					<!-- IF S_CHANGE_DEFAULT --><input class="form-check-input" type="radio" title="{L_CHANGE_DEFAULT_GROUP}" name="default"<!-- IF member.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{member.GROUP_ID}" /> <!-- ENDIF -->
					<a href="{member.U_VIEW_GROUP}" class="forumtitle"<!-- IF member.GROUP_COLOUR --> style="color:#{member.GROUP_COLOUR}"<!-- ENDIF -->>{member.GROUP_NAME}</a>
					<!-- IF member.GROUP_DESC --><br>{member.GROUP_DESC}<!-- ENDIF -->
					<!-- IF not member.GROUP_SPECIAL --><br><i>{member.GROUP_STATUS}</i><!-- ENDIF -->
				</div>
			
				<div class="col-sm-2 col-3 text-center"><input class="form-check-input" type="radio" name="selected" value="{member.GROUP_ID}" <!-- IF member.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></div>
			</div>
		</div>
		<!-- END member -->
	</div>
	<!-- ENDIF -->

<!-- IF .pending -->
	<div class="card mb-3 pb-1">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-10 col-9">{L_GROUP_PENDING}</div>
				<div class="col-sm-2 col-3 text-center">{L_SELECT}</div>
			</div>
		</div>

		<!-- BEGIN pending -->
		<!-- IF not pending.GROUP_SPECIAL -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->			
		<div class="container-fluid row-item p-0">
			<div class="row m-0 mt-1 p-1 align-items-center bg1">
				<div class="col-sm-10 col-9">
					<a href="{pending.U_VIEW_GROUP}" class="forumtitle"<!-- IF pending.GROUP_COLOUR --> style="color:#{pending.GROUP_COLOUR}"<!-- ENDIF -->>{pending.GROUP_NAME}</a>
					<!-- IF pending.GROUP_DESC --><br>{pending.GROUP_DESC}<!-- ENDIF -->
					<!-- IF not pending.GROUP_SPECIAL --><br><i>{pending.GROUP_STATUS}</i><!-- ENDIF -->
				</div>
			
				<div class="col-sm-2 col-3 text-center"><input class="form-check-input" type="radio" name="selected" value="{pending.GROUP_ID}" <!-- IF pending.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> /></div>
			</div>
		</div>
		<!-- END pending -->
	</div>
<!-- ENDIF -->
<!-- IF .nonmember -->
	<div class="card mb-3 pb-1">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-10 col-9">{L_GROUP_NONMEMBER}</div>
				<div class="col-sm-2 col-3 text-center">{L_SELECT}</div>
			</div>
		</div>

		<!-- BEGIN nonmember -->
		<!-- IF nonmember.S_CAN_JOIN -->
			<!-- DEFINE $SHOW_BUTTONS = 1 -->
		<!-- ENDIF -->		
		<div class="container-fluid row-item p-0">
			<div class="row m-0 mt-1 p-1 align-items-center bg1">
				<div class="col-sm-10 col-9">
					<a href="{nonmember.U_VIEW_GROUP}" class="forumtitle"<!-- IF nonmember.GROUP_COLOUR --> style="color:#{nonmember.GROUP_COLOUR}"<!-- ENDIF -->>{nonmember.GROUP_NAME}</a>
					<!-- IF nonmember.GROUP_DESC --><br>{nonmember.GROUP_DESC}<!-- ENDIF -->
					<!-- IF not nonmember.GROUP_SPECIAL --><br><i>{nonmember.GROUP_STATUS}</i><!-- ENDIF -->
				</div>
			
				<div class="col-sm-2 col-3 text-center"><input class="form-check-input" type="radio" name="selected" value="{nonmember.GROUP_ID}" <!-- IF not nonmember.S_CAN_JOIN -->disabled="disabled"<!-- ENDIF --> /></div>
			</div>
		</div>
		<!-- END nonmember -->
	</div>
<!-- ENDIF -->

	<!-- IF S_CHANGE_DEFAULT or $SHOW_BUTTONS eq 1 -->
	<div class="d-sm-flex justify-content-between mb-3">
		<!-- IF S_CHANGE_DEFAULT -->
		<div>
			<input class="btn btn-secondary" type="submit" name="change_default" value="{L_CHANGE_DEFAULT_GROUP}" />
			{S_FORM_TOKEN}
		</div>
		<!-- ENDIF -->

		<!-- IF $SHOW_BUTTONS eq 1 -->
		<div>
			<div class="input-group">
				<span class="input-group-text">
					<label class="form-check-label" for="action">{L_SELECT}</label>
				</span>
				<select class="form-select" name="action" id="action">
					<option value="join">{L_JOIN_SELECTED}</option>
					<option value="resign">{L_RESIGN_SELECTED}</option>
					<option value="demote">{L_DEMOTE_SELECTED}</option>
				</select>
				<button class="btn btn-success" type="submit" name="submit" value="{L_SUBMIT}" title="{L_SUBMIT}"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i></button>
			</div>
			{S_FORM_TOKEN}
		</div>
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->
