<div id="review" class="card mb-3">
	<div class="card-header d-flex align-items-center justify-content-between">
		<div>{L_MESSAGE_HISTORY}{L_COLON}</div>
		<a href="#review" class="btn btn-secondary btn-sm btn-secondary" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a>
	</div>

	<!-- EVENT ucp_pm_history_review_before -->
	<div id="topicreview" class="card-body px-1 px-md-2 px-lg-3 pb-0 overflow-auto">
		<script>
			bbcodeEnabled = {S_BBCODE_ALLOWED};
		</script>
		<!-- BEGIN history_row -->
		<div class="card mb-3">
			<div class="card-header">
				<a href="{history_row.U_VIEW_MESSAGE}" class="text-white"><!-- IF history_row.S_CURRENT_MSG --><mark>{history_row.SUBJECT}</mark><!-- ELSE -->{history_row.SUBJECT}<!-- ENDIF --></a>
			</div>
			<div class="card-body custom-bg-light p-0">

			<div id="pr{history_row.MSG_ID}" class="postbody">
				<div class="postbody-before d-sm-flex px-3 py-1 justify-content-between align-items-center bg-2 custom-border-bottom">
					<div>
						<i class="fa fa-file-o fa-fw tip" aria-hidden="true"></i> {L_MESSAGE_BY_AUTHOR} <!-- EVENT ucp_pm_history_row_message_author_username_prepend --> {history_row.MESSAGE_AUTHOR_FULL} <!-- EVENT ucp_pm_history_row_message_author_username_append --> &raquo; {L_SENT_AT}{L_COLON} <strong>{history_row.SENT_DATE}</strong>
					</div>

					<!-- DEFINE $SHOW_PM_HISTORY_POST_BUTTONS = (history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE) -->
					<!-- EVENT ucp_pm_history_post_buttons_list_before -->
					<!-- IF $SHOW_PM_HISTORY_POST_BUTTONS -->
					<div class="btn-group py-1">
						<!-- EVENT ucp_pm_history_post_buttons_before -->
						<!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE -->
						<a<!-- IF history_row.U_QUOTE --> href="{history_row.U_QUOTE}"<!-- ELSE --> href="#postingbox" onclick="addquote({history_row.MSG_ID}, '{history_row.MESSAGE_AUTHOR_QUOTE}', '{LA_WROTE}', {time:{history_row.MESSAGE_TIME},user_id:{history_row.USER_ID}});"<!-- ENDIF --> title="{L_QUOTE} {history_row.MESSAGE_AUTHOR}" class="btn btn-secondary">
							<i class="fa fa-quote-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_QUOTE} {history_row.MESSAGE_AUTHOR}</span>
						</a>
						<!-- ENDIF -->
						<!-- EVENT ucp_pm_history_post_buttons_after -->
					</div>
					<!-- ENDIF -->
					<!-- EVENT ucp_pm_history_post_buttons_list_after -->
				</div>

				<div class="px-3 py-2 bg1">
					<div class="content"><!-- IF history_row.MESSAGE -->{history_row.MESSAGE}<!-- ELSE --><span class="alert alert-warning">{L_MESSAGE_REMOVED_FROM_OUTBOX}</span><!-- ENDIF --></div>
				</div>
				<div id="message_{history_row.MSG_ID}" style="display: none;">{history_row.DECODED_MESSAGE}</div>
			</div>

			</div>
		</div>
		<!-- END history_row -->
	</div>
	<!-- EVENT ucp_pm_history_review_after -->
</div>
