<dl class="row">
	<dt class="col-lg-4 col-md-5 col-12"><label class="col-form-label" for="avatar_remote_url">{L_LINK_REMOTE_AVATAR}{L_COLON}</label></dt>
	<dd class="col-lg-8 col-md-7 col-12">
		<input type="url" name="avatar_remote_url" id="avatar_remote_url" value="{AVATAR_REMOTE_URL}" class="form-control" data-reset-on-edit="#avatar_remote_width, #avatar_remote_height" />
		<span class="form-text">{L_LINK_REMOTE_AVATAR_EXPLAIN}</span>
	</dd>
</dl>
<dl class="row">
	<dt class="col-lg-4 col-md-5 col-12"><label class="col-form-label" for="avatar_remote_width">{L_LINK_REMOTE_SIZE}{L_COLON}</label></dt>
	<dd class="col-lg-8 col-md-7 col-12">
		<input type="number" name="avatar_remote_width" id="avatar_remote_width" min="{AVATAR_MIN_WIDTH}" max="{AVATAR_MAX_WIDTH}" value="{AVATAR_REMOTE_WIDTH}" class="form-control me-2" /> <label class="form-check-label" for="avatar_remote_width">{L_PIXEL}</label><span class="ms-3 me-3"><i class="fa fa-times fa-fw text-muted" aria-hidden="true"></i></span>
		<input type="number" name="avatar_remote_height" id="avatar_remote_height" min="{AVATAR_MIN_HEIGHT}" max="{AVATAR_MAX_HEIGHT}" value="{AVATAR_REMOTE_HEIGHT}" class="form-control me-2" /> <label class="form-check-label" for="avatar_remote_height">{L_PIXEL}</label>
		<span class="form-text">{L_LINK_REMOTE_SIZE_EXPLAIN}</span>
	</dd>
</dl>
