<!-- INCLUDE simple_header.html -->

<form action="{{ U_RESET_PASSWORD_ACTION }}" method="post" id="reset_password">
	<div class="container-fluid d-flex align-items-center vh-100">
		<div class="col-12 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 bg1">
	
			<div class="card shadow">
				<div class="card-body pb-0">
	
					<h4 class="card-title mb-3">{{ lang('RESET_PASSWORD') }}</h4>

					{% if S_IS_PASSWORD_RESET %}
						{% if PASSWORD_RESET_ERRORS %}
							<div class="alert alert-info">{{ PASSWORD_RESET_ERRORS | join('<br>') }}</div>
						{% endif %}

					<dl class="row">
						<dt class="col-lg-3 col-md-4 col-12">
							<label class="col-form-label" for="new_password">{{ lang('NEW_PASSWORD') ~ lang('COLON') }}</label>
							<div class="small text-muted fw-normal mb-1">{{ lang('CHANGE_PASSWORD_EXPLAIN') }}</div>
						</dt>
						<dd class="col-lg-9 col-md-8 col-12">
							<input class="form-control" type="password" name="new_password" id="new_password" size="25" maxlength="255" title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off" />
						</dd>
					</dl>

					<dl class="row">
						<dt class="col-lg-3 col-md-4 col-12"><label class="col-form-label" for="new_password_confirm">{{ lang('CONFIRM_PASSWORD') ~ lang('COLON') }}</label></dt>
						<dd class="col-lg-9 col-md-8 col-12"><input class="form-control" type="password" name="new_password_confirm" id="new_password_confirm" size="25" maxlength="255" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off" /></dd>
					</dl>
					{% else %}
						{% if USERNAME_REQUIRED %}
							<div class="alert alert-info">{{ lang('EMAIL_NOT_UNIQUE') }}</div>
						{% endif %}

					<dl class="row">
						<dt class="col-lg-3 col-md-4 col-12">
							<label class="col-form-label" for="email">{{ lang('EMAIL_ADDRESS') ~ lang('COLON') }}</label>
							<div class="small text-muted fw-normal mb-1">{{ lang('EMAIL_REMIND') }}</div>
						</dt>
						<dd class="col-lg-9 col-md-8 col-12"><input class="form-control" type="email" name="email" id="email" size="25" maxlength="100" value="{{ EMAIL }}" autofocus /></dd>
					</dl>
						{% if USERNAME_REQUIRED %}
					<dl class="row">
						<dt class="col-lg-3 col-md-4 col-12"><label class="col-form-label" for="username">{{ lang('USERNAME') ~ lang('COLON') }}</label></dt>
						<dd class="col-lg-9 col-md-8 col-12"><input class="form-control" type="text" name="username" id="username" size="25" /></dd>
					</dl>
						{% endif %}
					{% endif %}
				</div>

				<div class="card-footer">
					{{ S_HIDDEN_FIELDS }}
					<div class="row">
						<div class="col-12 col-md-6">
							<a class="btn btn-secondary w-100 my-1" href="{U_INDEX}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> {L_HOME}</a>
						</div>
						<div class="col-12 col-md-6">
							<button class="btn btn-success w-100 my-1" type="submit" name="submit" id="submit" value="{{ lang('SUBMIT') }}" tabindex="2"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i> {{ lang('SUBMIT') }}</button>
						</div>
					</div>
					{{ S_FORM_TOKEN }}
				</div>

			</div>
		</div>
	</div>
</form>

	</div><!-- end page-body -->
</div><!-- end container -->

</body>
</html>
