<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex" />
{META}
<title>{SITENAME} &bull; {PAGE_TITLE}</title>
<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{ROOT_PATH}styles/bootlike/theme/stylesheet.css" rel="stylesheet">
<style>
a {color: #212529 !important;}
.card.blockquote {border-width: 1px;}
.codebox pre, .blockquote:first-of-type {max-height: 100%; white-space: pre-wrap; background-color: #fff;}
.blockquote cite {font-weight: normal !important;}
.blockquote {filter: brightness(100%) !important;}
.blockquote i, .codebox a, img {display: none;}
blockquote:before {font-size: 24px; content: "";}
</style>
<!-- EVENT ucp_pm_viewmessage_print_head_append -->
</head>
<body class="{S_CONTENT_DIRECTION}">
	<div class="container-fluid p-3">

		<h1>{SITENAME}</h1>
		<p>{SITE_DESCRIPTION}</p>

		<h4>{L_PRIVATE_MESSAGING}</h4>

		<div class="my-2">{PAGE_NUMBER}</div>
			<div class="card mb-3">
				<div class="card-header col-12 d-flex justify-content-between bg-transparent">
					{SUBJECT} - {L_PM_FROM} {MESSAGE_AUTHOR}
					<div>{L_SENT_AT} {SENT_DATE}</div>
				</div>
				<div class="card-body">
				<!-- IF S_TO_RECIPIENT -->
					<p>{L_TO} <!-- BEGIN to_recipient -->{to_recipient.NAME}&nbsp;<!-- END to_recipient --></p>
				<!-- ENDIF -->
				<!-- IF S_BCC_RECIPIENT -->
					<p>{L_BCC} <!-- BEGIN bcc_recipient -->{bcc_recipient.NAME}&nbsp;<!-- END bcc_recipient --></p>
				<!-- ENDIF -->
					<div>{MESSAGE}</div>
				</div>
			</div>

		<div>{S_TIMEZONE}</div>
		<div>{{ CREDIT_LINE }}{% if TRANSLATION_INFO %}</br>{{ TRANSLATION_INFO }}{% endif %}</div>
	</div>

</body>
</html>
