<!-- INCLUDE overall_header.html -->

<div class="col-12 d-flex justify-content-between mb-2">
<!-- EVENT viewforum_forum_title_before -->
	<h3><!-- EVENT viewforum_forum_name_prepend --><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- EVENT viewforum_forum_name_append --></h3>
<!-- EVENT viewforum_forum_title_after -->

	<!-- IF U_WATCH_FORUM_LINK -->
	<div class="text-end">
		<a class="btn btn-primary" href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" data-ajax="toggle_link" data-toggle-class="icon fa <!-- IF S_WATCHING_FORUM -->fa-check-square-o<!-- ELSE -->fa-square-o<!-- ENDIF --> fa-fw" data-bs-toggle-text="{S_WATCH_FORUM_TOGGLE}" data-bs-toggle-url="{U_WATCH_FORUM_TOGGLE}"><i class="icon fa <!-- IF S_WATCHING_FORUM -->fa-square-o<!-- ELSE -->fa-check-square-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span class="visually-hidden">{S_WATCH_FORUM_TITLE}</span></a>
	</div>
	<!-- ENDIF -->
</div>

<!-- NOTE: remove the "d-none" when you want to have the forum description on the forum body -->
<!-- IF FORUM_DESC -->
<div class="alert alert-primary d-flex p-0 rounded-0 shadow-sm d-none">
	<div class="p-3 text-bg-primary d-flex align-items-center">
		<i class="fa fa-comment-o fa-fw fa-2x" aria-hidden="true"></i>
	</div>
	<div class="w-100 p-3">
		{FORUM_DESC}
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
<div class="alert alert-warning d-flex p-0 rounded-0 shadow-sm">
	<div class="p-3 text-bg-danger d-flex align-items-center">
		<i class="fa fa-exclamation-triangle fa-fw fa-2x" aria-hidden="true"></i>
	</div>
	<div class="w-100 p-3">
	<!-- IF U_FORUM_RULES -->
		<a class="fs-5" href="{U_FORUM_RULES}"><strong>{L_FORUM_RULES}</strong></a>
	<!-- ELSE -->
		<strong class="d-block fs-5">{L_FORUM_RULES}</strong>
		{FORUM_RULES}
	<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- IF $FORUM_ROW -->
		<!-- INCLUDE forumrow_body.html -->
	<!-- ELSE -->
		<!-- INCLUDE forumlist_body.html -->
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->
	<div class="alert alert-warning d-flex p-0 rounded-0 shadow-sm">
		<div class="p-3 text-bg-danger d-flex align-items-center">
			<i class="fa fa-exclamation-triangle fa-fw fa-2x" aria-hidden="true"></i>
		</div>
		<div class="w-100 p-3">
			{L_NO_READ_ACCESS}
		</div>
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form action="{S_LOGIN_ACTION}" method="post">
		<div class="card mb-3">
			<div class="card-header">
				<a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF -->
			</div>

			<div class="card-body">
				<div class="form-floating mb-3">
					<input class="form-control w-50" type="text" id="username" name="username" size="25" tabindex="1" placeholder="{L_USERNAME}" autocomplete="username" />
					<label for="username">{L_USERNAME}</label>
				</div>
				<div class="form-floating mb-3">
					<input class="form-control w-50" type="password" id="password" name="password" size="25" tabindex="2" placeholder="{L_PASSWORD}" autocomplete="current-password" />
					<label for="password">{L_PASSWORD}</label>
				</div>
		
				<!-- IF S_AUTOLOGIN_ENABLED -->
				<div class="form-check form-switch">
					<label class="form-check-label" for="autologin"><input class="form-check-input" type="checkbox" name="autologin" id="autologin" tabindex="3" />{L_LOG_ME_IN}</label>
				</div>
				<!-- ENDIF -->
		
				<div class="form-check form-switch">
					<label class="form-check-label" for="viewonline"><input class="form-check-input" type="checkbox" name="viewonline" id="viewonline" tabindex="4" />{L_HIDE_ME}</label>
				</div>
			</div>

			<div class="card-footer text-center">
				<button class="btn btn-success w-50" type="submit" name="login" tabindex="5" value="{L_LOGIN}"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i> {L_LOGIN}</button>
				{S_LOGIN_REDIRECT}
				{S_FORM_TOKEN_LOGIN}
			</div>
		</div>
	</form>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF (S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS) and not S_IS_BOT -->
	<div class="card mb-3 shadow-sm">
		<div class="action-bar d-sm-flex justify-content-between bg1">
			<div class="d-flex">
			<!-- IF S_DISPLAY_POST_INFO -->
				<!-- EVENT viewforum_buttons_top_before -->
				<a href="{U_POST_NEW_TOPIC}#postingbox" class="btn btn-lg rounded-0 border-0 border-0<!-- IF S_IS_LOCKED --> text-muted<!-- ENDIF --> text-nowrap"><i class="fa<!-- IF S_IS_LOCKED --> fa-lock<!-- ELSE --> fa-plus<!-- ENDIF --> fa-fw" aria-hidden="true"></i> <!-- IF S_IS_LOCKED -->{L_BUTTON_FORUM_LOCKED}<!-- ELSE -->{L_BUTTON_NEW_TOPIC}<!-- ENDIF --></a>
				<!-- EVENT viewforum_buttons_top_after -->
			<!-- ENDIF -->

			<!-- IF S_SELECT_SORT_DAYS -->
				<form method="post" action="{S_FORUM_ACTION}">
					<!-- INCLUDE display_options.html -->
				</form>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_SEARCHBOX and not topicrow.S_TOPIC_TYPE_SWITCH -->
				<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_SEARCH}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
					<div class="dropdown-menu dropdown-menu-start" role="search">
						<div class="input-group px-2">
							<input type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_FORUM}" class="form-control" />
							<button type="submit" class="btn btn-secondary" title="{L_SEARCH}"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
						</div>
					</div>
					{S_SEARCH_LOCAL_HIDDEN_FIELDS}
				</form>
			<!-- ENDIF -->

			</div>

			<!-- IF TOTAL_TOPICS -->
			<div class="btn btn-lg d-none d-lg-block disabled fs-6 mt-1 text-nowrap bg-transparent border-0 rounded-0">
				{TOTAL_TOPICS} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>
			<!-- ENDIF -->

			<div class="d-flex">
			<!-- IF S_VIEWFORUM -->
				<a href="{U_INDEX}" class="btn btn-lg rounded-0 border-0 border-0" title="{L_RETURN_TO_INDEX}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			<!-- IF MODERATORS -->
				<div>
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0 border-0" title="<!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user-secret fa-fw"></i><span class="visually-hidden">{forumrow.L_MODERATOR_STR}</span>
					</button>
					<div class="dropdown-menu dropdown-menu-end">
						<div class="px-3">{MODERATORS}</div>
					</div>
				</div>
			<!-- ENDIF -->

			<!-- IF .pagination -->
			<!-- IF BASE_URL and TOTAL_PAGES > 3 -->
				<div class="dropdown-form">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_JUMP_TO_PAGE}</span></button>
					<div class="dropdown-menu dropdown-menu-end p-2">
						{L_JUMP_TO_PAGE}{L_COLON}
						<div class="input-group my-2">
							<input class="form-control" type="number" name="page-number" title="{L_JUMP_PAGE}" data-per-page="{PER_PAGE}" data-base-url="{BASE_URL|e('html_attr')}" data-start-name="{START_NAME}" />
							<input class="btn btn-secondary" value="{L_GO}" type="button" />
						</div>
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ENDIF -->

			<!-- BEGIN pagination -->
				<!-- IF pagination.S_IS_PREV -->
					<a class="btn btn-lg rounded-0 border-0 border-0" href="{pagination.PAGE_URL}" title="{L_PREVIOUS}" rel="prev" role="button"><i class="fa fa-step-backward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_PREVIOUS}</span></a>
				<!-- ENDIF -->
				<!-- IF pagination.S_IS_NEXT -->
					<a class="btn btn-lg rounded-0 border-0 border-0" href="{pagination.PAGE_URL}" title="{L_NEXT}" rel="next" role="button"><i class="fa fa-step-forward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_NEXT}</span></a>
				<!-- ENDIF -->
			<!-- END pagination -->
			<!-- ENDIF -->

			<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and U_MARK_TOPICS -->
				<a href="{U_MARK_TOPICS}" class="btn btn-lg rounded-0 border-0 border-0" title="{L_MARK_TOPICS_READ}" accesskey="m" data-ajax="mark_topics_read"><i class="fa fa-check fa-fw" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- EVENT viewforum_body_topic_row_before -->

<!-- BEGIN topicrow -->

	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
	</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<div class="card mb-3 shadow-sm">
		<div class="card-header mb-1 border-bottom-0">
			<div class="row">
				<div class="col-lg-7 col-md-6 col-12"<!-- IF S_DISPLAY_ACTIVE --> id="active_topics"<!-- ENDIF -->>
				<!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF -->
				</div>
				<div class="col-md-2 d-none d-md-block text-center">{L_REPLIES}</div>
				<div class="col-lg-3 col-md-4 d-none d-md-block">{L_LAST_POST}</div>
			</div>
		</div>
	<!-- ENDIF -->

		<!-- EVENT viewforum_body_topicrow_row_before -->
		<div class="container-fluid row-item position-relative p-0 {topicrow.TOPIC_IMG_STYLE}">
			<div class="row m-1 mt-0 p-1 align-items-center bg1" title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
				<!-- EVENT viewforum_body_topic_row_prepend -->
				<div class="col-lg-7 col-md-6 col-12 folder<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED or topicrow.S_TOPIC_REPORTED --> folder-animation<!-- ENDIF --> hidden-folder">
				<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{topicrow.U_NEWEST_POST}" class="row-item-link"></a><!-- ENDIF -->

				<!-- IF .topicrow.pagination -->
					<div class="float-end">
					<button class="btn dropdown-toggle fs-5 rounded-0 border-0 text-secondary" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_JUMP_TO_PAGE}</span></button>
						<div class="dropdown-menu dropdown-menu-end p-2">
							<ul class="pagination m-0">
							<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="page-item active"><span class="page-link">{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="page-item disabled"><span class="page-link">{L_ELLIPSIS}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li class="page-item"><a href="{topicrow.pagination.PAGE_URL}" class="page-link">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
					</div>
				<!-- ENDIF -->
			
					<!-- EVENT topiclist_row_prepend -->
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}" class="badge bg-success" title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->"><i class="fa fa-flag" aria-hidden="true"></i><span class="visually-hidden"><!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF --></span></a><!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_DELETED --><a href="{topicrow.U_MCP_QUEUE}" class="badge bg-secondary" title="{L_TOPIC_DELETED}"><i class="fa fa-recycle" aria-hidden="true"></i><span class="visually-hidden">{L_TOPIC_DELETED}</span></a><!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}" class="badge bg-warning" title="{L_TOPIC_REPORTED}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="visually-hidden">{L_TOPIC_REPORTED}</span></a><!-- ENDIF -->
					<!-- IF topicrow.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{topicrow.U_NEWEST_POST}" class="badge bg-info" title="{L_VIEW_NEWEST_POST}"><i class="fa fa-file icon_topic_newest" aria-hidden="true"></i><span class="visually-hidden">{L_NEW_POST}</span></a><!-- ENDIF -->
					<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" class="topic-icon align-baseline" alt="{L_IMAGE}" /> <!-- ENDIF -->
					<!-- IF topicrow.U_VIEW_TOPIC --><a href="{topicrow.U_VIEW_TOPIC}" class="topic-title fs-5">{topicrow.TOPIC_TITLE}</a><br><!-- ELSE -->{topicrow.TOPIC_TITLE}<br><!-- ENDIF -->
					<!-- EVENT topiclist_row_topic_title_after -->
			
				<!-- IF not S_IS_BOT -->
					<!-- IF topicrow.S_HAS_POLL --><i class="fa fa-bar-chart" title="{L_TOPIC_POLL}" aria-hidden="true"></i><span class="visually-hidden">{L_TOPIC_POLL}</span><!-- ENDIF -->
					<!-- IF topicrow.ATTACH_ICON_IMG --><i class="fa fa-paperclip" title="{L_TOTAL_ATTACHMENTS}" aria-hidden="true"></i><span class="visually-hidden">{L_TOTAL_ATTACHMENTS}</span><!-- ENDIF -->
					{% EVENT topiclist_row_topic_by_author_before %}
					{L_POST_BY_AUTHOR} <!-- EVENT viewforum_body_topic_author_username_prepend -->{topicrow.TOPIC_AUTHOR_FULL}<!-- EVENT viewforum_body_topic_author_username_append --> &raquo; <time datetime="{topicrow.FIRST_POST_TIME_RFC3339}">{topicrow.FIRST_POST_TIME}</time>&nbsp; 
					{% EVENT topiclist_row_topic_by_author_after %}
					<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --> &raquo; {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a> &nbsp; <!-- ENDIF -->
			
					<!-- IF (topicrow.REPLIES or topicrow.VIEWS) or topicrow.U_LAST_POST -->
					<div class="d-md-none">
					<!-- IF topicrow.REPLIES or topicrow.VIEWS -->
						{L_REPLIES}{L_COLON} <span class="badge rounded-pill bg-secondary me-2">{topicrow.REPLIES}</span>
						{L_VIEWS}{L_COLON} <span class="badge rounded-pill bg-secondary me-2">{topicrow.VIEWS}</span>
					<!-- ENDIF -->
					
					<!-- IF topicrow.U_LAST_POST -->
						<br>{L_LAST_POST} {L_POST_BY_AUTHOR} <!-- EVENT viewforum_body_last_post_author_username_prepend --> {topicrow.LAST_POST_AUTHOR_FULL}<!-- EVENT viewforum_body_last_post_author_username_append --> &laquo; <time datetime="{topicrow.LAST_POST_TIME_RFC3339}">{topicrow.LAST_POST_TIME}</time>
						<a class="float-end ms-2 lh-1" href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}"><i class="fa fa-arrow-{S_CONTENT_FLOW_END} fs-2" aria-hidden="true"></i><span class="visually-hidden">{L_VIEW_LATEST_POST}</span></a>
					<!-- ENDIF -->
					</div>
					<!-- ENDIF -->
				<!-- ENDIF -->
			
					<!-- EVENT topiclist_row_append -->
				</div>
			
				<div class="col-md-2 d-none d-md-block text-center">
					{topicrow.REPLIES}
					<div class="small"><span class="small">{topicrow.VIEWS} {L_VIEWS}</span></div>
				</div>
				<div class="col-lg-3 col-md-4 d-none d-md-block">
					{L_POST_BY_AUTHOR} <!-- EVENT viewforum_body_last_post_author_username_prepend --> {topicrow.LAST_POST_AUTHOR_FULL} <!-- EVENT viewforum_body_last_post_author_username_append -->
					<!-- IF not S_IS_BOT --><a class="float-end" href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}"><i class="fa fa-arrow-{S_CONTENT_FLOW_END} fs-2" aria-hidden="true"></i><span class="visually-hidden">{L_VIEW_LATEST_POST}</span></a><!-- ENDIF -->
					<br><time datetime="{topicrow.LAST_POST_TIME_RFC3339}">{topicrow.LAST_POST_TIME}</time>
				</div>
				<!-- EVENT viewforum_body_topic_row_append -->
			</div>
		</div>

		<!-- EVENT viewforum_body_topic_row_after -->

	<!-- IF topicrow.S_LAST_ROW -->
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE or not S_HAS_SUBFORUM -->
	<div class="alert alert-info d-flex p-0 rounded-0 shadow-sm">
		<div class="p-3 text-bg-info d-flex align-items-center">
			<i class="fa fa-info fa-fw fa-2x" aria-hidden="true"></i>
		</div>
		<div class="w-100 p-3">
		<!-- IF S_IS_POSTABLE -->
			{L_NO_TOPICS}
		<!-- ELSE IF not S_HAS_SUBFORUM -->
			{L_NO_FORUMS_IN_CATEGORY}
		<!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF (S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS) and not S_IS_BOT -->
	<div class="card mb-3 shadow-sm">
		<div class="action-bar d-sm-flex justify-content-between bg1">
			<div class="d-flex">
			<!-- IF S_DISPLAY_POST_INFO -->
				<!-- EVENT viewforum_buttons_top_before -->
				<a href="{U_POST_NEW_TOPIC}#postingbox" class="btn btn-lg rounded-0 border-0 border-0<!-- IF S_IS_LOCKED --> text-muted<!-- ENDIF --> text-nowrap"><i class="fa<!-- IF S_IS_LOCKED --> fa-lock<!-- ELSE --> fa-plus<!-- ENDIF --> fa-fw" aria-hidden="true"></i> <!-- IF S_IS_LOCKED -->{L_BUTTON_FORUM_LOCKED}<!-- ELSE -->{L_BUTTON_NEW_TOPIC}<!-- ENDIF --></a>
				<!-- EVENT viewforum_buttons_top_after -->
			<!-- ENDIF -->

			<!-- IF S_SELECT_SORT_DAYS -->
				<form method="post" action="{S_FORUM_ACTION}">
					<!-- INCLUDE display_options.html -->
				</form>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_SEARCHBOX and not topicrow.S_TOPIC_TYPE_SWITCH -->
				<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_SEARCH}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
					<div class="dropdown-menu dropdown-menu-start" role="search">
						<div class="input-group px-2">
							<input type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_FORUM}" class="form-control" />
							<button type="submit" class="btn btn-secondary" title="{L_SEARCH}"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
						</div>
					</div>
					{S_SEARCH_LOCAL_HIDDEN_FIELDS}
				</form>
			<!-- ENDIF -->

			</div>

			<!-- IF TOTAL_TOPICS -->
			<div class="btn btn-lg d-none d-lg-block disabled fs-6 mt-1 text-nowrap bg-transparent border-0 rounded-0">
				{TOTAL_TOPICS} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>
			<!-- ENDIF -->

			<div class="d-flex">
			<!-- IF S_VIEWFORUM -->
				<a href="{U_INDEX}" class="btn btn-lg rounded-0 border-0 border-0" title="{L_RETURN_TO_INDEX}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			<!-- IF MODERATORS -->
				<div>
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0 border-0" title="<!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user-secret fa-fw"></i><span class="visually-hidden">{forumrow.L_MODERATOR_STR}</span>
					</button>
					<div class="dropdown-menu dropdown-menu-end">
						<div class="px-3">{MODERATORS}</div>
					</div>
				</div>
			<!-- ENDIF -->

			<!-- IF .pagination -->
			<!-- IF BASE_URL and TOTAL_PAGES > 3 -->
				<div class="dropdown-form">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_JUMP_TO_PAGE}</span></button>
					<div class="dropdown-menu dropdown-menu-end p-2">
						{L_JUMP_TO_PAGE}{L_COLON}
						<div class="input-group my-2">
							<input class="form-control" type="number" name="page-number" title="{L_JUMP_PAGE}" data-per-page="{PER_PAGE}" data-base-url="{BASE_URL|e('html_attr')}" data-start-name="{START_NAME}" />
							<input class="btn btn-secondary" value="{L_GO}" type="button" />
						</div>
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ENDIF -->

			<!-- BEGIN pagination -->
				<!-- IF pagination.S_IS_PREV -->
					<a class="btn btn-lg rounded-0 border-0 border-0" href="{pagination.PAGE_URL}" title="{L_PREVIOUS}" rel="prev" role="button"><i class="fa fa-step-backward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_PREVIOUS}</span></a>
				<!-- ENDIF -->
				<!-- IF pagination.S_IS_NEXT -->
					<a class="btn btn-lg rounded-0 border-0 border-0" href="{pagination.PAGE_URL}" title="{L_NEXT}" rel="next" role="button"><i class="fa fa-step-forward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_NEXT}</span></a>
				<!-- ENDIF -->
			<!-- END pagination -->
			<!-- ENDIF -->

			<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and U_MARK_TOPICS -->
				<a href="{U_MARK_TOPICS}" class="btn btn-lg rounded-0 border-0 border-0" title="{L_MARK_TOPICS_READ}" accesskey="m" data-ajax="mark_topics_read"><i class="fa fa-check fa-fw" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			</div>
		</div>
	</div>
<!-- ENDIF -->

{% EVENT viewforum_body_online_list_before %}

<!-- IF (S_DISPLAY_ONLINE_LIST and U_VIEWONLINE) or (S_IS_POSTABLE and rules|length) -->
<div class="mb-3 shadow-sm">
	<ul class="nav nav-tabs p-2 pb-0 border bg1" role="tablist">
	<!-- IF S_DISPLAY_ONLINE_LIST -->
		<li class="nav-item">
			<a class="nav-link active" data-bs-toggle="tab" href="#nav_online" role="tab" aria-controls="nav_online" aria-selected="true"><i class="fa fa-signal fa-fw d-none d-md-inline-block" aria-hidden="true"></i> {L_WHO_IS_ONLINE}</a>
		</li>
	<!-- ENDIF -->
	<!-- IF S_IS_POSTABLE and rules|length -->
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="tab" href="#nav_permission" role="tab" aria-controls="nav-permission" aria-selected="false"><i class="fa fa-shield fa-fw d-none d-md-inline-block" aria-hidden="true"></i> {L_FORUM_PERMISSIONS}</a>
		</li>
	<!-- ENDIF -->
	</ul>

	<div class="card border-top-0">
		<div class="card-body tab-content">
		<!-- IF S_DISPLAY_ONLINE_LIST -->
			<div class="tab-pane fade show active" id="nav_online" role="tabpanel" aria-labelledby="nav_online-tab">
				{LOGGED_IN_USER_LIST}
			</div>
		<!-- ENDIF -->
		<!-- IF S_IS_POSTABLE and rules|length -->
			<div class="tab-pane fade" id="nav_permission" role="tabpanel" aria-labelledby="nav_permission-tab">
			<!-- BEGIN rules -->{rules.RULE}<br><!-- END rules -->
			</div>
		<!-- ENDIF -->
		</div>
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
