<!-- INCLUDE overall_header.html -->

<div class="col-12 d-flex justify-content-between mb-2">
<!-- EVENT viewtopic_topic_title_before -->
	<h3><!-- EVENT viewtopic_topic_title_prepend --><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT viewtopic_topic_title_append --></h3>
<!-- EVENT viewtopic_topic_title_after -->

	<div class="text-end">
	<!-- IF U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC -->
		<div class="btn-group mb-1">
		<!-- IF U_WATCH_TOPIC -->
			<a class="btn btn-primary watch-topic-link" href="{U_WATCH_TOPIC}" title="{S_WATCH_TOPIC_TITLE}" data-ajax="toggle_link" data-toggle-class="icon fa <!-- IF S_WATCHING_TOPIC -->fa-check-square-o<!-- ELSE -->fa-square-o<!-- ENDIF --> fa-fw" data-toggle-text="{S_WATCH_TOPIC_TOGGLE}" data-toggle-url="{U_WATCH_TOPIC_TOGGLE}" data-update-all=".watch-topic-link">
				<i class="icon fa<!-- IF S_WATCHING_TOPIC --> fa-square-o<!-- ELSE --> fa-check-square-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i>
			</a>
		<!-- ENDIF -->
		<!-- IF U_BOOKMARK_TOPIC -->
			<a class="btn btn-primary bookmark-link" href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}" data-ajax="alt_text" data-alt-text="{S_BOOKMARK_TOGGLE}" data-update-all=".bookmark-link">
				<i class="icon fa fa-bookmark-o fa-fw" aria-hidden="true"></i>
			</a>
		<!-- ENDIF -->
		<!-- IF U_BUMP_TOPIC -->
			<a class="btn btn-primary" href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}" data-ajax="true">
				<i class="fa fa-level-up fa-fw" aria-hidden="true"></i>
			</a>
		<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	<!-- IF U_EMAIL_TOPIC or U_PRINT_TOPIC -->
		<div class="btn-group ms-1 mb-1">
		<!-- IF U_EMAIL_TOPIC -->
			<a class="btn btn-primary" href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}">
				<i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
			</a>
		<!-- ENDIF -->
		<!-- IF U_PRINT_TOPIC -->
			<a class="btn btn-primary" href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p">
				<i class="fa fa-print fa-fw" aria-hidden="true"></i>
			</a>
		<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	</div>
</div>

<!-- NOTE: remove the "d-none" when you want to have the forum description on the topic body -->
<!-- IF FORUM_DESC -->
<div class="alert alert-info d-none">{FORUM_DESC}</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
<div class="alert alert-warning">
<!-- IF U_FORUM_RULES -->
	<a href="{U_FORUM_RULES}"><strong>{L_FORUM_RULES}</strong></a>
<!-- ELSE -->
	<strong>{L_FORUM_RULES}</strong><br>
	{FORUM_RULES}
<!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- EVENT viewtopic_body_poll_before -->

<!-- IF S_HAS_POLL -->
	<form method="post" action="{S_POLL_ACTION}" class="topic_poll">

	<div class="col-md-12 col-lg-10 offset-lg-1">
		<div class="card mb-3">
			<div class="card-header">
				<!-- EVENT viewtopic_body_poll_question_prepend -->
				{POLL_QUESTION}
				<!-- EVENT viewtopic_body_poll_question_append -->
			</div>
			<div class="card-body">
			<!-- IF S_CAN_VOTE or L_POLL_LENGTH -->
				<p>{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br><!-- ENDIF --><!-- IF S_CAN_VOTE --><span class="poll_max_votes">{L_MAX_VOTES}</span><!-- ENDIF --></p>
			<!-- ENDIF -->

			<!-- BEGIN poll_option -->
				<!-- EVENT viewtopic_body_poll_option_before -->
				<!-- IF S_DISPLAY_RESULTS -->
				<div class="float-end">
				<!-- IF poll_option.POLL_OPTION_VOTED --><i class="fa fa-check" title="{L_POLL_VOTED_OPTION}"></i><span class="visually-hidden">{L_POLL_VOTED_OPTION}</span>  &nbsp;<!-- ENDIF -->
				<!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF -->
				</div>
				<!-- ENDIF -->
			
				<!-- IF S_CAN_VOTE -->					
				<div class="form-switch mb-1">
					<!-- IF S_IS_MULTI_CHOICE --><input class="form-check-input" type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input class="form-check-input" type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF -->
					<label class="form-check-label" for="vote_{poll_option.POLL_OPTION_ID}">&nbsp;{poll_option.POLL_OPTION_CAPTION}</label>
				</div>
				<!-- ELSE -->
					{poll_option.POLL_OPTION_CAPTION}
				<!-- ENDIF -->
			
				<div class="clearfix"></div>
			
				<!-- IF S_DISPLAY_RESULTS -->
				<div class="progress mb-3" style="height: 20px;">
				<!-- IF poll_option.POLL_OPTION_RESULT != 0 --><div class="progress-bar<!-- IF poll_option.POLL_OPTION_PCT < 20 --> bg-success<!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 --> bg-info<!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 --> bg-warning<!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 --> bg-danger<!-- ELSE --> bg-danger progress-bar-striped progress-bar-animated<!-- ENDIF -->" style="width:{poll_option.POLL_OPTION_PERCENT};" role="progressbar" aria-valuenow="{poll_option.POLL_OPTION_PCT}" aria-valuemin="0" aria-valuemax="100">{poll_option.POLL_OPTION_RESULT}</div><!-- ENDIF -->
				</div>
				<!-- ENDIF -->
				<!-- EVENT viewtopic_body_poll_option_after -->
			<!-- END poll_option -->
			
			<!-- IF S_DISPLAY_RESULTS -->
				<p class="text-center mb-0">{L_TOTAL_VOTES}{L_COLON} {TOTAL_VOTES}</p>
			<!-- ENDIF -->

			</div>

			<!-- IF S_CAN_VOTE or not S_DISPLAY_RESULTS -->
			<div class="card-footer">
				<div class="row">
					<!-- IF not S_DISPLAY_RESULTS -->
					<div class="d-grid col-4 mx-auto">
						<a class="btn btn-secondary" href="{U_VIEW_RESULTS}"><i class="fa fa-eye fa-fw" aria-hidden="true"></i> <span class="text-nowrap">{L_VIEW_RESULTS}</span></a>
					</div>
					<!-- ENDIF -->
					<!-- IF S_CAN_VOTE -->
					<div class="d-grid col-4 mx-auto">
						<button class="btn btn-success" type="submit" name="update" value="{L_SUBMIT_VOTE}"><i class="fa fa-level-down fa-rotate-90 fa-fw" aria-hidden="true"></i> <span class="text-nowrap">{L_SUBMIT_VOTE}</span></button>
					</div>
					<!-- ENDIF -->
				</div>
			</div>
			<!-- ENDIF -->

			{S_FORM_TOKEN}
			{S_HIDDEN_FIELDS}
		</div>
	</div>

	</form>
<!-- ENDIF -->

<!-- IF not S_IS_BOT -->
	<div class="card mb-3 shadow-sm">
		<div class="action-bar d-sm-flex justify-content-between bg1">
			<div class="d-flex">
			<!-- EVENT viewtopic_buttons_top_before -->
			<!-- IF S_DISPLAY_REPLY_INFO -->
				<a href="{U_POST_REPLY_TOPIC}#postingbox" class="btn btn-lg rounded-0 border-0<!-- IF S_IS_LOCKED --> text-muted<!-- ENDIF -->"><i class="fa<!-- IF S_IS_LOCKED --> fa-lock<!-- ELSE --> fa-reply<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> fa-flip-horizontal<!-- ENDIF --><!-- ENDIF --> fa-fw" aria-hidden="true"></i><span class="text-nowrap"> <!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF --></span></a>
			<!-- ENDIF -->
			<!-- EVENT viewtopic_buttons_top_after -->

			<!-- EVENT viewtopic_topic_tools_before -->
			<!-- EVENT viewtopic_topic_tools_after -->
			<!-- EVENT viewtopic_dropdown_top_custom -->

			<!-- IF S_NUM_POSTS > 1 or .pagination -->
				<form method="post" action="{S_TOPIC_ACTION}">
				<!-- INCLUDE display_options.html -->
				</form>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_SEARCHBOX -->
				<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_SEARCH}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
					<div class="dropdown-menu dropdown-menu-start" role="search">
						<div class="input-group input-group px-2">
							<input class="form-control" type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_TOPIC}" />
							<button class="btn btn-secondary" type="submit" title="{L_SEARCH}"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
						</div>
					</div>
					{S_SEARCH_LOCAL_HIDDEN_FIELDS}
				</form>
			<!-- ENDIF -->
			</div>

			<!-- IF TOTAL_POSTS or TOTAL_TOPICS -->
			<div class="btn btn-lg d-none d-lg-block disabled fs-6 mt-1 text-nowrap border-0">
				{TOTAL_POSTS} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>
			<!-- ENDIF -->

			<div class="d-flex">
			<!-- IF S_VIEWTOPIC -->
				<a href="{U_VIEW_FORUM}" class="btn btn-lg rounded-0 border-0" title="{L_RETURN_TO_FORUM}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			<!-- IF .quickmod -->
				<div class="d-flex">
					<div id="quickmod" class="btn-group dropdown">
						<button type="button" class="btn btn-lg dropdown-toggle rounded-0 border-0" data-bs-toggle="dropdown" aria-expanded="false" title="{L_QUICK_MOD}"><i class="fa fa-gavel fa-fw"></i><span class="visually-hidden">{L_QUICK_MOD}</span></button>
						<ul class="dropdown-menu dropdown-menu-end dropdown-contents p-1">
						<!-- BEGIN quickmod -->
							<!-- DEFINE $QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) -->
							<li><a class="dropdown-item" href="{quickmod.LINK}"<!-- IF $QUICKMOD_AJAX --> data-ajax="true" data-refresh="true"<!-- ENDIF -->>{quickmod.TITLE}</a></li>
						<!-- END quickmod -->
						</ul>
					</div>
				</div>
			<!-- ENDIF -->

			<!-- IF MODERATORS -->
				<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="<!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-user-secret fa-fw"></i><span class="visually-hidden">{forumrow.L_MODERATOR_STR}</span>
				</button>
				<div class="dropdown-menu dropdown-menu-end">
					<div class="px-3">{MODERATORS}</div>
				</div>
			<!-- ENDIF -->

			<!-- IF U_VIEW_UNREAD_POST -->
				<a href="{U_VIEW_UNREAD_POST}" class="btn btn-lg rounded-0 border-0" title="{L_VIEW_UNREAD_POST}"><i class="fa fa-file" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			<!-- IF .pagination -->
			<!-- IF BASE_URL and TOTAL_PAGES > 3 -->
				<div class="dropdown-form">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_JUMP_TO_PAGE}</span></button>
					<div class="dropdown-menu dropdown-menu-end p-2">
						{L_JUMP_TO_PAGE}{L_COLON}
						<div class="input-group my-2">
							<input class="form-control" type="number" name="page-number" title="{L_JUMP_PAGE}" data-per-page="{PER_PAGE}" data-base-url="{BASE_URL|e('html_attr')}" data-start-name="{START_NAME}" />
							<input class="btn btn-secondary" value="{L_GO}" type="button" />
						</div>
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ENDIF -->

			<!-- BEGIN pagination -->
				<!-- IF pagination.S_IS_PREV -->
					<a class="btn btn-lg rounded-0 border-0" href="{pagination.PAGE_URL}" title="{L_PREVIOUS}" rel="prev" role="button"><i class="fa fa-step-backward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_PREVIOUS}</span></a>
				<!-- ENDIF -->
				<!-- IF pagination.S_IS_NEXT -->
					<a class="btn btn-lg rounded-0 border-0" href="{pagination.PAGE_URL}" title="{L_NEXT}" rel="next" role="button"><i class="fa fa-step-forward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_NEXT}</span></a>
				<!-- ENDIF -->
			<!-- END pagination -->
			<!-- ENDIF -->

				<!-- EVENT viewtopic_body_pagination_top_after -->
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- EVENT viewtopic_body_poll_after -->

<!-- BEGIN postrow -->

	<!-- EVENT viewtopic_body_postrow_post_before -->
	<!-- IF postrow.S_FIRST_UNREAD -->
		<a id="unread" class="d-block"<!-- IF S_UNREAD_VIEW --> data-url="{postrow.U_MINI_POST}"<!-- ENDIF -->></a>
	<!-- ENDIF -->
	<!-- IF postrow.S_POST_HIDDEN -->
	<div id="post_hidden{postrow.POST_ID}" class="card mb-3">
		<div class="card-body ps-3 pt-2 pm-3 pb-2">
		<!-- IF postrow.S_POST_DELETED -->
			{postrow.L_POST_DELETED_MESSAGE}<br>
			{postrow.L_POST_DISPLAY}
		<!-- ELSEIF postrow.S_IGNORE_POST -->
			{postrow.L_IGNORE_POST}<br>
			{postrow.L_POST_DISPLAY}
		<!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->

	<div id="p{postrow.POST_ID}" class="card<!-- IF postrow.S_POST_UNAPPROVED --> border-success<!-- ENDIF --><!-- IF postrow.S_UNREAD_POST --> border-info<!-- ENDIF --><!-- IF postrow.S_POST_REPORTED --> border-warning<!-- ENDIF --><!-- IF postrow.S_POST_HIDDEN --> border-dark<!-- ENDIF --> mb-2 mb-md-3 shadow-sm"<!-- IF postrow.S_POST_HIDDEN --> style="display: none;"<!-- ENDIF -->>
		<div class="card-body p-0">
			<div class="row m-0">

				<div id="profile{postrow.POST_ID}" class="postprofile col-lg-3 col-md-4<!-- IF not $PROFILES_ON_LEFT --> order-first order-md-2<!-- ENDIF --> px-3 pb-3 bg2">
					<!-- IF postrow.S_ONLINE and not postrow.S_POST_HIDDEN -->
						<span class="badge bg-success text-uppercase online d-none d-md-block mx-auto rounded-0 rounded-bottom"><i class="fa fa-signal fa-fw" aria-hidden="true"></i> {L_ONLINE} <i class="fa fa-signal fa-flip-horizontal fa-fw" aria-hidden="true"></i></span>
					<!-- ENDIF -->

					<div class="text-center mb-2">
						<!-- EVENT viewtopic_body_avatar_before -->
						<!-- IF postrow.POSTER_AVATAR -->
						<div class="mt-3 me-3 me-md-0 float-start float-md-none">
						<!-- IF postrow.U_POST_AUTHOR --><a href="{postrow.U_POST_AUTHOR}" class="avatar">{postrow.POSTER_AVATAR}</a><!-- ELSE --><span class="avatar">{postrow.POSTER_AVATAR}</span><!-- ENDIF -->
						</div>
						<!-- ENDIF -->
						<!-- EVENT viewtopic_body_avatar_after -->

					<!-- IF not $PROFILE_POPUP_OFF and postrow.U_POST_AUTHOR -->
						<button class="btn btn-primary btn-sm position-relative d-block mx-auto mt-3 mb-1 float-end float-md-none" type="button" data-bs-toggle="modal" data-bs-target="#modal_post_{postrow.POST_ID}">
							<i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> {L_READ_PROFILE} <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill d-none d-md-inline-block" fill="#0d6efd" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
						</button>
					<!-- ENDIF -->

						<div class="mt-1 float-start float-md-none">
						<!-- EVENT viewtopic_body_post_author_before -->
						<!-- IF not postrow.U_POST_AUTHOR --><strong>{postrow.POST_AUTHOR_FULL}</strong><!-- ELSE -->{postrow.POST_AUTHOR_FULL}<!-- IF postrow.S_ONLINE and not postrow.S_POST_HIDDEN --> <i class="fa fa-circle text-success d-sm d-md-none" title="{L_ONLINE}" aria-hidden="true"></i><span class="visually-hidden">{L_ONLINE}</span><!-- ENDIF --><!-- ENDIF --><br>
						<!-- EVENT viewtopic_body_post_author_after -->

						<!-- EVENT viewtopic_body_postrow_rank_before -->
						<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><strong>{postrow.RANK_TITLE}</strong><!-- IF postrow.RANK_TITLE and postrow.RANK_IMG --><br><!-- ENDIF -->{postrow.RANK_IMG}<!-- ENDIF -->
						<!-- EVENT viewtopic_body_postrow_rank_after -->
						</div>
					</div>

				<!-- IF $PROFILE_POPUP_OFF -->
					<!-- IF postrow.POSTER_POSTS != '' --><div class="d-none d-md-block"><strong>{L_POSTS}{L_COLON}</strong><!-- IF postrow.U_SEARCH !== '' --> <a href="{postrow.U_SEARCH}"><!-- ENDIF -->{postrow.POSTER_POSTS}<!-- IF postrow.U_SEARCH !== '' --></a><!-- ENDIF --></div><!-- ENDIF -->
					<!-- IF postrow.POSTER_JOINED --><div class="d-none d-md-block"><strong>{L_JOINED}{L_COLON}</strong> {postrow.POSTER_JOINED}</div><!-- ENDIF -->
					<!-- IF postrow.POSTER_WARNINGS --><div class="d-none d-md-block"><strong>{L_WARNINGS}{L_COLON}</strong> {postrow.POSTER_WARNINGS}</div><!-- ENDIF -->


					<!-- IF postrow.S_PROFILE_FIELD1 -->
						<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<div class="d-none d-md-block"><strong>{postrow.PROFILE_FIELD1_NAME}{L_COLON}</strong> {postrow.PROFILE_FIELD1_VALUE}</div>
					<!-- ENDIF -->

					<!-- EVENT viewtopic_body_postrow_custom_fields_before -->
					<!-- BEGIN custom_fields -->
						<!-- IF not postrow.custom_fields.S_PROFILE_CONTACT -->
							<div class="profile-custom-field profile-{postrow.custom_fields.PROFILE_FIELD_IDENT} d-none d-md-block"><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}{L_COLON}</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</div>
						<!-- ENDIF -->
					<!-- END custom_fields -->
					<!-- EVENT viewtopic_body_postrow_custom_fields_after -->

					<!-- EVENT viewtopic_body_contact_fields_before -->
					<!-- IF not S_IS_BOT and .postrow.contact -->
						<div class="btn-group dropdown float-end float-md-none mt-2">
							<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{L_CONTACT}</button>
							<ul class="dropdown-menu dropdown-menu-<!-- IF not $PROFILES_ON_LEFT -->end<!-- ELSE -->start<!-- ENDIF --> dropdown-contents p-1">
							<!-- BEGIN contact -->
								<li>
									<a class="dropdown-item" href="<!-- IF postrow.contact.U_CONTACT -->{postrow.contact.U_CONTACT}<!-- ELSE -->{postrow.U_POST_AUTHOR}<!-- ENDIF -->"<!-- IF postrow.contact.ID eq 'jabber' --> onclick="popup(this.href, 750, 320); return false;"<!-- ENDIF -->>
									{% EVENT viewtopic_body_contact_icon_prepend %}
										<span class="{postrow.contact.ID}-icon"><i class="fa fa-<!-- IF postrow.contact.ID eq 'pm' -->user<!-- ELSEIF postrow.contact.ID eq 'email' -->envelope<!-- ELSEIF postrow.contact.ID eq 'phpbb_website' -->globe<!-- ELSEIF postrow.contact.ID eq 'icon_contact_jabber' -->lightbulb-o<!-- ELSEIF postrow.contact.ID eq 'phpbb_yahoo' -->yahoo<!-- ELSEIF postrow.contact.ID eq 'phpbb_facebook' -->facebook<!-- ELSEIF postrow.contact.ID eq 'phpbb_twitter' -->twitter<!-- ELSEIF postrow.contact.ID eq 'phpbb_skype' -->skype<!-- ELSEIF postrow.contact.ID eq 'phpbb_youtube' -->youtube<!-- ELSEIF postrow.contact.ID eq 'phpbb_googleplus' -->google-plus<!-- ELSEIF postrow.contact.ID eq 'phpbb_icq' -->asterisk<!-- ELSE -->comments<!-- ENDIF --> fa-fw"></i> {postrow.contact.NAME}</span>
									{% EVENT viewtopic_body_contact_icon_append %}
									</a>
								</li>
							<!-- END contact -->
							</ul>
						</div>
					<!-- ENDIF -->
					<!-- EVENT viewtopic_body_contact_fields_after -->
				<!-- ENDIF -->
				</div>

				<div class="postbody col-lg-9 col-md-8 p-0<!-- IF postrow.SIGNATURE --> bg2<!-- ELSE --> bg1<!-- ENDIF -->">
				<div class="vr h-100 float-<!-- IF not $PROFILES_ON_LEFT -->end<!-- ELSE -->start<!-- ENDIF --> d-none d-md-block"></div>
				<hr class="d-md-none m-0">

					<div id="post_content{postrow.POST_ID}">
						<!-- EVENT viewtopic_body_post_subject_before -->
						<!-- EVENT viewtopic_body_postrow_post_details_before -->
						<div class="postbody-before d-flex px-3 py-2 justify-content-between align-items-center bg2">
							<div>
							<!-- IF postrow.POST_ICON_IMG --><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" class="align-baseline" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="{L_IMAGE}" /> <!-- ENDIF -->
							<!-- IF postrow.POST_SUBJECT --><a href="{{ postrow.U_MINI_POST }}">{postrow.POST_SUBJECT}</a><br><!-- ENDIF -->
							<!-- IF S_IS_BOT -->
								<i class="fa<!-- IF postrow.S_UNREAD_POST --> fa-file<!-- ELSE --> fa-file-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span class="visually-hidden">{postrow.MINI_POST}</span>
							<!-- ELSE -->
								<a class="unread" href="{postrow.U_MINI_POST}" title="{postrow.MINI_POST}"><i class="fa<!-- IF postrow.S_UNREAD_POST --> fa-file<!-- ELSE -->  fa-file-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span class="visually-hidden">{postrow.MINI_POST}</span></a>
							<!-- ENDIF -->
								<time datetime="{postrow.POST_DATE_RFC3339}">{postrow.POST_DATE}</time>
							</div>
							<!-- EVENT viewtopic_body_postrow_post_details_after -->
					
					<!-- DEFINE $SHOW_POST_BUTTONS = (postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE) -->
					<!-- EVENT viewtopic_body_post_buttons_list_before -->
					<!-- IF not S_IS_BOT -->
						<!-- IF $SHOW_POST_BUTTONS -->
							<div class="ms-2">
								<div class="btn-group">
								<!-- EVENT viewtopic_body_post_buttons_before -->
								<!-- IF postrow.U_EDIT -->
									<a href="{postrow.U_EDIT}#postingbox" title="{L_EDIT_POST}" class="btn btn-secondary"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_EDIT}</span></a>
								<!-- ENDIF -->
								<!-- IF postrow.U_DELETE -->
									<a href="{postrow.U_DELETE}" title="{L_DELETE_POST}" class="btn btn-danger"><i class="fa fa-times fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_DELETE}</span></a>
								<!-- ENDIF -->
								<!-- IF postrow.U_REPORT -->
									<a href="{postrow.U_REPORT}" title="{L_REPORT_POST}" class="btn btn-secondary"><i class="fa fa-exclamation fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_REPORT}</span></a>
								<!-- ENDIF -->
								<!-- IF postrow.U_WARN -->
									<a href="{postrow.U_WARN}" title="{L_WARN_USER}" class="btn btn-warning"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_WARN}</span></a>
								<!-- ENDIF -->
								<!-- IF postrow.U_INFO -->
									<a href="{postrow.U_INFO}" title="{L_INFORMATION}" class="btn btn-secondary"><i class="fa fa-info fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_INFORMATION}</span></a>
								<!-- ENDIF -->
								<!-- IF postrow.U_QUOTE -->
									<a href="{postrow.U_QUOTE}#postingbox" title="{L_REPLY_WITH_QUOTE}" class="btn btn-secondary"><i class="fa fa-quote-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_BUTTON_QUOTE}</span></a>
								<!-- ENDIF -->
								<!-- EVENT viewtopic_body_post_buttons_after -->
								</div>
							</div>
						<!-- ENDIF -->
					<!-- ENDIF -->
					<!-- EVENT viewtopic_body_post_buttons_list_after -->
						</div>

						<div class="opacity-50"><hr class="m-0"></div>

						<div class="px-3 py-2 bg1">
						<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_DELETED or postrow.S_POST_REPORTED -->
							<div class="alert alert-warning">
								<form method="post" class="mcp_approve" action="{postrow.U_APPROVE_ACTION}">
								<!-- IF postrow.S_POST_UNAPPROVED -->
								<!-- IF postrow.S_CAN_APPROVE -->
									<strong>{L_POST_UNAPPROVED_ACTION}</strong>
									<button class="btn btn-danger mx-1" type="submit" value="{L_DISAPPROVE}" name="action[disapprove]"><i class="fa fa-thumbs-o-down fa-fw" aria-hidden="true"></i> {L_DISAPPROVE}</button>
									<button class="btn btn-success me-1" type="submit" value="{L_APPROVE}" name="action[approve]"><i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i> {L_APPROVE}</button>
									<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
									{S_FORM_TOKEN}
								<!-- ELSE -->
									<i class="fa fa-exclamation fa-fw text-danger" aria-hidden="true"></i> <strong>{L_POST_UNAPPROVED_EXPLAIN}</strong>
								<!-- ENDIF -->
								<!-- ELSEIF postrow.S_POST_DELETED -->
									<strong>{L_POST_DELETED_ACTION}</strong>
									<!-- IF postrow.S_DELETE_PERMANENT -->
									<button class="btn btn-danger mx-1" type="submit" value="{L_DELETE}" name="action[delete]"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> {L_DELETE}</button>
									<!-- ENDIF -->
									<button class="btn btn-success me-1" type="submit" value="{L_RESTORE}" name="action[restore]"><i class="fa fa-recycle fa-fw" aria-hidden="true"></i> {L_RESTORE}</button>
									<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
									{S_FORM_TOKEN}
								<!-- ENDIF -->
								<!-- IF postrow.S_POST_REPORTED -->
									<a class="btn btn-warning me-1" href="{postrow.U_MCP_REPORT}"><i class="fa fa-exclamation fa-fw icon-red" aria-hidden="true"></i> {L_POST_REPORTED}</a>
								<!-- ENDIF -->
								</form>
							</div>
						<!-- ENDIF -->

							<div class="content pb-2">{postrow.MESSAGE}</div>

							<!-- EVENT viewtopic_body_postrow_content_after -->

							<!-- IF postrow.S_HAS_ATTACHMENTS -->
								<div class="my-1 text-uppercase">{L_ATTACHMENTS}</div>
								<div class="row<!-- IF $ATTACHMENT_COLUMNS eq 3 --> row-cols-lg-3 row-cols-md-2 row-cols-1<!-- ELSEIF $ATTACHMENT_COLUMNS eq 2 --> row-cols-lg-2 row-cols-1<!-- ELSE --> flex-column<!-- ENDIF -->">
								<!-- BEGIN attachment -->
									<div class="col d-flex">
										<div class="card mb-3<!-- IF $ATTACHMENT_COLUMNS --> w-100<!-- ENDIF -->">
											<div class="card-body p-2">
												{postrow.attachment.DISPLAY_ATTACHMENT}
											</div>
										</div>
									</div>
								<!-- END attachment -->
								</div>
							<!-- ENDIF -->

							<!-- EVENT viewtopic_body_postrow_post_notices_before -->
							<!-- IF postrow.S_DISPLAY_NOTICE -->
								<div class="alert alert-warning">{L_DOWNLOAD_NOTICE}</div>
							<!-- ENDIF -->
							<!-- IF postrow.DELETED_MESSAGE or postrow.DELETE_REASON -->
								<div class="alert alert-danger post_deleted_msg">
									{postrow.DELETED_MESSAGE}
									<!-- IF postrow.DELETE_REASON --><br><strong>{L_REASON}{L_COLON}</strong> <em>{postrow.DELETE_REASON}</em><!-- ENDIF -->
								</div>
							<!-- ELSEIF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
								<div class="alert alert-info">
									{postrow.EDITED_MESSAGE}
									<!-- IF postrow.EDIT_REASON --><br><strong>{L_REASON}{L_COLON}</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
								</div>
							<!-- ENDIF -->

							<!-- IF postrow.BUMPED_MESSAGE --><div class="alert alert-info">{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
							<!-- EVENT viewtopic_body_postrow_post_notices_after -->

							<!-- EVENT viewtopic_body_postrow_post_content_footer -->
						</div>

						{% EVENT viewtopic_body_postrow_signature_before %}
					<!-- IF postrow.SIGNATURE -->
						<div class="opacity-50 d-none d-md-block"><hr class="m-0"></div>
						<div id="sig{postrow.POST_ID}" class="postbody-after d-none d-md-block px-3 py-2 small">{postrow.SIGNATURE}</div>
					<!-- ENDIF -->
						{% EVENT viewtopic_body_postrow_signature_after %}
					</div>
				</div>

			</div>
		</div>
		<!-- EVENT viewtopic_body_postrow_back2top_before -->

		<!-- EVENT viewtopic_body_postrow_back2top_prepend -->
		<!-- EVENT viewtopic_body_postrow_back2top_append -->

		<!-- EVENT viewtopic_body_postrow_back2top_after -->
	</div>

	<!-- EVENT viewtopic_body_postrow_post_after -->

<!-- IF not ($PROFILE_POPUP_OFF and S_IS_BOT) -->
	<div id="modal_post_{postrow.POST_ID}" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{L_READ_PROFILE} - {postrow.POST_AUTHOR}</h5>
					<button type="button" class="btn-close" title="{L_CLOSE_WINDOW}" data-bs-dismiss="modal" aria-label="{L_CLOSE_WINDOW}"></button>
				</div>

				<div class="modal-body bg1<!-- IF not .postrow.contact --> rounded-bottom<!-- ENDIF -->">
					<div class="row d-flex align-items-center">
						<div class="col-4 d-flex align-items-center justify-content-center">
						<!-- IF postrow.POSTER_AVATAR -->{postrow.POSTER_AVATAR}<!-- ELSE --><img class="img-thumbnail rounded-circle" src="{ROOT_PATH}styles/bootlike/theme/images/no_avatar.gif" alt="{L_IMAGE}" /><!-- ENDIF -->
						</div>
						<div class="col-8">
						<!-- IF postrow.POSTER_POSTS != '' --><div><strong>{L_POSTS}{L_COLON}</strong> <!-- IF postrow.U_SEARCH !== '' --><a href="{postrow.U_SEARCH}"><!-- ENDIF -->{postrow.POSTER_POSTS}<!-- IF postrow.U_SEARCH !== '' --></a><!-- ENDIF --></div><!-- ENDIF -->
						<!-- IF postrow.POSTER_JOINED --><div><strong>{L_JOINED}{L_COLON}</strong> {postrow.POSTER_JOINED}</div><!-- ENDIF -->
						<!-- IF postrow.POSTER_WARNINGS --><div><strong>{L_WARNINGS}{L_COLON}</strong> {postrow.POSTER_WARNINGS}</div><!-- ENDIF -->

						<!-- EVENT viewtopic_body_postrow_custom_fields_before -->
						<!-- BEGIN custom_fields -->
							<!-- IF not postrow.custom_fields.S_PROFILE_CONTACT -->
								<div class="profile-custom-field profile-{postrow.custom_fields.PROFILE_FIELD_IDENT}"><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}{L_COLON}</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</div>
							<!-- ENDIF -->
						<!-- END custom_fields -->
						<!-- EVENT viewtopic_body_postrow_custom_fields_after -->

						<!-- IF postrow.S_PROFILE_FIELD1 -->
							<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
							<div><strong>{postrow.PROFILE_FIELD1_NAME}{L_COLON}</strong> {postrow.PROFILE_FIELD1_VALUE}</div>
						<!-- ENDIF -->
						</div>
					</div>
				</div>
				
				<!-- IF .postrow.contact -->
				<div class="modal-footer justify-content-center">
				<!-- EVENT viewtopic_body_contact_fields_before -->
					<!-- BEGIN contact -->
					{% EVENT viewtopic_body_contact_icon_prepend %}
					<a class="text-decoration-none" href="<!-- IF postrow.contact.U_CONTACT -->{postrow.contact.U_CONTACT}<!-- ELSE -->{postrow.U_POST_AUTHOR}<!-- ENDIF -->"<!-- IF postrow.contact.ID eq 'jabber' --> onclick="popup(this.href, 750, 320); return false;"<!-- ENDIF --> title="{postrow.contact.NAME}">
						<div class="p-1 rounded-circle alert-primary shadow-sm">
							<div class="contact-button d-flex align-items-center justify-content-center rounded-circle border border-4 border-white fs-5 alert-primary" style="width: 48px; height: 48px;">
								<i class="fa fa-<!-- IF postrow.contact.ID eq 'pm' -->user<!-- ELSEIF postrow.contact.ID eq 'email' -->envelope<!-- ELSEIF postrow.contact.ID eq 'phpbb_website' -->globe<!-- ELSEIF postrow.contact.ID eq 'icon_contact_jabber' -->lightbulb-o<!-- ELSEIF postrow.contact.ID eq 'phpbb_yahoo' -->yahoo<!-- ELSEIF postrow.contact.ID eq 'phpbb_facebook' -->facebook<!-- ELSEIF postrow.contact.ID eq 'phpbb_twitter' -->twitter<!-- ELSEIF postrow.contact.ID eq 'phpbb_skype' -->skype<!-- ELSEIF postrow.contact.ID eq 'phpbb_youtube' -->youtube<!-- ELSEIF postrow.contact.ID eq 'phpbb_googleplus' -->google-plus<!-- ELSEIF postrow.contact.ID eq 'phpbb_icq' -->asterisk<!-- ELSE -->comments<!-- ENDIF --> fa-fw"></i>
							</div>
						</div>
					</a>
					{% EVENT viewtopic_body_contact_icon_append %}
					<!-- END contact -->
				<!-- EVENT viewtopic_body_contact_fields_after -->
				</div>
				<!-- ENDIF -->

			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- END postrow -->

<!-- IF S_QUICK_REPLY -->
	<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->

<!-- EVENT viewtopic_body_topic_actions_before -->

<!-- IF not S_IS_BOT -->
	<div class="card mb-3 shadow-sm">
		<div class="action-bar d-sm-flex justify-content-between bg1">
			<div class="d-flex">
			<!-- EVENT viewtopic_buttons_top_before -->
			<!-- IF S_DISPLAY_REPLY_INFO -->
				<a href="{U_POST_REPLY_TOPIC}#postingbox" class="btn btn-lg rounded-0 border-0<!-- IF S_IS_LOCKED --> text-muted<!-- ENDIF -->"><i class="fa<!-- IF S_IS_LOCKED --> fa-lock<!-- ELSE --> fa-reply<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> fa-flip-horizontal<!-- ENDIF --><!-- ENDIF --> fa-fw" aria-hidden="true"></i><span class="text-nowrap"> <!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF --></span></a>
			<!-- ENDIF -->
			<!-- EVENT viewtopic_buttons_top_after -->

			<!-- EVENT viewtopic_topic_tools_before -->
			<!-- EVENT viewtopic_topic_tools_after -->
			<!-- EVENT viewtopic_dropdown_top_custom -->

			<!-- IF S_NUM_POSTS > 1 or .pagination -->
				<form method="post" action="{S_TOPIC_ACTION}">
				<!-- INCLUDE display_options.html -->
				</form>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_SEARCHBOX -->
				<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_SEARCH}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
					<div class="dropdown-menu dropdown-menu-start" role="search">
						<div class="input-group input-group px-2">
							<input class="form-control" type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_TOPIC}" />
							<button class="btn btn-secondary" type="submit" title="{L_SEARCH}"><i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
						</div>
					</div>
					{S_SEARCH_LOCAL_HIDDEN_FIELDS}
				</form>
			<!-- ENDIF -->
			</div>

			<!-- IF TOTAL_POSTS or TOTAL_TOPICS -->
			<div class="btn btn-lg d-none d-lg-block disabled fs-6 mt-1 text-nowrap border-0">
				{TOTAL_POSTS} &bull; <span class="fw-normal">{PAGE_NUMBER}</span>
			</div>
			<!-- ENDIF -->

			<div class="d-flex">
			<!-- IF S_VIEWTOPIC -->
				<a href="{U_VIEW_FORUM}" class="btn btn-lg rounded-0 border-0" title="{L_RETURN_TO_FORUM}" accesskey="r"><i class="fa fa-chevron-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			<!-- IF .quickmod -->
				<div class="d-flex">
					<div id="quickmod" class="btn-group dropdown">
						<button type="button" class="btn btn-lg dropdown-toggle rounded-0 border-0" data-bs-toggle="dropdown" aria-expanded="false" title="{L_QUICK_MOD}"><i class="fa fa-gavel fa-fw"></i><span class="visually-hidden">{L_QUICK_MOD}</span></button>
						<ul class="dropdown-menu dropdown-menu-end dropdown-contents p-1">
						<!-- BEGIN quickmod -->
							<!-- DEFINE $QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) -->
							<li><a class="dropdown-item" href="{quickmod.LINK}"<!-- IF $QUICKMOD_AJAX --> data-ajax="true" data-refresh="true"<!-- ENDIF -->>{quickmod.TITLE}</a></li>
						<!-- END quickmod -->
						</ul>
					</div>
				</div>
			<!-- ENDIF -->

			<!-- IF MODERATORS -->
				<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="<!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-user-secret fa-fw"></i><span class="visually-hidden">{forumrow.L_MODERATOR_STR}</span>
				</button>
				<div class="dropdown-menu dropdown-menu-end">
					<div class="px-3">{MODERATORS}</div>
				</div>
			<!-- ENDIF -->

			<!-- IF U_VIEW_UNREAD_POST -->
				<a href="{U_VIEW_UNREAD_POST}" class="btn btn-lg rounded-0 border-0" title="{L_VIEW_UNREAD_POST}"><i class="fa fa-file" aria-hidden="true"></i></a>
			<!-- ENDIF -->

			<!-- IF .pagination -->
			<!-- IF BASE_URL and TOTAL_PAGES > 3 -->
				<div class="dropdown-form">
					<button class="btn dropdown-toggle btn-lg rounded-0 border-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_JUMP_TO_PAGE}</span></button>
					<div class="dropdown-menu dropdown-menu-end p-2">
						{L_JUMP_TO_PAGE}{L_COLON}
						<div class="input-group my-2">
							<input class="form-control" type="number" name="page-number" title="{L_JUMP_PAGE}" data-per-page="{PER_PAGE}" data-base-url="{BASE_URL|e('html_attr')}" data-start-name="{START_NAME}" />
							<input class="btn btn-secondary" value="{L_GO}" type="button" />
						</div>
						<!-- INCLUDE pagination.html -->
					</div>
				</div>
			<!-- ENDIF -->

			<!-- BEGIN pagination -->
				<!-- IF pagination.S_IS_PREV -->
					<a class="btn btn-lg rounded-0 border-0" href="{pagination.PAGE_URL}" title="{L_PREVIOUS}" rel="prev" role="button"><i class="fa fa-step-backward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_PREVIOUS}</span></a>
				<!-- ENDIF -->
				<!-- IF pagination.S_IS_NEXT -->
					<a class="btn btn-lg rounded-0 border-0" href="{pagination.PAGE_URL}" title="{L_NEXT}" rel="next" role="button"><i class="fa fa-step-forward fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_NEXT}</span></a>
				<!-- ENDIF -->
			<!-- END pagination -->
			<!-- ENDIF -->

				<!-- EVENT viewtopic_body_pagination_top_after -->
			</div>
		</div>
	</div>
<!-- ENDIF -->


<!-- EVENT viewtopic_body_footer_before -->

{% EVENT viewtopic_body_online_list_before %}

<!-- IF S_DISPLAY_ONLINE_LIST and U_VIEWONLINE -->
<div class="mb-3">
	<ul class="nav nav-tabs" role="tablist">
	<!-- IF S_DISPLAY_ONLINE_LIST -->
		<li class="nav-item d-md-grid col-md-3 text-center">
			<a class="nav-item nav-link active disabled" data-bs-toggle="tab" href="#nav_online" role="tab" aria-controls="nav_online" aria-selected="true"><i class="fa fa-signal fa-fw d-none d-md-inline-block" aria-hidden="true"></i> {L_WHO_IS_ONLINE}</a>
		</li>
	<!-- ENDIF -->
	</ul>

	<div class="card tab-content p-3 border-top-0 shadow-sm">
	<!-- IF S_DISPLAY_ONLINE_LIST -->
		<div class="tab-pane fade show active" id="nav_online" role="tabpanel" aria-labelledby="nav_online-tab">
			{LOGGED_IN_USER_LIST}
		</div>
	<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
