<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex" />
{META}
<title>{SITENAME} &bull; {PAGE_TITLE}</title>
<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{ROOT_PATH}styles/bootlike/theme/stylesheet.css" rel="stylesheet">
<style>
a {color: #212529 !important;}
.card.blockquote {border-width: 1px;}
.codebox pre {max-height: 100%; white-space: pre-wrap;}
.blockquote .blockquote, .blockquote .blockquote .blockquote {filter: brightness(100%);}
</style>
<!-- EVENT viewtopic_print_head_append -->
</head>
<body class="{S_CONTENT_DIRECTION}">
	<div class="container-fluid p-3">

		<h1>{SITENAME}</h1>
		<div>{SITE_DESCRIPTION}</div>
		<p><a href="{U_FORUM}">{U_FORUM}</a></p>

		<h4>{L_TOPIC_TITLE} - {TOPIC_TITLE}</h4>
		<p><a href="{U_TOPIC}">{U_TOPIC}</a></p>

		<div class="my-2">{PAGE_NUMBER}</div>
		<!-- BEGIN postrow -->
		<div class="card mb-3">
			<div class="card-header col-12 d-flex justify-content-between bg-transparent">
				{postrow.POST_SUBJECT} - {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR}
				<div>{L_POSTED}{L_COLON} {postrow.POST_DATE}</div>
			</div>
			<div class="card-body">
				<div>{postrow.MESSAGE}</div>
			</div>
		</div>
		<!-- END postrow -->

		<div>{S_TIMEZONE}<br>{PAGE_NUMBER}</div>
		<div>{{ CREDIT_LINE }}{% if TRANSLATION_INFO %}</br>{{ TRANSLATION_INFO }}{% endif %}</div>
	</div>

</body>
</html>
