<!-- INCLUDE overall_header.html -->

<h4>{TOTAL_REGISTERED_USERS_ONLINE}</h4>
<p>{TOTAL_GUEST_USERS_ONLINE}<!-- IF S_SWITCH_GUEST_DISPLAY --> &bull; <a href="{U_SWITCH_GUEST_DISPLAY}">{L_SWITCH_GUEST_DISPLAY}</a><!-- ENDIF --></p>

<!-- IF TOTAL_PAGES > 1 -->
<div class="card mb-3">
	<div class="action-bar d-sm-flex justify-content-between bg1">
		<div class="d-flex">&nbsp;</div>

		<div class="btn btn-lg disabled fs-6 mt-1 text-nowrap border-0">
			<span class="fw-normal">{PAGE_NUMBER}</span>
		</div>

		<div class="d-flex">
		<!-- IF .pagination -->
			<button class="btn dropdown-toggle btn-lg rounded-0" title="{L_JUMP_TO_PAGE}" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clone fa-fw" aria-hidden="true"></i><span class="visually-hidden">{L_SEARCH}</span></button>
			<div class="dropdown-menu dropdown-menu-end">
				<div class="input-group px-2">
					<!-- INCLUDE pagination.html -->
				</div>
			</div>
		<!-- ENDIF -->
		</div>
	</div>
</div>
<!-- ENDIF -->

<div id="team" class="card mb-3 pb-1">
	<div class="card-header d-none d-md-block">
		<div class="row">
			<div class="col-12 col-md-6"><a href="{U_SORT_USERNAME}">{L_USERNAME}</a></div>
			<div class="col-12 col-md-3"><a href="{U_SORT_LOCATION}">{L_FORUM_LOCATION}</a></div>
			<div class="col-12 col-md-3"><a href="{U_SORT_UPDATED}">{L_LAST_UPDATED}</a></div>
		</div>
	</div>
<!-- BEGIN user_row -->
	<div class="row m-0 mt-1 p-1 align-items-center bg1">
		<div class="col-12 col-md-6 py-2 d-md-flex justify-content-md-between">
			<div>
				<span class="badge bg-secondary d-md-none">{L_USERNAME}{L_COLON}</span><!-- EVENT viewonline_body_username_prepend --> {user_row.USERNAME_FULL} <!-- EVENT viewonline_body_username_append -->
			<!-- IF user_row.USER_BROWSER -->
				<br>{user_row.USER_BROWSER}
			<!-- ENDIF -->
			</div>
			<div>
			<!-- IF user_row.USER_IP and (not $HIDE_USER_IP or U_ACP) -->
				<span class="badge bg-secondary d-md-none">{L_IP}{L_COLON}</span> <span class="d-sm-none d-md-inline">{L_IP}{L_COLON}</span> <a href="{user_row.U_USER_IP}">{user_row.USER_IP}</a> <br class="d-sm-none d-md-block" /><a href="{user_row.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a>
			<!-- ELSE -->
				&nbsp;
			<!-- ENDIF -->
			</div>
		</div>
		<div class="col-12 col-md-3 py-2">
			<span class="badge bg-secondary d-md-none">{L_FORUM_LOCATION}{L_COLON}</span> 
			<a href="{user_row.U_FORUM_LOCATION}">{user_row.FORUM_LOCATION}</a>
		</div>
		<div class="col-12 col-md-3 py-2">
			<span class="badge bg-secondary d-md-none">{L_LAST_UPDATED}{L_COLON}</span> 
			{user_row.LASTUPDATE}
		</div>
	</div>
<!-- BEGINELSE -->
	<div class="mt-1 px-3 py-2 text-center bg2">{L_NO_ONLINE_USERS}<!-- IF S_SWITCH_GUEST_DISPLAY --> &bull; <a href="{U_SWITCH_GUEST_DISPLAY}">{L_SWITCH_GUEST_DISPLAY}</a><!-- ENDIF --></div>
<!-- END user_row -->
</div>

<!-- IF LEGEND --><p>{L_LEGEND}{L_COLON} {LEGEND}</p><!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
