.custom-bg-white {background-color: #fff;}
.custom-bg-light {background-color: #f8f9fa;}
.custom-bg-dark {background-color: #212529;}
.custom-text-light {color: #f8f9fa;}
.custom-text-dark {color: #212529;}
.custom-border {border: 1px solid #dee2e6 !important;}
.custom-border-top {border-top: 1px solid #dee2e6 !important;}
.custom-border-bottom {border-bottom: 1px solid #dee2e6 !important;}
.custom-border-start {border-left: 1px solid #dee2e6 !important;}
.custom-border-end {border-right: 1px solid #dee2e6 !important;}
.custom-border-white {border-color: #fff !important;}
.bg1 {background-color: #fcfcfc;}
.bg2 {background-color: #f2f2f2;}
hr {background: linear-gradient(to right, #ccc, #555, #ccc);}
hr:after {background: #fff;}
.row-item .folder:before {background-color: #e1e1e1;}
.row-item .folder:before, .row-item .folder:after {color: #bbb; text-shadow: 1px 1px 1px #fff;}
.contact-button:hover {border-color: #cfe2ff !important;}
blockquote:before {opacity: .1;}
.action-bar .btn:hover, .accordion-button:hover, .accordion-button:not(.collapsed), .btn.bg-white:hover {
	color: #0c63e4;
	background-color: #eee !important;
}