.custom-bg-white {background-color: #fff;}
.custom-bg-light {background-color: #f8f9fa;}
.custom-bg-dark {background-color: #212529;}
.custom-text-light {color: #f8f9fa;}
.custom-text-dark {color: #212529;}
.custom-border {border: 1px solid transparent;}
.custom-border-top {border-top: 1px solid transparent;}
.custom-border-bottom {border-bottom: 1px solid transparent;}
.custom-border-start {border-left: 1px solid transparent;}
.custom-border-end {border-right: 1px solid transparent;}
.custom-border,
.custom-border-top,
.custom-border-bottom,
.custom-border-start,
.custom-border-end,
.img-thumbnail {border-color: #dee2e6;}
.custom-border-white {border: 4px solid #fff;}
.contact-button:hover {border-color: #cfe2ff;}
.bi-caret-down-fill {fill: #0d6efd;}
.bg1 {background-color: #fcfcfc;}
.bg2, .action-bar .btn:hover, #format-buttons .btn:hover {background-color: #f2f2f2;}
.card-title {border-image: linear-gradient(to right, #6c757d 40%, #d3d3d3 40%, #d3d3d3 75%) 4;}
hr {background: linear-gradient(to right, #ccc, #555, #ccc);}
hr:after {background: #fff;}
.row-item .folder:before {background-color: #e1e1e1;}
.row-item .folder:before, .row-item .folder:after {
	color: #bbb;
	text-shadow: 1px 1px 1px #fff;
	-webkit-text-stroke: 1px #ddd;
}
blockquote:before {opacity: .1;}
.action-bar .btn:hover, .accordion-button:hover, .accordion-button:not(.collapsed), .btn.custom-bg-white:hover {
	color: #0c63e4;
	background-color: #fcfcfc;
}