:root {
	--dark-bg: #171b24;
	--body-bg: #242a36;
	--body-color: #aaa;
	--navbar-bg: #343a46;
	--card-bg: #1f242e;
	--card-body-color: #eee;
	--border-color: rgba(255,255,255,0.07);
	--info-bg: #0fc2e6;
	--warning-bg: #f89406;
	--danger-bg: #ee5f5b;
	--link-color: #fff;
	--link-hover-color: #ccc;
	--active-bg: #0d6efd;
}

.dark, .dark .popover {
	background-color: var(--body-bg);
}

.dark .header {
	background-color: var(--dark-bg);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 310.14Q66.51 256.65%2c 120 323.16Q135.74 266.9%2c 192 282.65Q240.96 259.61%2c 264 308.56Q349.44 274%2c 384 359.44Q385.5 288.94%2c 456 290.45Q521.25 235.7%2c 576 300.96Q634.52 287.49%2c 648 346.01Q678 256.01%2c 768 286.02Q815.23 261.25%2c 840 308.48Q918.2 266.69%2c 960 344.89Q990.83 255.72%2c 1080 286.55Q1159.72 246.27%2c 1200 326Q1277.45 283.45%2c 1320 360.9Q1329.1 298%2c 1392 307.1Q1463.67 258.77%2c 1512 330.44z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 353.72Q67.9 349.63%2c 72 417.53Q111.35 336.88%2c 192 376.23Q219.72 331.95%2c 264 359.66Q344.75 320.42%2c 384 401.17Q456.72 353.89%2c 504 426.61Q526.5 329.11%2c 624 351.6Q665.98 321.58%2c 696 363.55Q747.5 343.05%2c 768 394.55Q827.88 382.43%2c 840 442.3Q861.92 344.22%2c 960 366.14Q1036.86 323%2c 1080 399.86Q1161.87 361.73%2c 1200 443.59Q1245.04 368.63%2c 1320 413.66Q1365.82 339.48%2c 1440 385.3Q1526 351.3%2c 1560 437.3z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 429.78Q57.64 367.42%2c 120 425.07Q191.67 424.74%2c 192 496.41Q241.43 425.84%2c 312 475.27Q367.01 458.28%2c 384 513.29Q430.62 439.9%2c 504 486.52Q529.58 440.1%2c 576 465.67Q626 395.67%2c 696 445.67Q788.89 418.56%2c 816 511.45Q826.55 450%2c 888 460.55Q917.69 418.25%2c 960 447.94Q983.14 399.09%2c 1032 422.23Q1097.21 367.44%2c 1152 432.65Q1198.43 407.08%2c 1224 453.51Q1299.13 408.64%2c 1344 483.78Q1385.03 452.81%2c 1416 493.84Q1485.72 443.56%2c 1536 513.29z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 552.76Q55.32 488.08%2c 120 543.4Q165.82 517.22%2c 192 563.05Q200.31 499.36%2c 264 507.66Q335.37 459.03%2c 384 530.41Q466.17 492.58%2c 504 574.74Q536.29 487.03%2c 624 519.32Q647.91 471.24%2c 696 495.15Q750.48 477.63%2c 768 532.11Q852.81 496.92%2c 888 581.74Q888.36 510.1%2c 960 510.45Q1010.14 440.59%2c 1080 490.72Q1167.58 458.3%2c 1200 545.88Q1254.98 480.86%2c 1320 535.84Q1402.88 498.72%2c 1440 581.6Q1460.3 529.9%2c 1512 550.21z' fill='rgba(31%2c 36%2c 46%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.dark .btn.btn-lg:hover, .dark #format-buttons .btn:hover, .dark .popover-header {
	background-color: var(--dark-bg) !important;
}

.dark body, .dark .modal-content, .dark .page-link, .dark .text-bg-light, .dark .progress, .dark .form-select, .dark select {
	color: var(--body-color) !important;
	background-color: var(--body-bg) !important;
}

.dark .card, .dark .bg-white, .dark .timeline-post:before, .dark .dropdown-menu {
	background-color: var(--card-bg) !important;
	border-color: var(--border-color) !important;
}

.dark .card-body, .dark .btn.btn-lg, .dark .dropdown-menu, .dark .accordion-body, .dark .popover-body {
	color: var(--card-body-color);
}

.dark .card-header {
	color: var(--card-body-color);
	background-color: var(--dark-bg) !important;
}

.dark .btn-close, .dark .btn .disabled, .dark .navbar-toggler {
	background-color: var(--body-color) !important;
}

.dark .card-footer {
	background-color: var(--body-bg) !important;
}

.dark .offcanvas-header {
	background-color: var(--dark-bg);
}

.dark .offcanvas-body, .dark .list-group-item-action:hover {
	background-color: var(--card-bg) !important;
}

.dark a {
	color: var(--link-color);
}

.dark a:hover, .dark a:active, .dark a:focus {
	color: var(--link-hover-color);
}

.dark .fancyhr {
	background: linear-gradient(to right, #333, #bbb, #333);
}

.dark .fancyhr:after {
	background: var(--card-bg);
}

.dark .list-group-item {
	color: var(--body-color);
	background-color: var(--body-bg) !important;
	border-color: var(--border-color);
}

.dark .list-group-item.active {
	background-color: var(--dark-bg) !important;
}

.dark .list-group-item .jumpbox a, .dark .list-group-item .jumpbox a:hover {
	color: var(--card-body-color);
}

.dark .dropdown-menu .dropdown-item:hover {
	background-color: var(--body-bg) !important;
}

.dark .bg1 {
	background-color: var(--navbar-bg) !important;
}

.dark .bg2, .dark .card.bg2, .dark .action-bar, .dark .btn.btn-lg {
	background-color: var(--body-bg) !important;
}

.dark .notification-block.bg-info {
	background-color: var(--info-bg) !important;
}

.dark .alert {
	border-color: var(--dark-bg);
}

.dark .alert-primary {
	background-color: var(--dark-bg);
}

.dark .contact-button:hover .alert-primary {
	border-color: var(--dark-bg) !important;
}

.dark .alert-warning {
	color: var(--link-color);
	background-color: var(--warning-bg);
}

.dark .alert-danger {
	color: var(--link-color);
	background-color: var(--danger-bg);
}

.dark .img-thumbnail {
	background-color: var(--card-bg);
	border-color: var(--dark-bg) !important;
}

.dark .page-footer {
	background-color: var(--body-bg);
}

.dark .footer-links {
	background-color: var(--navbar-bg);
}

.dark .footer-links .list-group-item {
	background: none !important;
}

.dark .bs-popover-top > .popover-arrow::after, .dark .bs-popover-auto[data-popper-placement^=top] > .popover-arrow::after {
	border-top-color: var(--body-bg);
}

.dark .bs-popover-end > .popover-arrow::after, .dark .bs-popover-auto[data-popper-placement^=right] > .popover-arrow::after {
	border-right-color: var(--body-bg);
}

.dark .bs-popover-bottom > .popover-arrow::after, .dark .bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::after {
	border-bottom-color: var(--body-bg);
}

.dark .bs-popover-start > .popover-arrow::before, .dark .bs-popover-auto[data-popper-placement^=left] > .popover-arrow::before {
	border-left-color: var(--body-bg);
}

.dark .border, .dark .border-start, .dark .border-top, .dark .border-end, .dark .border-bottom, .dark .modal-header, .dark .modal-footer, .dark .page-link, .dark .dropdown-divider {
	border-color: var(--border-color) !important;
}

.dark .border-white {
	border-color: var(--card-bg) !important;
}

.dark .nav-tabs .nav-link.active {
	color: var(--body-color);
	background-color: var(--card-bg);
	border-color: var(--border-color);
	border-bottom-color: transparent !important;
}

.dark .nav-link:hover, .dark .form-select, .dark select {
	border-color: var(--border-color);
}

.dark .active > .page-link {
	background-color: var(--active-bg) !important;
}

.dark .input-group-text {
	color: var(--body-color);
	background-color: var(--navbar-bg);
	border-color: var(--border-color);
}

.dark .form-select, .dark select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='lightgray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.dark .accordion-button:not(.collapsed) {
	box-shadow: 0 0 0 0.25rem rgba(58, 63, 68, 0.25);
}

.dark .timeline-postbody:after {
	border-color: transparent var(--card-bg) transparent transparent;
}

.dark .row-item .folder:before {
	background-color: var(--card-bg);
}

.dark .row-item .folder:before, .dark .row-item .folder:after {
	text-shadow: 1px 1px 1px #000;
	-webkit-text-stroke: 1px #555;
	border-color: var(--dark-bg);
}

.dark .row-item[class*="unread"] .folder:before, .dark .row-item[class*="unread"] .folder:after {
	-webkit-text-stroke: 1px #a80202;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(150, 150, 150, 0.4);
	}
	100% {
		box-shadow: 0 0 0 8px rgba(102, 102, 102, 0);
	}
}

.dark .light-mode {
	display: none;
}

.dark .dark-mode {
	display: inline;
}