@import url("../../bootlike/theme/custom.css");
@import url("../../bootlike/theme/imageset.css");
@import url("bootstrap.min.css");
.bg-white, .bg1, .timeline-post:before, .timeline-icon, .btn.tabs:hover {background-color: #42484e !important;}
.bg2, .card.bg2, .action-bar .btn.btn-lg:hover, #format-buttons .btn:hover {background-color: #33373b;}
.row-item .folder:before {background-color: #666;}
.row-item .folder:before, .row-item .folder:after {text-shadow: 1px 1px 1px #444; -webkit-text-stroke: 1px #555; border-color: #444;}
.card.blockquote{border-color: #222 !important;}
select, input.inputbox {padding-top: 0.75rem; padding-bottom: 0.75rem;}
.border, .border-end, .border-top, .border-start, .border-bottom, .contact-button:hover .alert-primary {border-color: #3a3f44 !important;}
.border-white, .img-thumbnail {border-color: #666 !important;}
.fancyhr {background: linear-gradient(to right, #555, #ccc, #555);}
.fancyhr:after {background: #32383e;}
.bi-caret-down-fill {fill: #222;}
.timeline-icon {border-color: #42484e;}
.timeline-postbody:after {border-color: transparent #42484e transparent transparent;}
.rtl .timeline-postbody:after {border-color: transparent transparent transparent #42484e;}
@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(243, 243, 243, 0.4);
	}
	100% {
		box-shadow: 0 0 0 8px rgba(102, 102, 102, 0);
	}
}